<template lang="html">
  <CModal
    title="Add New Location"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="Name"
      placeholder="Enter Name of the Location"
      v-model="name"
    />
    <CSelect
        label="Select ParentLocation Name"
        custom
        @update:value="change"
        :options="options"
        placeholder="Please select"
      />
      <!-- <CInput
      label="Black"
      placeholder="Enter Name the Black Count"
      v-model="black"
    />
     <CInput
      label="Red"
      placeholder="Enter Name the Red Count"
      v-model="red"
    />
     <CInput
      label="Yellow"
      placeholder="Enter Name the Yellow Count"
      v-model="yellow"
    />
     <CInput
      label="Green"
      placeholder="Enter Name the Green Count"
      v-model="green"
    />
     <CInput
      label="Blue"
      placeholder="Enter Name the Blue Count"
      v-model="blue"
    /> -->
    
    <template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="add" color="success" >Add</CButton>
    </template>
  </CModal>
</template>

<script>
import * as apis from '@/utils/api/locations'

export default {
  data () {
    return {
      error: null,
      name: null,
      black:null,
      red:null,
      yellow:null,
      green:null,
      blue:null,
      parentlocationid : null,
      //parent :null,
      options:[],
      //location:null,
      modalVisible: false
    }
  },

  mounted(){
    apis.allLocationList()
    .then(response=>{
          let data = response.data.payload;
          console.log("data is ",data)
          if(data.length>0){
          data.map(item=>
              this.options.push({value:item._id,label:item.name}));
        
           // console.log('push array')
            
           
          } else{ 
           this.error  = "Please select LocationParent!";
          }
        })
        .catch(err=>{
          this.error = err.message
        })


},
  methods: {
  change:function(value){
                  let parentlocationid = null;
                  this.parentlocationid = value;
                  console.log(value)
          },
    show: function() {
      this.modalVisible = true
    },
    add: function() {
      let name = this.name.trim()
      // let black =this.black;
      // let red =this.red;
      // let yellow =this.yellow;
      // let green =this.green;
      // let blue =this.blue;

      let parentlocation_id = this.parentlocationid
      //let location = this.location
    
      apis.add({
        name: name,
        // black:black,
        // red:red,
        // yellow:yellow,
        // green:green,
        // blue:blue,

        parentlocation_id : parentlocation_id
        //parent:location
      }).then((response) => {
        if(response.data.status.status_code === 0) {
          window.location.reload();
          this.$emit("reload")
          this.name = null
          // this.black = null
          // this.red = null
          // this.yellow = null
          // this.green = null
          // this.blue = null

          //console.log("hello somnath from api add")
          console.log(parentlocation_id)
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
