<template lang="html">
  <CModal
    title="Edit Location"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="Name"
      placeholder="Enter Name Of The Location"
      v-model="name"
    />
     <multiselect 
    placeholder="Please select ParentLocation" 
    :options="options"
    track-by="name"
    label="name"
   
    >
    <!--  v-model="parent_id" -->
      
    </multiselect>
    
    <template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="edit" color="success" >Edit</CButton>
    </template>
  </CModal>
</template>
<script>
import * as apis from '@/utils/api/locations'
import Multiselect from 'vue-multiselect'

export default {
   components: { Multiselect },
  data () {
    return {
      error: null,
      id:null,
      name: null,
      options : [],
      parentName : null,
      parent_id : null,
      modalVisible: false
    }
  },
  methods: {
    show: function(item) {
      this.options = [];
      console.log("department item is",item)
      this.modalVisible = true
      this.id = item._id;
      this.name = item.name;
     
      this.options.push({value:item.parent._id,name:item.parent.name})
    },
    edit: function() {
        let name = this.name.trim()
        let id = this.id;


      apis.update(id,{name:name}).then((response) => {
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.name = null
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
