<template>
	<div class="container">
    <div class="vld-parent">
        <loading :active.sync="isLoading" 
        :can-cancel="true" 
        >
        </loading>
      </div>
    <div class="row">
      <div class="col-12 col-md-12">
		<CCard>
		<CCardBody>
			        <CInput 
                  class="datepicker col-4"
               	  type="date"
                  horizontal
                  v-model= "date"
                  v-on:selected ="dateSelected"
                 />
              <div>{{date}}</div>
              
                 
			

      <table class="table ">
		
    <tr>
	<th class="table-header">SKU<br> Code</th>
  <th class="table-header">SKU<br>Name</th>
  <th class="table-header">Stock <br>Norm</th>
  <th class="table-header">Actual <br>Stock</th>
  <th class="table-header">Gap <br>Quantity</th>
  <th class="table-header">In-Transit <br>Stock</th>
  <th class="table-header">Supplying<br> Node</th>
   <th class="table-header">Consuming<br> Node</th>
  <th class="table-header">Net <br> Quantity(AS+IT)</th>
  <th class="table-header">Indent <br> Quantity</th>
  <th class="table-header">PO <br>Quantity</th>
  <th class="table-header">Purchase <br>Owner</th>
  <th class="table-header">Days in <br>Zone</th>
	
	</tr>
 
<tr class="data-font" v-for="(item,index) in result" :key="index">
      	<td>{{item.skumaster.skucode}}</td>
      	<td>{{item.skumaster.name}}</td>
      	<td>{{item.stock_norm.toFixed(0)}}</td>
      	
        <td v-if="item.availability_zone==0 ">
        <button  class="btn blackbtn btntext" >
        {{item.actual_stock.toFixed(0)}}/{{item.stock_norm.toFixed(0)}}</button>
        <td v-else-if="item.availability_zone==1 ">
        <button class="btn redbtn btntext">
        {{item.actual_stock.toFixed(0)}}/{{item.stock_norm.toFixed(0)}}</button>
        <td v-else-if="item.availability_zone==2 ">
        <button class="btn yellowbtn btntext">
        {{item.actual_stock.toFixed(0)}}/{{item.stock_norm.toFixed(0)}}</button>
        <td v-else="item.availability_zone==3 ">
        <button class="btn greenbtn btntext">
        {{item.actual_stock.toFixed(0)}}/{{item.stock_norm.toFixed(0)}}</button>
      </td>
      </td>


      	<td>{{(item.stock_norm-item.actual_stock).toFixed(0)}}</td>
      	<td>{{(item.in_transite_stock) }}</td>

       <td>{{item.supplier.name}}</td>
        <td>{{item.consumer.name}}</td>
      	
        <td v-if="item.transitionCompelete=='black' ">
        <button  class="btn blackbtn btntext" >
        {{item.actual_stock.toFixed(0)}}</button>
        <td v-else-if="item.transitionCompelete=='red' ">
        <button class="btn redbtn btntext">
        {{item.actual_stock.toFixed(0)}}</button>
        <td v-else-if="item.transitionCompelete=='yellow' ">
        <button class="btn yellowbtn btntext">
        {{item.actual_stock.toFixed(0)}}</button>
        <td v-else="item.transitionCompelete=='green' ">
        <button class="btn greenbtn btntext">
        {{item.actual_stock.toFixed(0)}}</button>
        </td>
      </td>

      <td></td>
       <td></td>
        <td></td>
         <td></td>

</tr>
		
  </table>
</CCardBody>
</CCard>

</div>        <!-- column closed -->
</div>          <!-- row closed -->
</div>          <!-- container closed -->
</template>


  <script>
 
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
 import * as apis from '@/utils/api/stocknorms'
 import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
 
 //import * as stocktrend from "@/utils/api/stocktrend"
  export default {
    name:"stocknorms",
    components: {
      Datepicker,
      Loading
       
    },
    data () {
      return {
          
       // stockdata :[],
   
       //nodeId :"5f4387aa0c38992c271a9db4",
        nodeId : this.$route.params.id,  
        result : [],
        list : [],
        dailysnsresult : [],
        color: null,
        value:'',
        date :'',
        percentage:null,
        isLoading : false,
       

     

      }  // return closed  
    }, // data varible closed


  mounted: function () {
    this.fetchList()
   
   },  // mounted closed

// watch :{
//   this.fetchList();
// },
    methods : {

  fetchList: function () {
    console.log("node id is this form",this.nodeId )
    this.isLoading = true
    apis.nodeStockNorm(this.nodeId)
      .then((response) => {
      this.isLoading = false
      this.result = response.data.payload
    
    console.log("stocknorms data",this.result)        
  for(let i=0;i<this.result.length;i++) {
    let percentage ,color;
  percentage =((this.result[i].actual_stock+this.result[i].in_transite_stock)/this.result[i].stock_norm)*100;

    if (percentage==0) {
      color = "black"
    }
    if(percentage>0 && percentage<=33) {
      color = "red"
    }
    if(percentage>33 && percentage<=66) {
      color = "yellow"
    }
    if(percentage>66 && percentage<=100) {
      color = "green"
    }

      this.result[i].transitionCompelete = color;
     
} //for loop closed

    }) /// response closed
    }, // fetchlist closed

       dateSelected () {
      //this.date = this.date
        console.log("date",this.date)
    }, //dataseleccted closed



 } // methods closed

  }  // export default closed
</script>


<style scoped>
.headblue {
    background-color: blue;
    color: white;
  }
  .data-font {
    font-size: 12px;
    padding: 
  }
  .table-header {
    font-size:11px;
    padding: 5px
  }
  
  .table th, .table td {
  padding: 1px;
  text-align: center!important;
   
   }


   .table td {
    border-top-color: #f5f5f5;
    text-align: center!important;
    vertical-align: top;
   }

   .table tr {
    line-height: 1.5em;
   }

.datepicker {

}

.btn {
  width: 74px!important;
}
.blackbtn {
  background-color: #696969;

}
.redbtn {
  background-color: red;
}
.yellowbtn {
   /*background-color: #FFFF66;*/
   background-color:  #FFD700;

}
.greenbtn {
  background-color: #32CD32;
}

.btntext {
  color: white;
  width: 38px;

  /*font-weight:bold;*/
}
.btn {
  line-height: 0.5;
  width:70px;
}
  
  </style> 





