<!-- <template>
  <CHeader with-subheader light>
    <CToggler
      in-header
      class="ml-3 d-lg-none"
      @click="$store.commit('toggleSidebarMobile')"
    />
    <CToggler
      in-header
      class="ml-3 d-md-down-none"
      @click="$store.commit('toggleSidebarDesktop')"
    />
    <CHeaderBrand class="mx-auto d-lg-none" to="/">
      <span style="font-size:5vh">
        BRDge
      </span>
    </CHeaderBrand>
    <CHeaderNav class="d-md-down-none mr-auto">
     
     
      
    </CHeaderNav>
    <CHeaderNav class="mr-4">
      <div class="input-group mr-5">
        <input type="text" class="form-control" 
        placeholder="Search">
        <div class="input-group-append">
          <button class="btn background-color" type="button">
            <i class="fa fa-search icon-color"></i>
          </button>

       </div>
  </div> -->

   <!-- <CDropdown>
      <CDropdownItem @click="logout">
      <CIcon name="cil-lock-locked" /> Logout
    </CDropdownItem>
   </CDropdown>
     
    </CHeaderNav>
    
  </CHeader>
</template>

<script>
  import Vue from "../utils/sessionManager";
import TheHeaderDropdownAccnt from './TheHeaderDropdownAccnt'

export default {
  name: 'TheHeader',
  components: {
    TheHeaderDropdownAccnt
  },
  //  methods:{
    
  //   logout: function() {
  //    new Vue().logout()
  //     this.$router.push('/')
  //   }
  // }
}
</script>


<style scoped>
  .background-color {
    background-color: #074395;
  }
  .icon-color
  {
    color: white;
  }
</style>
 -->





 <template>
  <CHeader with-subheader light>
    <CToggler
      in-header
      class="ml-3 d-lg-none"
      @click="$store.commit('toggleSidebarMobile')"
    />
    <CToggler
      in-header
      class="ml-3 d-md-down-none"
      @click="$store.commit('toggleSidebarDesktop')"
    />
    <CHeaderBrand class="mx-auto d-lg-none" to="/">
      <span style="font-size:5vh">
        BRDge
      </span>
    </CHeaderBrand>
    <CHeaderNav class="d-md-down-none mr-auto">



    </CHeaderNav>
    <CHeaderNav class="mr-4">

      <CDropdown>
        <template #toggler>
          <CHeaderNavLink>
            {{accountName}}
          </CHeaderNavLink>
        </template>
          <CDropdownItem @click="logout">
            <CIcon name="cil-lock-locked" /> Logout
          </CDropdownItem>
      </CDropdown>

    </CHeaderNav>

  </CHeader>
</template>

<script>
  import Vue from "../utils/sessionManager";
import TheHeaderDropdownAccnt from './TheHeaderDropdownAccnt'

export default {
  name: 'TheHeader',
  components: {
    TheHeaderDropdownAccnt
  },
  data: function() {
    return {
      accountName: new Vue().getUser().name
    }
  },
   methods:{

    logout: function() {
     new Vue().logout()
      this.$router.push('/')
    }
  }
}
</script>


<style scoped>

</style>
