 <template>
   <CSidebar
    fixed
    :minimize="minimize"
    :show="show"
    @update:show="(value) => $store.commit('set', ['sidebarShow', value])"
  >
   <CSidebarBrand class="d-md-down-none" to="/">
      BRDge
    <!--   <img src="https://cdn5.vectorstock.com/i/1000x1000/58/29/abstract-bridge-logo-design-template-esp-10-vector-22975829.jpg" height="50 " width="50"> -->
    </CSidebarBrand>

    <CRenderFunction flat :content-to-render="$options.nav[role]"/>
    <CSidebarMinimizer
      class="d-md-down-none"
      @click.native="minimize = !minimize"

    />
     <!-- @click.native="$store.commit('set', ['sidebarMinimize', !minimize])"  -->
  </CSidebar>
</template>

<script>
import Vue from 'vue'
import nav from './_nav'
export default {
  name: 'TheSidebar',
  nav,
   data () {
    return {
      minimize: true,
      role: Vue.getUser().role == 'super_admin' ? 'super_admin' : "user"
    }
  },
  computed: {
    show () {
      return this.$store.state.sidebarShow
    },
    // minimize () {
    //   return this.$store.state.sidebarMinimize
    // }
  }
}
</script>

<style >

  .c-sidebar{
background: white;
  }

  /*brdge text background color white*/
.c-sidebar .c-sidebar-brand {
  color:#348afc;
  background:white;
}
 .c-sidebar .c-sidebar-minimizer {
  background:white;
 }
 /*all menu icon color*/
 .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon {
  color:#348afc;
  height: 30px;
 }
 /*first menu icon color*/
 .c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon {
  color: #348afc;
 }
 /*first menu text color*/
 .c-sidebar .c-sidebar-nav-link.c-active{
  color: #348afc;
 }

 /*menu text color*/
 .c-sidebar .c-sidebar-nav-link {
  color: #348afc;
 }
 /*last icon text color*/
 .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-toggle{
    color: #348afc;
    background-color: white;
}
/*last icon color*/
.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
    color: #348afc;
    height: 30px;

}

.c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link {
  color: #348afc;
  /*background:#348afc;*/
}
/*setup text color*/
.c-sidebar .c-sidebar-nav-dropdown-toggle {
  color:#348afc;

}
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  color:white;
  background-color:#348afc ;
}
.c-sidebar .c-sidebar-nav-link:hover {
  color: white !important;

}

.c-sidebar .c-sidebar-nav-link:hover {
color:#fff;
background-color: #348afc;
}
.c-sidebar.c-sidebar-minimized .c-sidebar-nav-item:hover > .c-sidebar-nav-link, .c-sidebar.c-sidebar-minimized .c-sidebar-nav-item:hover > .c-sidebar-nav-dropdown-toggle {
    background: #348afc;
}
</style>
