// Here you can add other styles
.brdge-option-dropdown {
    padding: 4px;
    border-color: #bfbfbf;
}


.tippy-tooltip {
    background-color: #000;
}
  
.tippy-tooltip .tippy-backdrop {
    background-color: #000;
}

.tippy-content {
    background-color: #000;
    color: #666;
}

.tippy-content > a {
    color: #fff;
    font-weight: 800;
}