


<!-- updated code -->

<template>
  <div class="app">
    <CRow>
      <CCol class="heading-bar-distance">
        <div class="heading-style heading-bar-distance"> Stock Status </div>
      </CCol>

    
      <CCol> 
        <span  @click="toggleExpand">
          <CIcon v-if="!expanded" name="cil-cursor-move" width="18" class="float-right expand_icon" />
          <CIcon v-else name="cil-compress" width="18" class="float-right expand_icon" />
        </span>
         

        
        <div  class="breadcrumb float-right " >
        <ul>
            <li
           style="display: inline-block;"
            v-for= "(data,idx) in items"
            :key= "idx"
            @click ="breadcrumbClick(data._id,idx)"
           >
           <span >
           {{data.text}}{{"/"}}</span>
            </li>
          </ul>

        </div>
      </CCol>

     
       </CRow>

       
       <CRow >
        <CCol md="12">
    <div id="chart barchart-margin" >
        <apexchart type="bar" height="180" 
        :options="chartOptions"
        :series="series" @click="nodeChange"
        class="barchart-position">
         </apexchart>
       </div>
    </CCol>
     </CRow>
`   </div>
 </template>

 <!--  <template>
  <div id="app">
   <div class="row">
     <div class="col-md-4">
        <div class="heading-style heading-bar-distance"> Stock Status </div>
     </div>
     <div class="col-md-4">
       <div  class="breadcrumb " >
        <ul>
            <li
           style="display: inline-block;"
            v-for= "(data,idx) in items"
            :key= "idx"
            @click ="breadcrumbClick(data._id,idx)"
           >
           <span >
           {{data.text}}{{"/"}}</span>
            </li>
          </ul>

        </div>
     </div>

     <div class="col-md-4">
        <span  @click="toggleExpand">
          <CIcon v-if="!expanded" name="cil-cursor-move" width="18" class="float-right expand_icon" />
          <CIcon v-else name="cil-compress" width="18" class="float-right expand_icon" />
        </span>
     </div>

   </div>            

   <div class="row">
     <div class="col-md-12">
      <div id="chart barchart-margin" >
        <apexchart type="bar" height="180" 
        :options="chartOptions"
        :series="series" @click="nodeChange"
        class="barchart-position">
         </apexchart>
       </div>
       
     </div>
   </div>     
   </div>
 </template> -->

  <script> 
   import * as apis from '@/utils/api/locations'
   import VueApexCharts from 'vue-apexcharts'

export default {
  name: 'Barchart',
  components: {
    apexchart: VueApexCharts,
  },
props:['barchartdata'],
  
  
data: function() {
      return {
        dashboardBarChartData :[],
        expanded: false,
        items: [
        {
          text: 'All',
          id:null
        }, 
        
      ],
            error : null,
            responseData :this.barchartdata,
            flag:false,
            //list : [], 
            cities : [], 
            nodes :[] ,
            parentid : null ,
            cityid :null ,
            xaxisvalue :[],
            
            series : [{
              name :'BLACK',
              data:[]
            },{
              name:"RED",
              data : []
            },
            {
              name:"YELLOW",
              data : []
            },
            {
              name:"GREEN",
              data : []
            },
            {
              name:"BLUE",
              data : []
            }
            ],
         

          chartOptions: {
            colors : ['#727272','#fd4a1e','#feba2c','#7cc925',
                      '#348afc'],
             //'#727272',==black
             //'#fd4a1e',==red
             //'#feba2c',== yellow
            //'#7cc925',==green
            //'#348afc' ==blue
            grid :{
              show:false
            },
            dataLabels: {
                        enabled: false,
                       },
           
             chart: {
               id: 'vuechart-example',
              type: 'bar',
               //height: 350,
                //width:300,
              stacked: true,
              toolbar: {
                show:false
              },
              zoom: {
                enabled: true
              },

              
         },
            responsive: [{
              breakpoint: 480,
              options: {
                legend: {
                  show :false,
                  position: 'bottom',
                  offsetX: -10,
                  offsetY: 0
                }
              }
            }],
            plotOptions: {
              bar: {
                horizontal:true,
                //columnWidth: '40%',
                //barHeight: '80%',     //reduce thickness of bar 
                // columnWidth: '1%',
               dataLabels: {
                enabled:false,
                
              },
                
              },
          
            },
            xaxis: {
              categories:[],
              labels: {
                 show:false,
                    },
                    lines:{
                        show:false,
                    } ,
              },
            legend: {
              show:false,
              position: 'bottom', // for labels shown at bottom
              
            },
            fill: {
              opacity: 1
            }
          },
        }
        
        },     //data function closed
       
     watch : {
      barchartdata:function(){
        this.chartdata()
      },
     },
    
   

  methods : {
    

    breadcrumbClick :function (items,idx)  {
     
     
       // console.log("after breadcrumb clicked item is",items)
        console.log("after breadcrumb clicked idx is",idx)

      if(idx >= 0){
      let newArray=this.items.slice(0,idx+1);
      this.items = newArray;
    }
      this.parentid = items;
       this.$emit('fetchList', this.parentid, idx + 1);
       
      
    },
    chartdata : function() {
      //console.log(" this.barchartdata is++++", this.barchartdata)
      // for (let index=0;index<this.barchartdata.length;index++){
      //   this.dashboardBarChartData.push(this.barchartdata[index])
      // }
      this.dashboardBarChartData = this.barchartdata.slice(0,5)
      console.log(" this.dashboardBarChartData is++++", 
        this.dashboardBarChartData)
        let list = []; 
        let chartOptions =  {
            colors : ['#727272','#fd4a1e','#feba2c','#7cc925',
                      '#348afc'],
             //'#727272',==black
             //'#fd4a1e',==red
             //'#feba2c',== yellow
            //'#7cc925',==green
            //'#348afc' ==blue
            
           grid :{
              show:false
            },
             chart: {
               id: 'vuechart-example',
              type: 'bar',
               //height: 350,
               //width:500,
              stacked: true,
              toolbar: {
                show:false
              },
              zoom: {
                enabled: true
              },
            },
            responsive: [{
              breakpoint: 480,
              options: {
                legend: {
                  show :false,
                  position: 'bottom',
                  offsetX: -10,
                  offsetY: 0
                }
              }
            }],
            plotOptions: {
              bar: {
                horizontal:true,
                //columnWidth: '40%',
                barHeight:'50%',     //reduce thickness of bar 
                // columnWidth: '1%',
                
              },
          
            },
            xaxis: {
              categories:[],
              labels: {
                 show:false,
                    }, 
                    lines:{
                        show:false,
                    } ,
              },
              yaxis:{
                   lines:{
                        show:false,
                    } ,
                
            },

              // y axis start
            //   yaxis:{
            //     tickAmount: 4,
            //      min:3,
            //     // max:2,
            //     axisTicks: {
            //     show: true,
            // },
            // axisBorder: {
            //   show: true,
            //   color: 'green'
            // },
            // title: {
            //   text: "sku data",
            //   style: {
            //     color: '#008FFB',
            //   }
            // },
            // },   // y axis end

            
            legend: {
              show:false,
              position: 'bottom', // for labels shown at bottom
              
            },
            fill: {
              opacity: 1
            }
          }
      let series = [{data: []}, {data: []}, {data: []}, 
                              {data: []},{data: []}]; 
      this.dashboardBarChartData.map(item =>{
        chartOptions.xaxis.categories.push(item.name);
        series[0].data.push(this.flag ? item.black_price : item.black);
        series[1].data.push(this.flag ? item.red_price : item.red);
        series[2].data.push(this.flag ? item.yellow_price : item.yellow);
        series[3].data.push(this.flag ? item.green_price : item.green);
        series[4].data.push(this.flag ? item.blue_price : item.blue);
      });

      this.chartOptions = chartOptions;
     
      this.series = series; 
      
      } ,  // barchart function  closed   
    

     toggleBarChart:function(flag) {
        console.log("print when clicked",flag.value)
              this.flag = flag;
              this.chartdata();
              
              //this.barchartdata.map();
           // watch:this.barchartdata();
      },

      nodeChange :function (event,chartContext,config) {
    
    
        this.list = [];
        this.series[0].data = [];
        this.series[1].data = [] ;
        this.series[2].data = [];
        this.series[3].data = [];
        this.series[4].data = [];
        this.chartOptions.xaxis.categories = [];

        let state=event.srcElement.textContent;
        console.log("state",state)

        for(let j=0;j<this.barchartdata.length;j++) 
        {
            if(this.barchartdata[j].name==state) 
            {
                this.parentid = this.barchartdata[j]._id
                  this.items.push({text:state, id:this.parentid})
            }  //if closed
        }       // for cloesd
      
        //console.log("items in barchart is ",this.items) 
        console.log("before $emit",this.parentid)
        this.$emit('fetchList', this.parentid, this.items.length)
      
      },   // nodeChange function closed

    toggleExpand: function() {
      console.log("toggling");
      this.expanded = !this.expanded
      this.$emit("onExpand")
      // this.$router.push({path:`/admin/expandedbarchart/${this.barchartdata}`})
  }


}    // method closed

}      // export defalut closed
 
</script> 
  <style scoped>
  .heading-bar-distance {
    margin-bottom: 0px;
  }
 
 .heading-style {
   font-weight: bold;
   /*font-size: 18px;*/
   font-size: 12px;
   text-align: center;
   font-family: 'Rubik', sans-serif;
    margin-top: 2px;
   margin-left: 20px;
   margin-bottom: 0px;
 }

.barchart-margin {
  /*margin-top: -24px;*/
  /*width: 100%;*/

}
.barchart-position {
   /*margin-top: -24px;*/
   cursor: pointer;
   /*position: fixed;*/
}
.breadcrumb {
  cursor: pointer;
  border-bottom: none;
  margin-bottom: 0px !important;
  position: absolute;
  margin-top: -10px;

}


.expand_icon {
  /*margin: 16px;*/
  margin-top: 3px;
    margin-right: 7px;
}
 
</style>
 
 




<!-- 
 events: {
                     // click: function(event, chartContext, config) {
                     //  console.log("I am visible when click")
                     //  // console.log("event",event.srcElement.textContent)
                     //   //console.log("chartContext",chartContext)
                     //  //console.log("config",config)

                     //  },
                  //   selection: function(chartContext, { xaxis, .yaxis }) {
                  //     console.log()
                  //     console.log()
                  // },
                  // dataPointSelection: function(event, chartContext, config) {
                  //   console.log("event",event)
                  //    console.log("chartContext",chartContext)
                  //    console.log("config",config)
                  //      //console.log(config.seriesIndex)
                  //  }
                  
                  
               } -->

