<template>
	  <div id="chart">
        <apexchart type="bar" height="90" :options="chartOptions" :series="series" @click="onChartClicked"></apexchart>
      </div>
	
</template>

<script type="text/javascript">
	import VueApexCharts from 'vue-apexcharts';
  import * as apis from '@/utils/api/performance';
	export default {
		name:"FirstCardChart",
		components: {
			apexchart: VueApexCharts,
		},
		 data:function() {
		 	return {
        flag : false,
          bestNode : [],
          series: [{
            name: 'node',
            data: []
          
          }],
          chartOptions: {
          	 colors : ['#348afc'],
                      grid :{
                      	show:false
                      },      // hiding background lines of chart
                       dataLabels: {
                       	enabled: false,
                       },      // hiding datalabeles on bar   

            chart: {
              type: 'bar',
              height: 350,
              //stacked: true,
              toolbar: {
                show:false
              },
              },
            plotOptions: {
            	 bar: {

                horizontal: false,
                columnWidth: '30%',
                 barHeight: '100%',
                },
             },
            stroke: {
              width: 1,
              colors: ['#fff']
            },
             // title: {
             //  text: ' sku'
             // },
            xaxis: {
              categories: [],
              labels: {
                 show:false,
                    },         // hiding xaxis number 
              
              // labels: {
              //   formatter: function (val) {
              //     return val + "K"
              //   }
              // }
            },
            yaxis: {
            	 // tickAmount: 1,
              //   min:0.9,
            	show:false  ,
              title: {
                text: undefined
              },
            },
            legend: {
	              show:false,
	              position: 'bottom', // for labels shown at bottom
	             
	            },
	            
            fill: {
              opacity: 1
            },
            
          },  //chartOptions closed
          
          } //return closed
        },    //data varible close
        mounted: function () {
    // this.loading = true
    this.fetchList();
  },

        methods :{
		onChartClicked:function (event,chartContext,config) {
			this.$router.push({path:`/admin/nodeskutopperformer`})
		} ,

    fetchList () {
       let list = [];
      let chartOptions = {
             colors : ['#348afc'],
                      grid :{
                        show:false
                      },      // hiding background lines of chart
                       dataLabels: {
                        enabled: false,
                       },      // hiding datalabeles on bar   

            chart: {
              type: 'bar',
              height: 90,
              //stacked: true,
              toolbar: {
                show:false
              },
              },
            plotOptions: {
               bar: {

                horizontal: false,
                columnWidth: '30%',
                 barHeight: '100%',
                },
             },
            stroke: {
              width: 1,
              colors: ['#fff']
            },
             // title: {
             //  text: ' sku'
             // },
            xaxis: {
              categories: [],
              labels: {
                 show:false,
                    },         // hiding xaxis number 
              
              // labels: {
              //   formatter: function (val) {
              //     return val + "K"
              //   }
              // }
            },
            yaxis: {
               // tickAmount: 1,
              //   min:0.9,
              show:false  ,
              title: {
                text: undefined
              },
            },
            legend: {
                show:false,
                position: 'bottom', // for labels shown at bottom
               
              },
              
            fill: {
              opacity: 1
            },
            
          }
     

      apis.fetchListForNode()
        .then((response) => {
          this.isLoading = false
         
            this.bestNode = response.data.payload
            //console.log("bset node data is",this.bestNode)
          
      this.bestNode.map(item=>{
         
            if(this.flag.value==true) {
                
             chartOptions.xaxis.categories.push(item.node.name)
            list.push({ quantity:item.total_price,
                          })
              }   //inner if clsoed
              else {
               chartOptions.xaxis.categories.push(item.node.name)
                list.push({ quantity:item.total,
                          })

              }     //inner else closed

        })  //map clsoed

         this.chartOptions = chartOptions;
         
         this.list = list; 

    console.log("list in firt card is ",this.list)
         let series = [{data: []}];  

        for(let i=0;i<this.list.length;i++) {
        series[0].data.push(this.list[i].quantity)
        // series[1].data.push(this.list[i].red)
        // series[2].data.push(this.list[i].yellow)
        // series[3].data.push(this.list[i].green)
        // series[4].data.push(this.list[i].blue)
        }   // for closed
          // this.series = series; 
      
        })      //apis fetchlist clsoed

    },     //fetchlist method closed

    // when toggle button press this method called
    toggleFirstCardChart (flag) {
        
        this.flag = flag;
        this.fetchList();

    },

	}   //methods closed
	
        
      
    
	}    // export defualt closed

	
</script>

<style type="text/css"> 

</style>