<template>
	<div id="chart">
        <apexchart type="bar" height="90" :options="chartOptions" :series="series" @click="onChartClicked"></apexchart>
      </div>
</template>

<script type="text/javascript">
	import VueApexCharts from 'vue-apexcharts';
   import * as apis from '@/utils/api/performance';
	export default {
		name:"SecondCardChart",
		components: {
			apexchart: VueApexCharts,
		},
		 data:function() {
		 	return {
          flag : false,
          bestSKU : [],
          series: [{
            name: 'sku',
            data: []
          
          }],
          chartOptions: {
          	 colors : [,
                      '#348afc'],
                      grid :{
            	show:false
            },
            dataLabels: {
            	enabled: false,
            },         			// hiding datalabeles on bar 
            chart: {
              type: 'bar',
              height: 90,
              //stacked: true,
              toolbar: {
                show:false
              },
              
            },
            plotOptions: {
              bar: {
              	dataLabels: {
              	enabled: false,
              	
              },
                horizontal: false,
                columnWidth: '30%',
                 barHeight: '100%',
              },
            },
            stroke: {
              width: 1,
              colors: ['#fff']
            },
             // title: {
             //  text: ' Sales'
             // },
            xaxis: {
              categories: [],
              labels: {
                 show:false,
                    },         // hiding xaxis number 
              
              // labels: {
              //   formatter: function (val) {
              //     return val + "K"
              //   }
              // }
            },
            yaxis: {
            	 tickAmount: 1,
                min:0.9,
            	show:false  ,
              title: {
                text: undefined
              },
            },
            legend: {
	              show:false,
	              position: 'bottom', // for labels shown at bottom
	             
	            },
	            // tooltip: {
	            //   y: {
	            //     formatter: function (val) {
	            //       return val + "K"
	            //     }
	            //   }
	            // },
            fill: {
              opacity: 1
            },
            // legend: {
            //   position: 'top',
            //   horizontalAlign: 'left',
            //   offsetX: 40
            // }
          },
          
          } //return closed
        },    //data varible close
          mounted: function () {
    // this.loading = true
    this.fetchList();
  },
        
      methods :{
		onChartClicked:function (event,chartContext,config) {
			this.$router.push({path:`/admin/nodeskutopperformer`})
		},

    fetchList () {
      let list = [];
      let chartOptions = {
             colors : ['#348afc'],
                      grid :{
                        show:false
                      },      // hiding background lines of chart
                       dataLabels: {
                        enabled: false,
                       },      // hiding datalabeles on bar   

            chart: {
              type: 'bar',
              height: 90,
              //stacked: true,
              toolbar: {
                show:false
              },
              },
            plotOptions: {
               bar: {

                horizontal: false,
                columnWidth: '30%',
                 barHeight: '100%',
                },
             },
            stroke: {
              width: 1,
              colors: ['#fff']
            },
             // title: {
             //  text: ' sku'
             // },
            xaxis: {
              categories: [],
              labels: {
                 show:false,
                    },         // hiding xaxis number 
              
              // labels: {
              //   formatter: function (val) {
              //     return val + "K"
              //   }
              // }
            },
            yaxis: {
               // tickAmount: 1,
              //   min:0.9,
              show:false  ,
              title: {
                text: undefined
              },
            },
            legend: {
                show:false,
                position: 'bottom', // for labels shown at bottom
               
              },
              
            fill: {
              opacity: 1
            },
            
          }
     
     apis.fetchListForSKU()
        .then((response) => {
          this.isLoading = false
          
            this.bestSKU = response.data.payload
            //console.log("bset SKU data is",this.bestSKU)
            this.bestSKU.map(item=>{
         
            if(this.flag.value==true) {
                
             //chartOptions.xaxis.categories.push(item.sku.name)
            list.push({ quantity:item.total_price,
                          })
              }   //inner if clsoed
              else {
               //chartOptions.xaxis.categories.push(item.sku.name)
                list.push({ quantity:item.total,
                          })

              }     //inner else closed

        })  //map clsoed

         this.chartOptions = chartOptions;
         this.list = list;   
    console.log("list in second card is ",this.list)
         let series = [{data: []}];  

        for(let i=0;i<this.list.length;i++) {
        series[0].data.push(this.list[i].quantity)
        
        }   // for closed
          // this.series = series; 
          
        })    //apis fetchList closed.
         // when toggle button press this method called
    
    },
    toggleSecondCardChart (flag) {
       
        this.flag = flag;
        this.fetchList();

    },
      
	}    // Methods  closed
    
	}    // export defualt closed
	
	
</script>

<style type="text/css"> 

</style>