<template>
	<div v-if="hidetable">
		<p class="ml-3  headingfont1">Nodes With Max 
			    {{colorWord}}  
		</p>
		<table class="table tabel-margin1">
			<tr>
				<th class="table-header1">Node Name/<br>SKU Name
				</th>
				<th class="table-header1">Days in <br>{{colorWord}}
				</th>
				<th></th>
			</tr>

	<!-- <tr class="data-font" v-for="(item,index) in displayedPosts" :key="index"> -->
		<!-- to dispaly first 20 recoreds from list -->
<!--  <tr v-for="item in list.slice(0, 20)"> -->
		<tr class="data-font1" v-for="(item,index) in list.slice(0,3)" :key="index">
			<td class="node-sku-name" @click="nodeSkuClicked(item.node._id)">{{item.node.name}}/<br>{{item.sku.name}}</td> 
			<td v-if="availability_zone == 0">
				<button v-bind:class="{blackcolor1:btncolor}" 
				class="btn  btn-sm btn-size1">
			{{item.days_seen_last_changed}} 
		</button>
	</td>
	<td v-if="availability_zone == 1">
				<button v-bind:class="{redcolor1:btncolor}" 
				class="btn  btn-sm btn-size1">
			{{item.days_seen_last_changed}} 
		</button>
	</td>
	<td v-if="availability_zone == 2">
				<button v-bind:class="{yellowcolor1:btncolor}" 
				class="btn  btn-sm btn-size1">
			{{item.days_seen_last_changed}} 
		</button>
	</td>
	<td v-if="availability_zone == 3">
				<button v-bind:class="{greencolor1:btncolor}" 
				class="btn  btn-sm btn-size1">
			{{item.days_seen_last_changed}} 
		</button>
	</td>
	<td v-if="availability_zone == 4">
				<button v-bind:class="{bluecolor1:btncolor}" 
				class="btn  btn-sm btn-size1">
			{{item.days_seen_last_changed}} 
		</button>
	</td>
			
			<td ><img @click="commentClicked(item)"src="@/assets/message-outline.png" class="icon-align1">
			 <span v-if="item.comment_count>0 " class="badge badge-light num1">{{item.comment_count}}</span> 
				</td>
        </tr>
        
        	
       
       
		
  </table>
 <!--  <p class="table-arrow1"><i @click ="arrowClick(availability_zone)"class="fa fa-arrow-circle-down" aria-hidden="true"></i></p>  -->
<div class="d-flex justify-content-around">

   <div class="color-dots">
   <span class="dot blackdot" v-bind:class="{dotshadow:blackshadowcolor}"  @click="blackDotClicked"></span>

 <span class="dot reddot" v-bind:class="{dotshadow:redshadowcolor}"
@click="redDotClicked"></span>

<span class="dot yellowdot" v-bind:class=
"{dotshadow:yellowshadowcolor}" @click="yellowDotClicked"></span>

<span class="dot greendot" v-bind:class="{dotshadow:greenshadowcolor}"
@click="greenDotClicked"></span>

<span class="dot bluedot" v-bind:class="{dotshadow:blueshadowcolor}"
 @click="blueDotClicked"></span>
 </div>
 <div class="more-button-style"> 
 	<a  @click ="arrowClick(availability_zone)">more..</a>
 	<!-- <button  
        class=" btn btn-sm btn-text" 
       	@click ="arrowClick(availability_zone)"> 
        More..
        </button> -->
 </div>
 
  
</div>		<!-- flex end -->

	 </div>	
				
	
	<div v-else-if="result.length==0" class="commentPanel1 overflow-comment1">
		<i @click="backToTable" class="fa fa-arrow-left back-arrow1" aria-hidden="true"></i>
	 	<p class="comment-heading1"> {{nodename}} / {{skuname}} </p>
	 	<CInput
	 	class="comment-text-input1"
       @keyup.enter="postComment"
        placeholder="Add New Comment Here"
        v-model="comment"
        />
		<p class="no-comment">No Comment yet...</p>
		
	</div>
	 <div v-else class="commentPanel1 overflow-comment1">
	 	<i @click="backToTable" class="fa fa-arrow-left back-arrow1" aria-hidden="true"></i>
	 	<p class="comment-heading1"> {{nodename}} / {{skuname}} </p>


	 	<CInput
	 	class="comment-text-input1"
       @keyup.enter="postComment"
        placeholder="Add New Comment Here"
        v-model="comment"
        />
         
   
    <div v-for="data in result" >
    	<template v-if="data.nodesku.availability_zone==0">
         <button class="button blackbtn first-button1 pillbutton1">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button></template>
         <template v-if="data.nodesku.availability_zone==1">
         <button class="button redbtn first-button1 pillbutton1">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button></template>
         <template v-if="data.nodesku.availability_zone==2">
         <button class="button yellowbtn first-button1 pillbutton1">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button></template>
         <template v-if="data.nodesku.availability_zone==3">
         <button class="button greenbtn first-button1 pillbutton1">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button></template>
         <template v-if="data.nodesku.availability_zone==4">
         <button class="button bluebtn first-button1 pillbutton1">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button></template>
         <p class="comment-date1">{{ data.createdAt | moment(" MMM DD YY, h:mm")  }}</p>

     	<div style="clear:both;"></div>
         <p class="comment1 comment-border1">{{data.comment}}
         	<i  @click="deletecomment(data._id)"class="fa fa-trash trash-icon" aria-hidden="true"></i>
         </p>

         </div>
         

       
       
	 </div>
</template>

<script>

	import * as apis from '@/utils/api/nodeskus'
	import * as UserApis from '@/utils/api/users'
	import * as Comment from '@/utils/api/node_sku_comment'
	
	export default {

		name: "nodeskutable",
		props:['parentid'],
		data () {
			return {
				blackshadowcolor :false,
				redshadowcolor :false,
				yellowshadowcolor :false,
				greenshadowcolor :true,
				blueshadowcolor :false,
				btncolor :true,
				colorWord :"Green",
				availability_zone :3,
				modalVisible: false,
				result :[],
				_id : null,	
				message:null,
				commentNumber : 0,
				hidetable:true,
				comment : null,
				nodename:null,
				skuname:null,
				actual_stock:null,
				stock_norm : null,
				list : [],
				posts : [],	
				page: 1,
			    perPage: 5	,
			    pages: [],	

			    //displayedPosts:[]
				
			}
		},

		// watch : {
		// 		parentid : function () {
		// 			apis.NodefetchList(this.parentid)
		// 			.then((response) => {

		// 			 this.list = response.data.payload
		// 			 console.log("tabel data afetr props sending",this.list)
		// 			}) // response closed

		// 		}    // parentid function closed
		// },           /// watch method closed
		mounted: function () {
			this.fetchList()
		},
		methods: {

			nodeSkuClicked(id) {
				this.$router.push(
					{path:`/admin/nodestocknorm/${id}`,props: true })

			},
			arrowClick (availability_zone) {
				// console.log("availability_zone is",availability_zone)

				this.$router.push({path:`/admin/stocktrendreport/${availability_zone}`})
			},
			blackDotClicked :function() {
				this.availability_zone = 0 ;
				this.colorWord = "Black" ;
				this.fetchList();
				this.blackshadowcolor =true;
				this.redshadowcolor =false;
				this.yellowshadowcolor =false;
				this.greenshadowcolor =false;
				this.blueshadowcolor =false;


			},
			redDotClicked :function() {
				this.availability_zone = 1 ;
				this.colorWord = "Red" ;
				this.fetchList();
				this.blackshadowcolor =false;
				this.redshadowcolor =true;
				this.yellowshadowcolor =false;
				this.greenshadowcolor =false;
				this.blueshadowcolor =false;
			},
			yellowDotClicked :function() {
				this.availability_zone = 2 ;
				this.colorWord = "Yellow" ;
				this.fetchList();
				this.blackshadowcolor =false;
				this.redshadowcolor =false;
				this.yellowshadowcolor =true;
				this.greenshadowcolor =false;
				this.blueshadowcolor =false;
			},
			greenDotClicked :function() {
				this.availability_zone = 3 ;
				this.colorWord = "Green" ;
				this.fetchList();
				this.blackshadowcolor =false;
				this.redshadowcolor =false;
				this.yellowshadowcolor =false;
				this.greenshadowcolor =true;
				this.blueshadowcolor =false;
			},
			blueDotClicked :function() {
				this.availability_zone = 4 ;
				this.colorWord = "Blue" ;
				this.fetchList();
				this.blackshadowcolor =false;
				this.redshadowcolor =false;
				this.yellowshadowcolor =false;
				this.greenshadowcolor =false;
				this.blueshadowcolor =true;
			},

			deletecomment (id) {
				console.log("comment id is",id)
			Comment.deleteNodeSkuComment(id).then((response) => {
				if(response.data.status.status_code === 0) {
					Comment.fetchList(this.id)
							.then((response) => {
								this.isLoading = false
								if(response.data.status.status_code === 0) {
									this.result = response.data.payload
									
								}
							})
				} else {
					this.error = response.data.status.message
				}
			})
				
			},
			postComment() {
				let comment = this.comment.trim();
				let id = this.id;
				Comment.add(id,
					{comment : comment}).then((response) => {
						if(response.data.status.status_code === 0)
						{
							
							this.comment = null;
							Comment.fetchList(this.id)
							.then((response) => {
								this.isLoading = false
								if(response.data.status.status_code === 0) {
									this.result = response.data.payload
									// console.log("comments is",this.result)
								}
							})
						} else {
							this.error = response.data.status.message
						}
					})
				},

		commentClicked :function(item)
		{
			this.hidetable = false;
			this.skuname = item.sku.name;
		 	this.nodename = item.node.name;
		 	this.actual_stock = item.actual_stock;
		 	this.stock_norm = item.stock_norm;
		 	this.id = item._id;
		 	Comment.fetchList(this.id)
		 	.then((response) => {
		 		this.isLoading = false
		 		if(response.data.status.status_code === 0) {
		 			this.result = response.data.payload;
		 			//console.log("comment lenght is",this.result.length)
		 			//this.commentNumber = this.result.length;

		 		}
		 	})
		 },
		 backToTable : function() {
		 	this.hidetable = true;
		 	this.fetchList();
		 },
		 fetchList: function () {
		 	this.isLoading = true
		 	UserApis.getNodesBySkuChangeStatus(this.availability_zone)
		 	.then((response) => {
		 		this.list = response.data.payload
		 	})
		 },
    // getPosts () {   
     
    //   for(let i = 0; i < 17; i++){
    //     this.posts.push({first: 'John',
    //            last:'Doe', 
    //            suffix:'#' + i});
    //   }  
       // },
        setPages () {
            let numberOfPages = Math.ceil(this.list.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate (list) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return  list.slice(from, to);
        }
    },
    computed: {
        displayedPosts () {
            return this.paginate(this.list);
        }
    },
    watch: {
       list () {
            this.setPages();
        }
    },
    // created(){
    //     this.getPosts();
    // },
    filters: {
        trimWords(value){
            return value.split(" ").splice(0,20).join(" ") + '...';
        }
    }
}
		
	
</script>

<style scoped>
.more-button-style {
	margin-top: -10px;
	cursor: pointer;
	border-bottom-color: blue;
}
.headingfont1 {
	font-weight: bold;
	/*font-size: 16px;*/
	font-size: 12px;
	padding-top: 5px;
	font-family: 'Rubik', sans-serif;
}
.headblue1 {
		background-color: blue;
		color: white;
	}
.data-font1 {
		font-size: 12px;
		font-family: 'Rubik', sans-serif;
		
	}
.table-header1 {
		font-size:10px;
		font-family: 'Rubik', sans-serif;
	}
/*.btn-size1 {
		font-size: 9px;
		font-weight: bold;
		height: 8px;
		text-align: center;
		padding-bottom: 11px;
		margin-bottom: 1px;
		line-height: 5px;
	}*/
.btn-size1 {
		margin-top: 5px;
		width: 40px;
		padding: 1px;
		font-size: 10px;
	}
.blackcolor1 {
	background-color:#696969;
	color:white;
}
.redcolor1 {
	background-color:red;
	color:white;
}
.yellowcolor1 {
	background-color:#FFD700;
	color:white;
}

.greencolor1 {
	background-color:#7cc925;
	color:white;
}
.bluecolor1 {
	background-color:#348afc;
	color:white;
}

.table th{
	padding: 1px;
	
	text-align: center;
	border-top:none;
	 
	 }

.table td {
	border-top-color: #f5f5f5;
	text-align: center;
	padding: 1px;
	
}

button.page-link {
	display: inline-block;
}
.btn-margin1 {
	 margin-left: 6px;

}
.tabel-margin1 {
	 margin-top: -10px;	
	 /*max-height: 270px;*/
}
.table-arrow1{
	/*margin-left: 81px;*/
	margin-top:-18px;
	text-align: center;
	font-size: 20px;
}
.num1 {
	position: absolute;
	/*right: 34px;*/
	margin-left: -29px;
	

}
.icon-align1 {
margin-top: 7px;
padding-right: 25px;
}
.commentPanel1 {
	/*border:1px solid grey;*/
	margin-top: 17px;
	 height: 270px;
  width: 228px;
}
.comment-heading1 {
	text-align: center;
	padding-top: 10px;
	margin-left: 30px;
	display: inline-block;
}
.comment-text-input1 {
	width: 213px;
    margin-left: 5px;

}
.pillbutton1 {
 /* background-color: grey;*/
 font-size: 11px;
  border: none;
  color: black;
 /* padding: 3px 3px;*/
 /*padding:2px 2px;*/
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
 /* margin: 14px 8px;*/
 margin-left: 8px;
  cursor: pointer;
  border-radius: 13px;
  /*width: 70px;*/
  color: white;

}
.comment-date1 {
	/*text-align: left;
	margin-left:80px;*/
	margin-top: 3px;
	font-size: 11px;
    color: #cccccc;
	display: inline-block;
	float: right;
    margin-right: 10px;
}
.comment1 {
	font-size: 11px;
	margin-left: 10px;
	margin-top: 0px;
	clear: both;

}
.comment-border1 {
	border-bottom: 1px solid  #f5f5f5;
	clear: both;	
	/*margin-left: 0px;*/
}
.back-arrow1 {
	display: inline-block;
	margin-left: 10px;
}
.first-button1 {
	background-color:#feba2c;
}
.second-button1 {
	background-color: #7cc925;
}

.blackbtn {
  background-color: #696969;

}
.redbtn {
  background-color: red;
}
.yellowbtn {
   background-color:  #FFD700;

}
.greenbtn {
  background-color: #32CD32;
}
.bluebtn {
	background-color:#348afc;
}
.overflow-comment1 {
	overflow: auto;
}
.trash-icon {
	float: right;
	margin-right: 8px;
	color: red;
	font-size: 13px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;

  display: inline-block;
  margin-right: 20px;
}
.color-dots {
	/*text-align: left;*/
	margin-top: -10px;
	/*margin-left: 10px;*/
}
.blackdot{
	background-color:#696969;
}
.reddot {
	background-color:red;

}
.yellowdot {
	background-color:#FFD700;
	
}
.greendot {
	background-color:#32CD32;
}
.bluedot {
	background-color:#348afc;
}
.no-comment {
	text-align: center;
}

.node-sku-name {
	cursor: pointer;
	font-size: 10px;
}

 /*box-shadow: 0px 4px 8px 0 orange, 6px 6px 20px 0 pink;*/
/*@media only screen and ( max-width: 1349px) {*/
/*	@media screen and (max-width: 1043px) and (min-width: 1349px) {
  .num1{
    right:62px;
  }
}*/
.dotshadow{
	box-shadow: 0px 4px 8px 0 orange, 6px 6px 20px 0 pink;
	/*background-color: orange;*/
}



</style>





 

 