<template>
  <div >
  	<CCard>
  		<h3 class="ml-5 mt-3">Tree Graph for Supplier Consumer</h3>
	       <CCardBody>
	         <tree :data="tree" layoutType="horizontal" node-text="name" type="cluster" class="treeheight"></tree>

          </CCardBody>
    </CCard>
    
  </div>
</template>
<script>

import {tree, popUpOnHoverText} from 'vued3tree';
//import * as apis from '@/utils/api/nodemaps'
import * as nodes from '@/utils/api/nodes'


export default {

	name: 'nodemapcharts',
	components: {
    tree,

  },
  data () {
    return {
      
     	nodeMapData : [],
      ansData :[],
      rootNode :[],
      tree: {
        name: 'NODE',
        //children :[]
       
    children:[{
          name: "Node1",
          children:[ {name: "Node11"}, {name: "NOde12"}]
        },{
          name: "Node2",
          children:[ {name: "Node21"}, {name: "Node22"}]
        }]

       }  // tree closed

  }  // return closed
  
},    ////data closed

mounted () {
	this.fetchList();
  //this.nodeInfo();
},
 methods :{

fetchList: function () {
//       this.isLoading = true
//       apis.fetchList()
//         .then((response) => {
//           this.isLoading = false
            
//               this.nodeMapData = response.data.payload
//               //console.log("nodemapchart data",this.nodeMapData)
             
//           //    let children = [];
//           //    let tree = this.tree;
//           //    this.nodeMapData.map(item=> {
//           // children.push({"name":item.supplier.name})
//           //     })
           
//           //    this.tree.children = children;
//           //    //this.tree = tree;
             
//         //console.log("children",this.tree.children)

// })  // response closed 
      

 nodes.fetchList() 
    .then((response)=>{
      
      this.ansData = response.data.payload;
      //console.log("answer",this.ansData)
      console.log("answer",this.ansData);
  console.log("nodemapchart data",this.nodeMapData)
   for(let i=0;i<this.ansData.length;i++) {
  
    for(let j=0;j<this.nodeMapData.length;j++) {
      
     // console.log("ansdata",this.nodeMapData[j].name)
       if(this.ansData[i].name!=this.nodeMapData[j].child.name) {
        this.rootNode.push(this.ansData[i].name)
        
       }
       else {
        
       }

          }  //inner for loop

            
         }   //outer for loop

         console.log("rootNode is",this.rootNode)

       }) // response nodes closed
      }   // fetchList  closed
    } //methods closed
  } // export closed
  
</script>

<style scoped>
	.treeheight {
		height: 150px;
	}
</style>


<!-- 
//  nodeInfo :function () {
//    this.isLoading = true
//     nodes.fetchList() 
//     .then((response)=>{
//      this.isLoading = false
//      let nodedata ;
//        nodedata =response.data.payload
//        this.ansData.push(nodedata)
//        console.log('nodedata',this.ansData.length)
//       console.log("nodemapdata in node function",this.nodeMapData)

//     })  // response closed
// } , // nodedata closed -->