<template>
	<div class="mt-2">
		<p class="heading-style1">Nodes wise Sales</p>
		<table class="table ">
			<tr>
				<th class="table-heading">S.NO</th>
				<th class="table-heading">Node</th>
				<th class="table-heading">Numbers-<br>Quantity</th>
				<th class="table-heading">Leading SKU</th>
			</tr>
			<tr v-for="(item, index) in bestNodeData">
				
				<td class="table-data">{{index+1}}</td>
				<td class="table-data">{{item.node.name}}</td>
				<td class="table-data">{{item.total}}</td>
				<td class="table-data sku-click" >{{item.skus_by_quantity[0].sku.name}}</td>
				<td @click="onSkuClick(item)"><button type="button" class="btn btn-link link-text">show all</button></td>
				
				
			</tr>
			
		</table>
		<SKUModal ref="editModal" />
	</div>
</template>

<script type="text/javascript">
	import SKUModal from './ShowSKU.vue'
	export default {
		components :{
			name:"NodeSalesTable",
			SKUModal


		},
		props:['nodetabledata'],
		data () {
			return {
				bestNodeData : [],
			}    // retturn closd

		} ,   //data varible closed


		watch : {
      nodetabledata:function(){
      	this.bestNodeData = this.nodetabledata
      	console.log("best node data is ",this.bestNodeData)
        
      },
     },   //watch closed
     methods :{
     	onSkuClick:function(item) {
     		this.$refs.editModal.show(item)
     	}
     }   // methods closed 
	}   //export default clsoed
</script>

<style type="text/css">
/*.table-heading {
	font-size: 10px;
	text-align: center;

    padding: 0.20rem;
    vertical-align: top;
    border-top: 1px solid;
    border-top-color: #d8dbe0;
}
.table-data{
	font-size: 10px;
	text-align: center;

	padding: 0.20rem;
    vertical-align: top;
    border-top: 1px solid;
    border-top-color: #d8dbe0;
}*/


.table th{
	padding: 1px;
	
	text-align: center;
	border-top:none;
	 
	 }

.table td {
	border-top-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding: 1px;
	font-size: 10px;
	
}
.heading-style1 {
	font-weight: bold;
}
.sku-click {
	cursor: pointer;
}
.link-text {
	font-size: 10px;
}
/*.table td, .table th {
    padding: 0.20rem;
    vertical-align: top;
    border-top: 1px solid;
    border-top-color: #d8dbe0;
}*/
	
</style>