<template lang="html">
	<div class="container-fluid">
		<div class="row">
			<!-- <div class="card-deck"> -->
				<!-- <div class="col-lg-1"></div> -->
			<div class="col-lg-5  first-chart ">
				<SkuTopPerformerChart
				:skutabledata="bestSKU" />
			</div>
			<div class="col-lg-1"></div>
			<div class=" col-lg-5 second-chart ">
				<NodeTopPerformerChart
				:nodetabledata="bestNode" />
				
			</div>
		</div>
		<div class="row">
			<!-- <div class="col-lg-1"></div> -->
			<div class="col-5 card first-table mt-5">
				<SkuSalesTable
				:skutabledata="bestSKU" />
			</div>
			
			<div class="col-lg-1"></div>

			

			<div class="col-5 card second-table mt-5">
				<NodeSalesTable 
				:nodetabledata="bestNode"/>
			</div>
			
		</div>
		<!-- </div> -->
	
	</div>


	
</template>

<script type="text/javascript">


import NodeTopPerformerChart from'./NodeTopPerformerChart.vue';
import SkuTopPerformerChart from'./SkuTopPerformerChart.vue';
import NodeSalesTable from'./NodeSalesTable.vue';
import SkuSalesTable from'./SkuSalesTable.vue';
import * as apis from '@/utils/api/performance';


export default {
  name: 'NodeSkuTopPerformer', 
  components: {
     NodeTopPerformerChart,
     SkuTopPerformerChart,
     NodeSalesTable,
     SkuSalesTable
 },
 data:function() {
		 	return {
		 		bestNode : [],
		 		bestSKU :[],
		 	}  // return closed
		 } ,  // data closed

 mounted () {
 	this.fetchList();
 },
 methods :{
 	fetchList () {
 		 apis.fetchListForNode()
        .then((response) => {
          this.isLoading = false
         
            this.bestNode = response.data.payload 
            this.bestNode.sort((a,b)=>
            	b.total - a.total
            )
        })    // apis method closed

         apis.fetchListForSKU()
        .then((response) => {
          this.isLoading = false
         
            this.bestSKU = response.data.payload 
            this.bestSKU.sort((a,b)=>
            	b.total - a.total
            )
            //console.log("bset sku is ++++++",this.bestSKU)
        })    // apis method closed
 	}			//fetchlist closed
 }             //method closed
}				//export defualt closed

</script>


<style type="text/css">
.first-chart {
	margin-left: 50px;
	height: 200px;
	width: 90px;
	background-color: white;
}
.second-chart {
	height: 200px;
	width: 90px;
	background-color: white;
}
.first-table {
	margin-left: 50px;
	/*height: 	200px;*/
	width: 90px;
	background-color: white;
}

	
</style>