<template lang="html">
  <CModal
  title="Best Performing Node" 
  :show.sync="modalVisible"
   >
   
    <p class="heading-style" v-if="this.nodeData!=null"> {{this.nodeData[0].node.name}}</p>

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <table class="table ">
			<tr>
				<th class="table-heading">Node Name</th>
				<th class="table-heading">Quantity</th>
			</tr>
			<tr v-for="(item, index) in nodeData">
				<td class="table-data">{{item.node.name}}</td>
				<td class="table-data">{{item.quantity}}</td>
			</tr>
			
		</table>

    <template #footer>
      <CButton @click="modalVisible = false"  class="btn btn-sm"color="danger">Ok</CButton>
      
    </template>

  </CModal>
</template>
<script>
import * as apis from '@/utils/api/skumetas'

export default {
  data () {
    return {
      error: null,
     nodeData :null,
      modalVisible: false
    }
  },
  methods: {
    show: function(item) {
      this.modalVisible = true
      this.nodeData = item.nodes_by_price;
     console.log("node data is+++++",item)
    },
     }
}
</script>

<style lang="css" scoped>
.modal-footer {
  display: none !important;
}
.footer-hide {
  display: none !important;
  /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    border-color: #d8dbe0;*/
}

.heading-style{
   font-weight: bold;
}
</style>
