<template lang="html">
  <CModal
    title="Best Performing SKU"
    :show.sync="modalVisible">

     <p  class="header-style" v-if="this.skuData!=null">  {{this.skuData[0].sku.name}}</p>

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <table class="table ">
			<tr>
				<th class="table-heading">SKU Name</th>
				<th class="table-heading">Quantity</th>
			</tr>
			<tr v-for="(item, index) in skuData">
				<td class="table-data">{{item.sku.name}}</td>
				<td class="table-data">{{item.quantity}}</td>
			</tr>
			
		</table>




   
    
    <template #footer>
      <CButton @click="modalVisible = false"  class="btn btn-sm"color="danger">Ok</CButton>
      
    </template>
  </CModal>
</template>
<script>
import * as apis from '@/utils/api/skumetas'

export default {
  data () {
    return {
      error: null,
     skuData :null,
      modalVisible: false
    }
  },
  methods: {
    show: function(item) {
      this.modalVisible = true
      this.skuData = item.skus_by_price;
     //console.log("node data is+++++",item.nodes_by_price)
    },
     }
}
</script>

<style lang="css" scoped>
.header-style {
	font-weight: bold;
}
</style>
