<template>
	<div class="mt-2">
		<p class="heading-style">SKU wise Sales</p>
		<table class="table ">
			<tr>
				<th class="table-heading">S.NO</th>
				<th class="table-heading">Product<br>(SKU)</th>
				<th class="table-heading">Numbers-<br>Quantity</th>
				<th class="table-heading">Leading Node</th>
			</tr>
			<tr v-for="(item, index) in bestSKUData">
				<td class="table-data">{{index+1}}</td>
				<td class="table-data">{{item.sku.name}}</td>
				<td class="table-data">{{item.total}}</td>
				<td class="table-data node-click" >{{item.nodes_by_quantity[0].node.name}}</td>
				<td @click="onNodeClick(item)"><button type="button" class="btn btn-link link-text">show all</button></td>
			</tr>
			
		</table>
		 <NodeModal ref="editModal" />
	</div>
</template>

<script type="text/javascript">
	import NodeModal from './ShowNode.vue'
	export default {
		components :{
			name:"SkuSalesTable",
			NodeModal
		},
		props:['skutabledata'],

		data () {
			return {
				bestSKUData : [],
			}    // retturn closd

		} ,   //data varible closed


		watch : {
      skutabledata:function(){
      	let skuData =  []
      	 this.bestSKUData= this.skutabledata
      
      //console.log("best SKU data is ",this.bestSKUData)
        
      },
     },   //watch closed
     methods : {
     	
     	onNodeClick:function (item) {
     		 this.$refs.editModal.show(item)
     	}
     },   //methods closed


	}   //export default clsoed
</script>

<style type="text/css">
	.table-heading {
	font-size: 10px;
	text-align: center;

}
.table-data{
	font-size: 10px;
	text-align: center;
}
.heading-style {
	font-weight: bold;
}
.link-text {
	font-size: 10px;
}

.node-click {
	cursor: pointer;
}
	
</style>