<template>
	<div>

	<apexchart type="bar" height="200":options="chartOptions" 
                   :series="series" 
                   class="barchart-position">
         </apexchart>
      
	</div>
</template>

<script type="text/javascript">
	import VueApexCharts from 'vue-apexcharts';
  import * as apis from '@/utils/api/performance';
	export default {
		components :{
			name:"SkuTopPerformerChart",
			apexchart: VueApexCharts,
		},
    props:['skutabledata'],
		 data:function() {
		 	return{
        flag : false,
        bestSKU : [],
          
          series: [{
            name: '',
            data: []
          
          }],
          chartOptions: {
          	 colors :['#348afc'],
            chart: {
              type: 'bar',
              height: 200,
              stacked: true,
            },
            plotOptions: {
              bar: {
                horizontal:false,
              },
            },
            stroke: {
              width: 1,
              colors: ['#fff']
            },
            title: {
              text: 'SKU Sale Top Performer'
            },
            xaxis: {
              categories: [],
              // labels: {
              //   formatter: function (val) {
              //     return val + "K"
              //   }
              // }
            },
            yaxis: {
              title: {
                text: undefined
              },
            },
            tooltip: {
              // y: {
              //   formatter: function (val) {
              //     return val + "K"
              //   }
              // }
            },
            fill: {
              opacity: 1
            },
            legend: {
             show:false,
              // position: 'top',
              // horizontalAlign: 'left',
              // offsetX: 40
            }
          },
          
          }   //return closed
        },       // data closed

  //       mounted: function () {
  //           this.fetchList();
  // },    //mounted closed

watch : {
      skutabledata:function(){
        this.bestSKU = this.skutabledata
        this.fetchList();
        
      },
     },
   methods :{
    fetchList() {
     let list = [];
      let chartOptions = {
             colors : ['#348afc'],
                      grid :{
                        show:false
                      },      // hiding background lines of chart
                       dataLabels: {
                        enabled: true,
                       },      // hiding datalabeles on bar   

            chart: {
              type: 'bar',
              height: 200,
              //stacked: true,
              toolbar: {
                show:false
              },
              },
            plotOptions: {
               bar: {

                horizontal: false,
                columnWidth: '30%',
                 barHeight: '100%',
                },
             },
            stroke: {
              width: 1,
              colors: ['#fff']
            },
             // title: {
             //  text: ' sku'
             // },
            xaxis: {
              categories: [],
              labels: {
                 show:true,
                    },         // hiding xaxis number 
              
              // labels: {
              //   formatter: function (val) {
              //     return val + "K"
              //   }
              // }
            },
            yaxis: {
               // tickAmount: 1,
              //   min:0.9,
              show:false  ,
              title: {
                text: undefined
              },
            },
            legend: {
                show:false,
                position: 'bottom', // for labels shown at bottom
               
              },
              
            fill: {
              opacity: 1
            },
            
          }    ///    chartOption closed

          
           
          
      this.skutabledata.map(item=>{
         
            //if(this.flag.value==true) {
                
            //  chartOptions.xaxis.categories.push(item.node.name)
            // list.push({ quantity:item.total_price,
                      //    })
             // }   //inner if clsoed
              //else {
               chartOptions.xaxis.categories.push(item.sku.name)
                list.push({ quantity:item.total,
                          })

             // }     //inner else closed

        })  //map clsoed

         this.chartOptions = chartOptions;
         this.list = list;   
   
         let series = [{data: []}];  

        for(let i=0;i<this.list.length;i++) {
        series[0].data.push(this.list[i].quantity)
        }   // for closed
          this.series = series; 
      
        //})      //apis fetchlist clsoed
    },     //fetchlist method closed

    }      // methods closed.
        
        

	}   //export default clsoed
</script>

<style type="text/css">
	
	
</style>