<template lang="html">
  <div>
     <div class="vld-parent">
        <loading :active.sync="isLoading" 
        :can-cancel="true" 
        :on-cancel="onCancel"
        :is-full-page="fullPage">
        </loading>
      </div>
    <CCard>

      <CCardHeader>
        <strong>Admins</strong>
        <div class="card-header-actions">
          <!-- <CButton class="btn btn-info btn-sm" @click="showAdd">
            Add New
          </CButton> -->
        </div>
      </CCardHeader>
      <CCardBody>
        <CRow>

          <table class="table table-stripped" v-if="null != list && list.length > 0">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              
              <th></th>
            </tr>
            <tr v-for="(item, index) in list">
              <td>{{ item.name }}</td>
              <td>
                {{ item.email }}
              </td>
              <td>
                {{ item.role }}
              </td>
              <td class="text-right">
                <!-- <CButton
                  size="sm"
                  class="btn btn-info btn-sm"
                  style="margin-right: 5px;"
                  @click="goToDetails(item)"
                  title="Users">
                  <CIcon :height="12" :content="$options.freeSet.cilPeople" class="text-white"/>
                </CButton> -->
                <!-- <CButton
                  size="sm"
                  class="btn btn-warning btn-sm"
                  style="margin-right: 5px;"
                  title="Edit">
                  <CIcon :height="12" :content="$options.freeSet.cilPencil" class="text-white"/>
                </CButton> -->
                <CButton
                  size="sm"
                  class="btn btn-danger btn-sm"
                  @click="deleteItem(item)"
                  title="Delete">
                  <CIcon :height="12" :content="$options.freeSet.cilTrash" class="text-white"/>
                </CButton>
              </td>
            </tr>
          </table>
          <CAlert class="w-100 text-center alert-warning" v-if="null != list && list.length == 0">No records found</CAlert>
        </CRow>
      </CCardBody>
    </CCard>
    <!-- <AddModal ref="addModal" @reload="fetchList" /> -->
    <DeleteModal ref="deleteModal" @reload="fetchList" />
  </div>
</template>

<script>
import { freeSet } from '@coreui/icons'
// import AddModal from './Add'
import DeleteModal from './Delete'

import * as apis from '@/utils/api/users'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {

  freeSet,
  components: {
   DeleteModal,
   Loading
 },
  data () {
    return {
      list: [],
      isLoading: false,

    }
  },
  mounted: function () {
    this.fetchList()
  },
  methods: {
    showAdd: function() {
      this.$refs.addModal.show()
    },
    deleteItem: function(item) {
      this.$refs.deleteModal.show(item)
    },
    fetchList: function () {
      this.isLoading = true
      apis.fetchList()
        .then((response) => {
        
          if(response.data.status.status_code === 0) {
            this.list = response.data.payload

          }
          this.isLoading = false
        })
    },
    goToDetails: function(item) {
      this.$router.push('/admin/firm/' + item._id)
    }
  }
}
</script>

<style lang="css" scoped>
</style>
