<template lang="html">
  <CModal
    title="Add New SKUMeta"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="Name"
      placeholder="Enter Name of the SKUMeta"
      v-model="name"
    />
    <CSelect
        label="Select ParentSKU Name"
        
        custom
        @update:value="change"
        :options="options"
        placeholder="Please select"
      />
    
    
    <template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="add" color="success" >Add</CButton>
    </template>
  </CModal>
</template>

<script>
import * as apis from '@/utils/api/skumetas'

export default {
  data () {
    return {
      error: null,
      name: null,
     // parent:null,
      skumetaparentid : null,
      options:[],
      modalVisible: false
    }
  },
  mounted(){
    apis.fetchList()
    .then(response=>{
          let data = response.data.payload;
          if(data.length>0){
            data.map(item=>this.options.push({value:item._id,label:item.name}));
           
          }else{ 
           this.error  = "Please select SKUParent!";
          }
        })
        .catch(err=>{
          this.error = err.message
        })



  },
  methods: {
   change:function(value){
        
      //let skumetaparentid = null;
        this.skumetaparentid = value;
    },

    show: function() {
      this.modalVisible = true
    },
    add: function(event) {
       
      let name = this.name.trim()
      let skumetaparent_id = this.skumetaparentid

      console.log(name)
      console.log(skumetaparent_id)
    
      apis.add({
        name: name,
       skumetaparent_id:skumetaparent_id
      }).then((response) => {
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.name = null,
          this.skumetaparentid =null,
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
