<template lang="html">
  <CModal
    title="Delete Skumeta"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    Are you sure you want to delete <strong v-if="skumeta != null"> {{ skumeta.name }}</strong>?

    <template #footer>
      <CButton @click="modalVisible = false" color="default">Cancel</CButton>
      <CButton @click="deleteItem" color="danger" >Delete</CButton>
    </template>
  </CModal>
</template>

<script>
import * as apis from '@/utils/api/skumetas'

export default {
  data () {
    return {
      error: null,
      skumeta: null,
      modalVisible: false
    }
  },
  methods: {
    show: function(item) {
      this.skumeta = item
      this.modalVisible = true

    },
    deleteItem: function() {

      apis.deleteSkumeta(this.skumeta._id).then((response) => {
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style>
</style>
