<template lang="html">
  <CModal
    title="Edit skumeta"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="Name"
      placeholder="Enter Name Of The SKUmeta"
      v-model="name"
    />
    
    <template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="edit" color="success" >Edit</CButton>
    </template>
  </CModal>
</template>
<script>
import * as apis from '@/utils/api/skumetas'

export default {
  data () {
    return {
      error: null,
      id:null,
      name: null,
      modalVisible: false
    }
  },
  methods: {
    show: function(item) {
      this.modalVisible = true
      this.id = item._id;
      this.name = item.name;
    },
    edit: function() {
        let name = this.name.trim()
        let id = this.id;


      apis.update(id,{name:name}).then((response) => {
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.name = null
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
