<template lang="html">
  <CModal
    title="Add New NodeSKU"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="SKUCode"
      placeholder="Enter code of the nodesku"
      v-model="skucode"
    />

    <CSelect
        label="Select SKU name"
        custom
        @update:value="changesku"
        :options="options"
        placeholder="Please select"
      />
      <CSelect 
        label="Select node"
        custom
        @update:value="changenode"
        :options="options1"
        placeholder="Please select"
      />
      <CSelect 
        label="Buyer"
        custom
        @update:value="changeBuyer"
        :options="buyersList"
        placeholder="Select Buyer"
      />
      <CInput
      label="StockNorm"
      placeholder="enter the stock norms"
      v-model="stocknorm"
    />

    
    <template #footer>
      <CButton @click="onDiscardClick" color="danger">Discard</CButton>
      <CButton @click="add" color="success" >Add</CButton>
    </template>
  </CModal>
</template>

<script>
import * as apis from '@/utils/api/nodeskus'
import * as skumaster_api from '@/utils/api/skumasters'
import * as node_api from '@/utils/api/nodes'
import * as UserApis from '@/utils/api/users'

export default {
  data () {
    return {
      error: null,
      skucode: null,
      stocknorm : null,
      skumasterid : null ,
      nodeid : null,
      options:[],
      options1:[],
      modalVisible: false,
      buyersList: [],
      selectedBuyer: null
    }
  },

  mounted(){
     skumaster_api.fetchList()
        .then(response=>{
          let data = response.data.payload;
           console.log("sku master data is",data)
          //console.log(data)
          if(data.length>0){
            data.map(item=>this.options.push({value:item._id,label:item.name}));
          
          }else{ 
           this.error  = "Please select SKUname!";
          }
        })
        .catch(err=>{
          this.error = err.message
        }),


         node_api.fetchList()
        .then(response=>{
          let data = response.data.payload;
          console.log("node data is",data)
         
          if(data.length>0){
            data.map(item=>this.options1.push({value:item._id,label:item.name}));
          
          }else{ 
           this.error  = "Please select nodename!";
          }
        })
        .catch(err=>{
          this.error = err.message
        })

        this.fetchUsers()

  },     //mouted closed
  
  methods: {
    fetchUsers () {
      UserApis.fetchList()
        .then((response) => {
        
          if(response.data.status.status_code === 0) {
            let list = response.data.payload
            let data = []
            for(let index = 0; index < list.length; ++index) {
              data.push({value: list[index]._id, label: list[index].name});
            }
            console.log("Buyers", data);
            this.buyersList = data
          }
        })
    },
    onDiscardClick() {
      // this.modalVisible = false
      // this.error = false,
      // this.skucode = null,
      // this.stocknorm = null,
      // this.skumasterid = null,
      // this.nodeid = null
    },
      changesku:function(value){
        let skumasterid = null;
            this.skumasterid = value;
            console.log(this.skumasterid)
    },

     changenode:function(value){
     let nodeid = null;
          this.nodeid = value;
        
          console.log(this.nodeid)
    },

    show: function() {
      this.modalVisible = true
    },
    add: function() {
      
      let skucode = this.skucode.trim();
      let stocknorm = this.stocknorm.trim();
      let skumaster_id = this.skumasterid;
       let node_id = this.nodeid;

    console.log("master id " +this.skumasterid);
    console.log("node id" + this.nodeid);
      apis.add({
        skucode : skucode,
        stock_norm : stocknorm,
        skumaster_id : skumaster_id,
        node_id : node_id,
        buyer: this.selectedBuyer 
      }).then((response) => {
        if(response.data.status.status_code === 0) {

          this.$emit("reload")
          this.skucode = null,
          this.stocknorm = null,
          this.skumasterid = null,
          this.nodeid = null,
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
          // this.skucode = null,
          //  this.stocknorm = null
        }
      })
    },
    changeBuyer: function(value) {
      this.selectedBuyer = value
    }
  }
}
</script>

<style lang="css" scoped>
</style>
