<template lang="html">
  <CModal
    title="Edit Nodesku"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="skucode"
      placeholder="Enter code of The nodesku"
      v-model="skucode"
    />
    
    <template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="edit" color="success" >Edit</CButton>
    </template>
  </CModal>
</template>
<script>
import * as apis from '@/utils/api/nodeskus'

export default {
  data () {
    return {
      error: null,
      id:null,
      skucode: null,
      modalVisible: false
    }
  },
  methods: {
    show: function(item) {
      this.modalVisible = true
      this.id = item._id;
      this.skucode = item.skucode;
    },
    edit: function() {
        let skucode = this.skucode.trim()
        let id = this.id;


      apis.update(id,{skucode:skucode}).then((response) => {
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.skucode = null
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
