<template lang="html">
  <div>
    <div class="vld-parent">
        <loading :active.sync="isLoading" 
        :can-cancel="true" 
        :is-full-page="fullPage">
        </loading>
        <!-- :on-cancel="onCancel" -->
      </div>

    <CCard>
      <CCardHeader>
        <strong>NodeSKU </strong>
        <div class="card-header-actions">
        
      <!--  <label>Upload file to create new user</label><span class="text-danger">*</span> -->
       <!-- @change="acceptFile"  -->
        <CInputFile 
          @change="acceptFile" 
          accept=".xls,.xlsx"
        />  <CButton class="btn btn-info btn-sm mr-2 " @click="onUploadFile">
          Upload
          </CButton>
     
          <CButton class="btn btn-info btn-sm ml-5 " @click="showAdd">
            Add New
          </CButton>
        </div>
      </CCardHeader>
      <CCardBody>
        <CRow>

          <table class="table table-stripped" v-if="null != list && list.length > 0">
            <tr>
              <!-- <th class="text-left">NodeSKU Code</th> -->
              <th class="text-left">SKU Code</th>
              <th class="text-left">SKU Name</th>
              <th class="text-left">Node Name</th>
              <th></th>
            </tr>
            <tr v-for="(item, index) in list">
              <td class="text-left">{{ item.skucode }}</td>
             <td class="text-left">
              {{ item.sku.name }}</td>
              <td  v-if="item.node===null" class="name-align"></td>
       <td v-else class="text-left" >{{item.node.name}}</td>
             <!--  <td   class="text-left" >
              {{item.node.name}}</td> -->

              <td class="text-right">
                <CButton
                  size="sm"
                  class="btn btn-warning btn-sm edit-button-style"
                
                   @click="editItem(item)"
                  title="Edit">
                  <CIcon :height="12" :content="$options.freeSet.cilPencil" class="text-white"/>
                </CButton>
                <CButton
                  size="sm"
                  class="btn btn-danger btn-sm"
                  @click="deleteItem(item)"
                  title="Delete">
                  <CIcon :height="12" :content="$options.freeSet.cilTrash" class="text-white"/>
                </CButton>
              </td>
            </tr>
          </table>
          <CAlert class="w-100 text-center alert-warning" v-if="null != list && list.length == 0">No records found</CAlert>
        </CRow>
      </CCardBody>
    </CCard>
    <AddModal ref="addModal" @reload="fetchList" />
    <EditModal ref="editModal" @reload="fetchList" />
    <DeleteModal ref="deleteModal" @reload="fetchList" />
  </div>
</template>

<script>
import { freeSet } from '@coreui/icons'
import AddModal from './Add'
import DeleteModal from './Delete'
import EditModal from './Edit'

import * as apis from '@/utils/api/nodeskus'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name: "nodeskus",
  freeSet,
  components: {
    AddModal, 
    DeleteModal,
    EditModal,
    Loading
  },
  props:['id'],
  data () {
    return {
      list: [],
      nodeskuid: this.$route.params.id,
      isLoading: false,
      fullPage: true,
      file : null

    }
  },
  mounted: function () {
    this.fetchList()
  },
  methods: {
    showAdd: function() {
      this.$refs.addModal.show()
    },
    deleteItem: function(item) {
      this.$refs.deleteModal.show(item)
    },
     editItem: function(item) {
      this.$refs.editModal.show(item)
    },

acceptFile:function(files,event) {
     this.file = files[0];
     //console.log('files', this.file)
  },
    onUploadFile () {
      let data = {};
      let fd = new FormData();
      data.file = this.file
      console.log("data is ",data)

      apis.addThroughFile(data).then((response) => {
        console.log('data after response', data)
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.file = null,
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })

    },
    fetchList: function () {
      this.isLoading = true
      let id = this.nodeskuid
      apis.fetchSKUByNodeList(id)
        .then((response) => {
          //console.log("respone is",response)
          this.isLoading = false
          if(response.data.status.status_code === 0) {
            this.list = response.data.payload
            console.log("list is",this.list)
          }
        })
    }
  }
}
</script>

<style lang="css" scoped>
.edit-button-style {
margin-right: 5px;
}
</style>
