<template lang="html">
  <CModal
    title="Add New UserRole"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="Designation"
      placeholder="Enter Designation"
      v-model="designation"
    />
    <CInput
      label="Role"
      placeholder="Enter Role"
      v-model="role"
    />
    <CInput
      label="Parent"
      placeholder="Enter parent"
      v-model="parent"
    />

  <div>
  <label class="typo__label">Nodes</label>

  <multiselect
  v-model="node"
  :options="nodeoptions"
  :multiple="true"
  :close-on-select="false"
  :clear-on-select="false"
  :preserve-search="true"
  placeholder="select Node name"
  label="name"
  track-by="name" >

  </multiselect>
  <!-- <pre class="language-json"><code>{{ node  }}</code></pre> -->
</div>


 <div>
  <label class="typo__label">sku</label>

  <multiselect
  v-model="sku"
  :options="skuoptions"
  :multiple="true"
  :close-on-select="false"
  :clear-on-select="false"
  :preserve-search="true"
  placeholder="select Node name"
  label="name"
  track-by="name" >

  </multiselect>
  <!-- <pre class="language-json"><code>{{ node  }}</code></pre> -->
</div>

<div>
  <label class="typo__label">location</label>

  <multiselect
  v-model="location"
  :options="locationoptions"
  :multiple="true"
  :close-on-select="false"
  :clear-on-select="false"
  :preserve-search="true"
  placeholder="select Node name"
  label="name"
  track-by="name" >

  </multiselect>
  <!-- <pre class="language-json"><code>{{ node  }}</code></pre> -->
</div>





    <!-- <CSelect
        label="Select ParentLocation Name"
        custom
        @update:value="change"
        :options="options"
        placeholder="Please select"
      />
      -->

    <template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="add" color="success" >Add</CButton>
    </template>
  </CModal>
</template>

<script>

import Multiselect from 'vue-multiselect'
import VueTagsInput from '@johmun/vue-tags-input';

import * as apis from '@/utils/api/userroles'
import * as node_api from '@/utils/api/nodes'
import * as skumaster_api from '@/utils/api/skumasters'
import * as location_api from '@/utils/api/locations'

export default {
  name:"add",
  components :{Multiselect,VueTagsInput},
  data () {
    return {
      location :null,
      sku :null,
      node :null,
      skuoptions : [],
      skuids : [],
      nodeoptions :[],
      nodeids :[],
      locationoptions : [],
     locationids :[],
      error: null,
      name: null,
      black:null,
      red:null,
      yellow:null,
      green:null,
      blue:null,
      parentlocationid : null,
      // options:[],
      modalVisible: false,
      designation : null,
      role :null,
      parent : null

    }
  },

  mounted(){
    skumaster_api.fetchList()
        .then(response=>{
          let skudata = response.data.payload;
           console.log("sku master data is",skudata)

          if(skudata.length>0){
            skudata.map(item=>this.skuoptions.push({name:item.name,id:item._id}));

          }else{
           this.error  = "Please select SKUname!";
          }
        })
        .catch(err=>{
          this.error = err.message
        }),


         node_api.fetchList()
        .then(response=>{
          let nodedata = response.data.payload;
          console.log("node data is",nodedata)

          if(nodedata.length>0){
            nodedata.map(item=>this.nodeoptions.push({name:item.name,id:item._id}));

          }else{
           this.error  = "Please select nodename!";
          }
        })
        .catch(err=>{
          this.error = err.message
        }),

        location_api.allLocationList()
        .then((response) => {
          this.isLoading = false
          if(response.data.status.status_code === 0) {
            let locationdata = response.data.payload
            console.log("location",locationdata)

            if(locationdata.length>0){
            locationdata.map(item=>this.locationoptions.push({name:item.name,id:item._id}));

          }else{
           this.error  = "Please select locationame!";
          }



          }
        })

},     /// mounted closedd
  methods: {
    selectnode :function(value) {
console.log("selected value",value)

    },
  change:function(value){
                  let parentlocationid = null;
                  this.parentlocationid = value;
                  console.log(value)
          },
    show: function() {
      this.modalVisible = true
    },
    add: function() {
      let nodeid = []
      let skuid = []
      let locationid = []

      let designation = this.designation
      let role = this.role
      let parent = this.parent

      console.log("Selected nodes ", this.node)


      for(let i=0;i<this.node.length;i++) {
        this.nodeids.push(this.node[i].id)
      }


      for(let j=0;j<this.sku.length;j++)
      {
        this.skuids.push(this.sku[j].id)
      }


      console.log("this.location is +++++++",this.location)
      for(let k=0;k<this.location.length;k++)
      {
        this.locationids.push(this.location[k].id)
      }

      console.log("locationids+++",this.locationids)

     nodeid = this.nodeids;
     skuid = this.skuids;
     locationid = this.locationids;






      apis.add({
       designation :designation,
       role : role,
       parent :parent,
       nodes :nodeid,
       skus : skuid,
       locations :  locationid




      }).then((response) => {
        if(response.data.status.status_code === 0) {

          this.name = null

          //console.log("hello somnath from api add")

          // this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
