<template lang="html">
  <CModal
    title="Edit Location"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="Role"
      placeholder="Enter Name Of The UserRole"
      v-model="role"
    />
   
      
  
    
    <template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="edit" color="success" >Edit</CButton>
    </template>
  </CModal>
</template>
<script>
import * as apis from '@/utils/api/userroles'

import Multiselect from 'vue-multiselect'

export default {
   components: { Multiselect },
  data () {
    return {
      error: null,
      id:null,
      role: null,
      options : [],
      parentName : null,
      parent_id : null,
      modalVisible: false
    }
  },
  methods: {
    show: function(item) {
      this.options = [];
      console.log("department item is",item)
      this.modalVisible = true
      this.id = item._id;
      this.role = item.role;
     
      this.options.push({value:item.parent._id,name:item.parent.name})
    },
    edit: function() {
        let role = this.role.trim()
        let id = this.id;


      apis.update(id,{role:role}).then((response) => {
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.role = null
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
