<template lang="html">
  <div>
    <CCard>

      <CCardHeader>
        <strong>UserRoles</strong>
        <div class="card-header-actions">
          <CButton class="btn btn-info btn-sm" @click="showAdd">
            Add New
          </CButton>
        </div>
      </CCardHeader>
      <CCardBody>
        <CRow>

          <table class="table table-stripped" v-if="null != list && list.length > 0">
            <tr>
              <th>User Role</th>
              <th class="text-center">Designation</th>
              <th class="text-center">
                Nodes
              </th>
              <th class="text-center">
                SKUs
              </th>
              <th class="text-center">
                Locations
              </th>
              <th></th>
            </tr>
            <tr v-for="(item, index) in list">
              <td class="text-cemter">{{ item.role }}</td>
              <td class="text-center">{{item.designation}}</td>
              <td class="text-center">{{item.nodes.length}}</td>
              <td class="text-center">{{item.skus.length}}</td>
              <td class="text-center">{{item.locations.length}}</td>
              <td class="text-right">
                
                <CButton
                  size="sm"
                  class="btn btn-danger btn-sm"
                  @click="deleteItem(item)"
                  title="Delete">
                  <CIcon :height="12" :content="$options.freeSet.cilTrash" class="text-white"/>
                </CButton>
              </td>
            </tr>
          </table>
          <CAlert class="w-100 text-center alert-warning" v-if="null != list && list.length == 0">No records found</CAlert>
        </CRow>
      </CCardBody>
    </CCard>
    <AddModal ref="addModal" @reload="fetchList" />
    <EditModal ref="editModal" @reload="fetchList" />
    <DeleteModal ref="deleteModal" @reload="fetchList" />
  </div>
</template>

<script>
import { freeSet } from '@coreui/icons'
import AddModal from './Add'
import DeleteModal from './Delete'
import EditModal from './Edit'

import * as apis from '@/utils/api/userroles'
// import * as node_api from '@/utils/api/nodes'
// import * as skumaster_api from '@/utils/api/skumasters'
// import * as location_api from '@/utils/api/locations'

export default {
  name: "userroles",
  freeSet,
  components: {AddModal, DeleteModal,EditModal},
  data () {
    return {
      skuoptions : [],
      nodeoptions :[],
      locationoptions : [],
      list: [],
      isLoading: false,

    }
  },
  mounted: function () {
     // skumaster_api.fetchList()
     //    .then(response=>{
     //      let skudata = response.data.payload;
     //       console.log("sku master data is",skudata)

     //      if(skudata.length>0){
     //        skudata.map(item=>this.skuoptions.push({value:item._id,label:item.name}));

     //      }else{
     //       this.error  = "Please select SKUname!";
     //      }
     //    })
     //    .catch(err=>{
     //      this.error = err.message
     //    }),


     //     node_api.fetchList()
     //    .then(response=>{
     //      let nodedata = response.data.payload;
     //      console.log("node data is",nodedata)

     //      if(nodedata.length>0){
     //        nodedata.map(item=>this.nodeoptions.push({value:item._id,label:item.name}));

     //      }else{
     //       this.error  = "Please select nodename!";
     //      }
     //    })
     //    .catch(err=>{
     //      this.error = err.message
     //    }),

     //    location_api.allLocationList()
     //    .then((response) => {
     //      this.isLoading = false
     //      if(response.data.status.status_code === 0) {
     //        let locationdata = response.data.payload
     //        console.log("location",locationdata)

     //        if(locationdata.length>0){
     //        locationata.map(item=>this.locationsoptions.push({value:item._id,label:item.name}));

     //      }else{
     //       this.error  = "Please select locationame!";
     //      }



     //      }
     //    })

    this.fetchList()
  },
  methods: {
    showAdd: function() {
      this.$refs.addModal.show()
    },
    deleteItem: function(item) {
      this.$refs.deleteModal.show(item)
    },
     editItem: function(item) {
      this.$refs.editModal.show(item)
    },
    fetchList: function () {
      this.isLoading = true
      apis.fetchList()
        .then((response) => {
          this.isLoading = false
          if(response.data.status.status_code === 0) {
            this.list = response.data.payload
            console.log("userrole",this.list)
          }
        })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
