<template>
	<div class="container">
    <div class="vld-parent">
        <loading :active.sync="isLoading" 
        :can-cancel="true" 
        >
        </loading>
      </div>
      <!-- :on-cancel="onCancel"
        :is-full-page="fullPage" -->
    <div class="row">
      <div class="col-12 col-md-12">
		<CCard>
      <CCardHeader>
          Stock-Norms
      </CCardHeader>
		<CCardBody>
       <!--  <input type="text" v-model="search" 
            placeholder="Search SKU.."/> -->
      <CRow>
        <CCol>
          <div class="selected_location selected_location_odd">
            <span @click="onLocationTabClick(-1)">All</span> 
          </div>
          <div v-for="(item, index) in selectedLocations" :key="item.value" :class="{selected_location: true, selected_location_even: index%2 == 0, selected_location_odd: index%2 != 0}">
            <span @click="onLocationTabClick(index)">{{item.label}}</span>
          </div>
          <div class="select_location" v-if="locationList.length > 0">
            <select @change="onLocationSelect($event)" class="brdge-option-dropdown">
              <option value="any">Select Location</option>
              <option v-for="item in locationList" :value="item.value" :key="item.value" > {{item.label}} </option>
            </select>
          </div>
        </CCol>
        <CCol md="3" class="text-right">
          <select v-model="search" class="brdge-option-dropdown">
            <option value="-1">All Zones</option>
            <option value="0">Black Zone</option>
            <option value="1">Red Zone</option>
            <option value="2">Yellow Zone</option>
            <option value="3">Green Zone</option>
            <option value="4">Blue Zone</option>
          </select>

        </CCol>
        <CCol md="3" >
          <span v-if="null != searchSelectedObject" class="pull-right">
            {{searchSelectedObjectName}} 
            <CButton size="sm" variant="link" @click="searchSelectedObject = null">clear</CButton>
          </span>
          <span v-else>
            <autocomplete
              ref="autocomplete"
              @selected="addDistributionGroup"
              placeholder="Search Node And SKU"
              :source="distributionGroupsEndpoint"
              input-class="form-control form-control-sm"
              results-property="payload"
              :results-display="formattedDisplay"
              :request-headers="authHeaders">
            </autocomplete>
          </span>
        </CCol>
      </CRow>


			       <!--  <CInput 
                  class="datepicker col-4"
               	  type="date"
                  horizontal
                  v-model= "date"
                  v-on:selected ="dateSelected"
                 />
              <div>{{date}}</div>
              
                 {{id}}
			 -->
    <CRow>
      <table class="table mt-3">
            <tr>
              <th>#</th>
              <th class="table-header">SKU<br> Code</th>
              <th class="table-header">SKU<br>Name</th>

              <th class="table-header">Supplier</th>
              <th class="table-header">Buying <br/>Node</th>
              <th class="table-header">SKU <br>UOM</th>
              <th class="table-header">Stock <br>Norm</th>
              <th class="table-header">Actual <br>Stock</th>

              <th class="table-header">Gap <br>Qty.</th>
              <th class="table-header">Consum</th>

              <th class="table-header">Indent <br/> SKU</th>
              <th class="table-header">Indent <br/> Raised</th>

              <th class="table-header">PO <br/> Raised</th>
              <th class="table-header">PO <br/> QTY</th>

              <th class="table-header">In-Tran<br>QTY</th>
              
              <th class="table-header">Net <br> Qty.(AS+IT)</th>
              <th class="table-header">Issue /<br/>Concern</th>
          </tr>
        
          <tr class="data-font" v-for="(item, index) in filteredList" :key="index">
            <td>{{index + 1}}</td>
            <td>{{item.skumaster.skucode}}</td>

            <td>
              <a :href="'/#/user/skutrend/' + item.skumaster.sku._id">
                {{item.skumaster.sku.name}}
              </a>
            </td>

            <td>
              <a :href="'/#/user/suppliertrend/' + item.supplier._id">
                {{item.supplier.name}}
              </a>
            </td>

            <td>
              <a :href="'/#/user/consumertrend/' + item.consumer._id" content="buyer <a class='buyer_name' href='/#/user/dashboard'> sam More</a>" 
                v-tippy='{ interactive: true, allowHTML: true }'>
                {{item.consumer.name}}
              </a>
            </td>
            <td>Nos.</td>
            <td>{{item.stock_norm.toFixed(0)}}</td>
            <td v-if="item.availability_zone==0 ">
              <button  class="btn blackbtn btntext" >
              {{item.actual_stock.toFixed(0)}}/{{item.stock_norm.toFixed(0)}}</button>
            </td>
            <td v-else-if="item.availability_zone==1 ">
              <button class="btn redbtn btntext">
              {{item.actual_stock.toFixed(0)}}/{{item.stock_norm.toFixed(0)}}</button>
            </td>
            <td v-else-if="item.availability_zone==2 ">
              <button class="btn yellowbtn btntext">
              {{item.actual_stock.toFixed(0)}}/{{item.stock_norm.toFixed(0)}}</button>
            </td>
            <td v-else-if="item.availability_zone==3 ">
              <button class="btn greenbtn btntext">
              {{item.actual_stock.toFixed(0)}}/{{item.stock_norm.toFixed(0)}}</button>
            </td>
            <td v-else-if="item.availability_zone==4 ">
              <button class="btn bluebtn btntext">
                {{item.actual_stock.toFixed(0)}}/{{item.stock_norm.toFixed(0)}}</button>
            </td>

            <!-- actual stock -->
            <td>{{(item.stock_norm-item.actual_stock).toFixed(0)}}</td>

            <!-- Consumption -->
            <td>{{(((item.stock_norm - item.actual_stock) / item.stock_norm) * 100).toFixed(0)}}%</td>

            <!-- Indent SKU-->
            <td>-</td>

            <!-- Indent Raised-->
            <td>-</td>

            <!-- PO raised -->
            <td>N</td>

            <!-- PO Quantity -->
            <td>-</td>



            <td>{{0 }}</td>
            
            <!-- item.actual_stock+item.in_transite_stock -->
            <td v-if="item.availability_zone==0 ">
              <button  class="btn blackbtn btntext" >0</button>
            </td>
            <td v-else-if="item.availability_zone==1 ">
              <button class="btn redbtn btntext">0</button>
            </td>
            <td v-else-if="item.availability_zone==2 ">
              <button class="btn yellowbtn btntext">0</button>
            </td>
            <td v-else-if="item.availability_zone==3 ">
              <button class="btn greenbtn btntext">0</button>
            </td>
            <td v-else-if="item.availability_zone==4 ">
              <button class="btn bluebtn btntext">0</button>
            </td>

          <td> <span style="padding: 5px;cursor: pointer;" @click="showComments(item)">{{ item.comment_count }}</span></td>

    </tr>
        
      </table>
    </CRow>
  </CCardBody>
</CCard>

</div>        <!-- column closed -->
</div>          <!-- row closed -->

<CModal
  title="Comments"
  :show.sync="modalComment">
  <template #header>
    <h6 v-if="null != selectedItem"> {{selectedItem.consumer.name}} -  {{selectedItem.skumaster.sku.name}}</h6>
    <CButtonClose @click="modalComment = false" class="text-dark"/>
  </template>
  <template #footer>
    
  </template>

  <template #footer>
      <CButton @click="cancelModal" size="md" color="default">Exit</CButton>
      <CButton v-if="null != tempComment" @click="postComment" color="success">Save</CButton>
  </template>
  <CRow v-show="null == tempComment">
    <CCol>
      <CInput
	 	    class="comment-text-input"
        @keyup.enter="addTempComment"
        placeholder="Add New Comment Here"
        v-model="newComment"
      />
    </CCol>
  </CRow>
  <CRow>
    <CCol>
       <div v-if="null != tempComment" >
        
        <template v-if="tempComment.nodesku.availability_zone==0">
          <button class="button blackbtn first-button pillbutton">{{tempComment.nodesku.actual_stock}} / {{tempComment.nodesku.stock_norm}}</button>
        </template>
        <template v-if="tempComment.nodesku.availability_zone==1">
          <button class="button redbtn first-button pillbutton">{{tempComment.nodesku.actual_stock}} / {{tempComment.nodesku.stock_norm}}</button>
        </template>
        <template v-if="tempComment.nodesku.availability_zone==2">
          <button class="button yellowbtn first-button pillbutton">{{tempComment.nodesku.actual_stock}} / {{tempComment.nodesku.stock_norm}}</button>
        </template>
        <template v-if="tempComment.nodesku.availability_zone==3">
          <button class="button greenbtn first-button pillbutton">{{tempComment.nodesku.actual_stock}} / {{tempComment.nodesku.stock_norm}}</button>
        </template>
        <template v-if="tempComment.nodesku.availability_zone==4">
          <button class="button bluebtn first-button pillbutton">{{tempComment.nodesku.actual_stock}} / {{tempComment.nodesku.stock_norm}}</button>
        </template>
        <span class="comment-date">{{ tempComment.createdAt | moment(" MMM DD YY, h:mm")  }}</span>
        <p class="comment comment-border">
          <span>{{tempComment.comment}}</span>
          <i @click="deletComment()" class="fa fa-trash trash-icon pull-right" aria-hidden="true"></i>
        </p>
      </div>
      <div v-for="data in comments" :key=data._id>
        
        <template v-if="data.nodesku.availability_zone==0">
          <button class="button blackbtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button>
        </template>
        <template v-if="data.nodesku.availability_zone==1">
          <button class="button redbtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button>
        </template>
        <template v-if="data.nodesku.availability_zone==2">
          <button class="button yellowbtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button>
        </template>
        <template v-if="data.nodesku.availability_zone==3">
          <button class="button greenbtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button>
        </template>
        <template v-if="data.nodesku.availability_zone==4">
          <button class="button bluebtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button>
        </template>
        <span class="comment-date">{{ data.createdAt | moment(" MMM DD YY, h:mm")  }}</span>
        <p class="comment comment-border">
          <span>{{data.comment}}</span>
        </p>
      </div>
    </CCol>
  </CRow>
  
</CModal>

</div>          <!-- container closed -->
</template>


<script>
  import Vue from '../../../utils/sessionManager';
  const vue = new Vue();
  import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
  import * as apis from '@/utils/api/stocknorms'
  import * as UserApis from '@/utils/api/users'
  import * as CommentApis from '@/utils/api/node_sku_comment'
  import Loading from 'vue-loading-overlay';
  import Autocomplete from 'vuejs-auto-complete'
  import 'vue-loading-overlay/dist/vue-loading.css';
  import {BASE_URL} from '@/utils/urlConstants.js'
 
 //import * as stocktrend from "@/utils/api/stocktrend"
  export default {
    name:"stocknorms",
    components: {
      Datepicker,
      Loading,
      Autocomplete   
    },
    
    props:['id'],
    data () {
      return {
        nodeId : this.$route.params.id,
         search: "-1",  
       // stockdata :[],
        result : [],
        list : [],
        dailysnsresult : [],
        color: null,
        value:'',
        date :'',
        percentage:null,
        isLoading : false,
        locationList: [],
        selectedLocations: [],
        modalComment: false,
        selectedItem: null,
        comments: [],
        newComment: null,
        searchSelectedObject: null,
        searchSelectedObjectName: null,
        tempComment: null
      }  // return closed  
    }, // data varible closed


  mounted: function () {
    this.fetchList()
    this.fetchLocations();
   },  // mounted closed


   computed: {
     authHeaders () {
      return {
        'Authorization': 'Bearer ' + vue.getToken()
      }
    },
    filteredList() {
      if (this.search == '' || this.search == '-1') {
        if(null == this.searchSelectedObject) {
          return this.result;
        } else {
          return this.result.filter((item) => {
            return (item.consumer._id == this.searchSelectedObject || item.skumaster.sku._id == this.searchSelectedObject) &&  item.availability_zone == this.search;   
          });
        }
         
      }
   else {
      return  this.result.filter((item) => {
        if(null == this.searchSelectedObject) {
          return item.availability_zone == this.search
        } else {
          return (item.consumer._id == this.searchSelectedObject || item.skumaster.sku._id == this.searchSelectedObject) &&  item.availability_zone == this.search;   
        }
      });
   } ////else closed
    },
  },

    methods : {

  fetchList: function () {
    // console.log("node id is ",this.nodeId)
    this.isLoading = true
    let parentId = null;
    let type = 0;
    if(this.selectedLocations.length > 0)  {
      parentId = this.selectedLocations[this.selectedLocations.length - 1].value;
      type = this.selectedLocations[this.selectedLocations.length - 1].type;
    }

    console.log("Sending type ", type);
    UserApis.getStocknorm(parentId, '12/05/2020', type)
      .then((response) => {
      this.isLoading = false
      
    
      console.log("stocknorms data",response.data.payload)        
      for(let i = 0; i < response.data.payload.length; i++) {
        let color = "black";
        console.log("Actual stock " + response.data.payload[i].actual_stock + "  in transit stock " + response.data.payload[i].in_transite_stock + "    stock norm  " + response.data.payload[i].stock_norm);
        let percentage =(response.data.payload[i].actual_stock / response.data.payload[i].stock_norm) * 100;

        if(percentage>0 && percentage<=33) {
          color = "red"
        }
        else if(percentage>33 && percentage<=66) {
          color = "yellow"
        }
        else if(percentage>66 && percentage<=100) {
          color = "green"
        }
        response.data.payload[i].transitionCompelete = color;
        response.data.payload[i].percentage = percentage;
        console.log("-------- setting percentage ", response.data.payload[i]);
      } //for loop closed 
      response.data.payload.sort(function(lhs, rhs) {
        console.log("Comparing " + lhs.percentage + "  " + rhs.percentage);
        return lhs.percentage - rhs.percentage;
      });

      this.result = response.data.payload
    }) /// response closed
    }, // fetchlist closed

       dateSelected () {
      //this.date = this.date
        console.log("date",this.date)
    }, //dataseleccted closed
    onLocationSelect: function(value) {
      if('any' == value.target.value) {
        return;
      }
      console.log("On select value ", value.target.value);
        for(let index = 0; index < this.locationList.length; ++index) {
          if(this.locationList[index].value == value.target.value) {
            this.selectedLocations.push(this.locationList[index]);
            console.log("+++++ selected locations update", this.selectedLocations);
            
          }
        }
        console.log("New locations length ", this.selectedLocations.length + 1);
        this.fetchLocations();
        this.fetchList();
    },
    fetchLocations: function() {
      let parentId = null;
      let type = 0;
      if(this.selectedLocations.length > 0) {
        parentId = this.selectedLocations[this.selectedLocations.length - 1].value;
        type = this.selectedLocations[this.selectedLocations.length - 1].type;
      }
      UserApis.getLocations(this.selectedLocations.length + 1, parentId, type)
        .then((response) => {
          this.locationList = response.data.payload;
          console.log("Location list ", this.locationList);
        });
    },
    onLocationTabClick: function(index) {
      console.log("Index to remove " +  index + '   from list size ' + this.selectedLocations.length);
      if(index == -1) {
        this.selectedLocations = [];
        
      }


      if(index <= this.selectedLocations.length - 1) {
        this.selectedLocations.splice(index + 1, 1);
        console.log("updated array ", this.selectedLocations);
      }

      this.fetchLocations();
      this.fetchList();
    },
    addDistributionGroup (group) {
      console.log( group.selectedObject);
      let id = group.selectedObject._id

      this.searchSelectedObject = group.selectedObject._id;
      this.searchSelectedObjectName = group.selectedObject.name;
      // console.log("group is ",group.selectedObject._id)
      // this.group = group
      // access the autocomplete component methods from the parent
      // this.$refs.autocomplete.clear()
      // this.$router.push(
      //       {path:`/admin/nodestocknorm/${id}`,props: true })
    },
    distributionGroupsEndpoint (input) {
      //console.log("input is +++",input)
      // let query = "";
      // if(selectedLocations.length > 0) {
      //   query = "?parent"
      // }
      return  BASE_URL + '/api/user/me/search/' + input

    },
    formattedDisplay (result) {
      return result.name
    // + ' [' + result.groupId + ']'
    },
    fetchComments () {
      CommentApis.fetchListByIds(this.selectedItem.consumer._id, this.selectedItem.skumaster.sku._id)
        .then((response) => {
          this.comments = response.data.payload;
      });
    },
    showComments (item) {
      this.selectedItem = item;
      this.modalComment = true;
      this.fetchComments();
    },
    addTempComment () {
      this.tempComment = {
        comment: this.newComment,
        nodesku: {
          stock_norm: this.selectedItem.skumaster.stock_norm,
          actual_stock: this.selectedItem.actual_stock,
          availability_zone: this.selectedItem.availability_zone,
        },
        createdAt: new Date().toISOString(),
        temp: true
      };
      this.newComment = null;
    },
    postComment () {
      this.modalComment = false;
      console.log("On comment post ", this.newComment);
      let comment = this.tempComment.comment.trim();
      let id = this.id;
      CommentApis.addByIds(this.selectedItem.consumer._id, this.selectedItem.skumaster.sku._id,
        {comment : comment}).then((response) => {
          if(response.data.status.status_code === 0) {
            this.newComment = null;
            this.tempComment = null;
            this.selectedItem.comment_count += 1;
            this.fetchComments();
          } else {
            this.error = response.data.status.message
          }
        }
      );
      
    },
    cancelModal () {
      this.newComment = null;
      this.tempComment = null;
      this.modalComment = false;
    },
    deletComment () {
      this.tempComment = null;
    }

 },

  }  // export default closed
</script>


<style scoped>

.table>tr>th {
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
} 

.headblue {
    background-color: blue;
    color: white;
  }
  .data-font {
    font-size: 12px;
    padding: 
  }
  .table-header {
    font-size:11px;
    padding: 5px
  }
  
  .table th, .table td {
  padding: 1px;
  text-align: center!important;
   
   }


   .table td {
    border-top-color: #f5f5f5;
    text-align: center!important;
    vertical-align: top;
   }

   .table tr {
    line-height: 1.5em;
   }

  .datepicker {

  }

  .btn {
    width: 74px!important;
  }
  .blackbtn {
    background-color: #696969;

  }
  .redbtn {
    background-color: red;
  }
  .yellowbtn {
    /*background-color: #FFFF66;*/
    background-color:  #FFD700;

  }
  .greenbtn {
    background-color: #32CD32;
  }
  .bluebtn {
    background-color: #348afc;
  }

  .btntext {
    color: white;
    width: 38px;

    /*font-weight:bold;*/
  }
  .btn {
    line-height: 0.5;
    width:70px;
  }
  
  .dropdown-header-style {
    font-weight: bold;
  }

  .select_location {
    display: inline-block !important;
  }

  .selected_location {
    display: inline-block !important;
    float: left;
    
  }

  .selected_location > span {
    color: #000;
    padding-top: 3px;
    padding-left: 5px;
    position: absolute;
    max-width: 100%;
    overflow-x: hidden;
    cursor: pointer;
  }

  .selected_location:after {
    border-left: 13px solid;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    right: -13px;
  }
  .selected_location {
    width: 100px;
    height: 26px;
    display: inline-block;
    position: relative;
  }

  .selected_location_even {
    color: #afafaf;
    background: #afafaf;
  }
  .selected_location_even:after {
    color: #afafaf;
  }

  .selected_location_odd {
    color: #efefef;
    background: #efefef;
  }
  .selected_location_odd:after {
    color: #efefef;
  }

  .select_location {
    margin-left: 30px;
  }

  .comment-date {
    font-size: 12px;
    color: #afafaf;
    margin-left: 8px;
  }

.pillbutton {
 /* background-color: grey;*/
  font-size: 11px;
  border: none;
  color: black;
 /* padding: 3px 3px;*/
 /*padding:2px 2px;*/
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
 /* margin: 14px 8px;*/
 
  cursor: pointer;
  border-radius: 13px;
  /*width: 70px;*/
  color: white;

}

.comment {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #efefef;
}


.blackbtn {
  background-color: #696969;

}
.redbtn {
  background-color: red;
}
.yellowbtn {
   background-color:  #FFD700;

}
.greenbtn {
  background-color: #32CD32;
}
.bluebtn {
	background-color:#348afc;
}

.tippy-content {
  color: #000 !important;
  background: #afafaf !important;

}

.tippy-content > a {
  color: #000 !important;
}

.buyer_name {
  color: #fff !important;
  text-decoration: none;
}


  </style> 





