<template>
	<div class="container">
    <div class="vld-parent">
        <loading :active.sync="isLoading" 
        :can-cancel="true" 
        >
        </loading>
      </div>
      <!-- :on-cancel="onCancel"
        :is-full-page="fullPage" -->
    <div class="row">
      <div class="col-12 col-md-12">
		<CCard>
      <CCardHeader>
        Supplier Supply Trend - <span v-if="node">{{node.name}}</span>
      </CCardHeader>
		<CCardBody>
       <!--  <input type="text" v-model="search" 
            placeholder="Search SKU.."/> -->


			       <!--  <CInwput 
                  class="datepicker col-4"
               	  type="date"
                  horizontal
                  v-model= "date"
                  v-on:selected ="dateSelected"
                 />
              <div>{{date}}</div>
              
                 {{id}}
			 -->

    <CRow >
      <CCol class="table-scroll">
        <table v-if="result.length > 0" class="main-table">
          <thead>
            <th ref="head1">Buyer <br> <span class="title_span">{{result[0].skumaster.sku.skucode}}</span></th>
            <th ref="head2" :style="{left: col2Left + 'px'}">SKU Code <br> <span class="title_span">{{result[0].skumaster.sku.name}}</span></th>
            <th ref="head3" :style="{left: col3Left + 'px'}">SKU Name</th>
            <th ref="head4" :style="{left: col4Left + 'px'}">UOM</th>
            <th ref="head5" :style="{left: col5Left + 'px'}" class="text-center">Concerns/<br/>Issues</th>
            <th class="table-header" v-for="(date, index) in dates" :key="date + index">
              {{date | moment("DD MMM")}}
            </th>
          </thead>
          <tbody>
            <tr class="data-font" v-for="(item, index) in result" :key="index">
              <th class="table_label"><span>{{item.child.name}}</span></th>

              <th  class="table_label" :style="{left: col2Left + 'px'}"><span>{{item.skumaster.sku.skucode}}</span></th>

              <th class="table_label" :style="{left: col3Left + 'px'}"><span>{{item.skumaster.sku.name}}</span></th>

              <th class="table_label" :style="{left: col4Left + 'px'}"><span>Nos.</span></th>
              
              <th class="table_label text-center" :style="{left: col5Left + 'px'}"><span style="padding: 5px;cursor: pointer;" @click="showComments(item)">{{ item.comment_count }}</span></th>
              
              <td v-for="stock in item.stock" :key="stock._id" class="date_col">
                <button class="btn bluebtn btntext" v-if="stock.availability_zone == 4">
                  {{stock.actual_stock.toFixed(0)}} / {{stock.stocknorm.toFixed(0)}}
                </button>
                <button class="btn greenbtn btntext" v-else-if="stock.availability_zone == 3">
                  {{stock.actual_stock.toFixed(0)}} / {{stock.stocknorm.toFixed(0)}}
                </button>
                <button class="btn yellowbtn btntext" v-else-if="stock.availability_zone == 2">
                  {{stock.actual_stock.toFixed(0)}} / {{stock.stocknorm.toFixed(0)}}
                </button>
                <button class="btn redbtn btntext" v-else-if="stock.availability_zone == 1">
                  {{stock.actual_stock.toFixed(0)}} / {{stock.stocknorm.toFixed(0)}}
                </button>
                <button class="btn blackbtn btntext" v-else>
                  {{stock.actual_stock.toFixed(0)}} / {{stock.stocknorm.toFixed(0)}}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </CCol>
    </CRow>
  </CCardBody>
</CCard>

</div>        <!-- column closed -->
</div>          <!-- row closed -->
<CModal
  title="Comments"
  :show.sync="modalComment">
  <template #header>
    <h6 v-if="null != selectedItem"> {{selectedItem.child.name}} -  {{selectedItem.skumaster.sku.name}}</h6>
    <CButtonClose @click="modalComment = false" class="text-dark"/>
  </template>
  <template #footer>
    
  </template>

  <template #footer>
      <CButton @click="cancelModal" size="md" color="default">Exit</CButton>
      <CButton v-if="null != tempComment" @click="postComment" color="success">Save</CButton>
  </template>
  <CRow v-show="null == tempComment">
    <CCol>
      <CInput
	 	    class="comment-text-input"
        @keyup.enter="addTempComment"
        placeholder="Add New Comment Here"
        v-model="newComment"
      />
    </CCol>
  </CRow>
  <CRow>
    <CCol>
       <div v-if="null != tempComment" >
        
        <template v-if="tempComment.nodesku.availability_zone==0">
          <button class="button blackbtn first-button pillbutton">{{tempComment.nodesku.actual_stock}} / {{tempComment.nodesku.stock_norm}}</button>
        </template>
        <template v-if="tempComment.nodesku.availability_zone==1">
          <button class="button redbtn first-button pillbutton">{{tempComment.nodesku.actual_stock}} / {{tempComment.nodesku.stock_norm}}</button>
        </template>
        <template v-if="tempComment.nodesku.availability_zone==2">
          <button class="button yellowbtn first-button pillbutton">{{tempComment.nodesku.actual_stock}} / {{tempComment.nodesku.stock_norm}}</button>
        </template>
        <template v-if="tempComment.nodesku.availability_zone==3">
          <button class="button greenbtn first-button pillbutton">{{tempComment.nodesku.actual_stock}} / {{tempComment.nodesku.stock_norm}}</button>
        </template>
        <template v-if="tempComment.nodesku.availability_zone==4">
          <button class="button bluebtn first-button pillbutton">{{tempComment.nodesku.actual_stock}} / {{tempComment.nodesku.stock_norm}}</button>
        </template>
        <span class="comment-date">{{ tempComment.createdAt | moment(" MMM DD YY, h:mm")  }}</span>
        <p class="comment comment-border">
          <span>{{tempComment.comment}}</span>
          <i @click="deletComment()" class="fa fa-trash trash-icon pull-right" aria-hidden="true"></i>
        </p>
      </div>
      <div v-for="data in comments" :key=data._id>
        
        <template v-if="data.nodesku.availability_zone==0">
          <button class="button blackbtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button>
        </template>
        <template v-if="data.nodesku.availability_zone==1">
          <button class="button redbtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button>
        </template>
        <template v-if="data.nodesku.availability_zone==2">
          <button class="button yellowbtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button>
        </template>
        <template v-if="data.nodesku.availability_zone==3">
          <button class="button greenbtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button>
        </template>
        <template v-if="data.nodesku.availability_zone==4">
          <button class="button bluebtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button>
        </template>
        <span class="comment-date">{{ data.createdAt | moment(" MMM DD YY, h:mm")  }}</span>
        <p class="comment comment-border">
          <span>{{data.comment}}</span>
        </p>
      </div>
    </CCol>
  </CRow>
  
</CModal>
</div>          <!-- container closed -->
</template>


<script>
  import Vue from '../../../utils/sessionManager';
  const vue = new Vue();
  import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
  import * as apis from '@/utils/api/stocknorms'
  import * as UserApis from '@/utils/api/users'
  import * as NodeApis from '@/utils/api/nodes'
  import Loading from 'vue-loading-overlay';
  import Autocomplete from 'vuejs-auto-complete'
  import 'vue-loading-overlay/dist/vue-loading.css';
  import {BASE_URL} from '@/utils/urlConstants.js'
 
  import * as CommentApis from '@/utils/api/node_sku_comment'

 //import * as stocktrend from "@/utils/api/stocktrend"
  export default {
    name:"stocknorms",
    components: {
      Datepicker,
      Loading,
      Autocomplete
    },
    
    props:['id'],
    data () {
      return {
        nodeId : this.$route.params.id,
         search: "",  
       // stockdata :[],
        result : [],
        list : [],
        dailysnsresult : [],
        color: null,
        value:'',
        date :'',
        percentage:null,
        isLoading : false,
        locationList: [],
        selectedLocations: [],
        dates: ["Aug 2", "Aug 3", "Aug 4", "Aug 5"],
        col2Left: 0,
        col3Left: 0,
        col4Left: 0,
        col5Left: 0,
        node: null,
        comments: [],
        newComment: null,
        tempComment: null,
        selectedItem: null,
        modalComment: false
      }  // return closed  
    }, // data varible closed


  mounted: function () {
    this.fetchList()
    this.fetchDetails()
    // this.fetchLocations();
   },  // mounted closed


   computed: {
     authHeaders () {
      return {
        'Authorization': 'Bearer ' + vue.getToken()
      }
    },
    filteredList() {
      if (this.search==''){
         return  this.result.filter((item) => {
     return item.consumer.name.toLowerCase().includes(this.search.toLowerCase());
        
      });
      }
   else {
     return  this.result.filter((item) => {
        return item.availability_zone==this.search
      });
   } ////else closed
    },
  },

  methods : {
  fetchDetails () {
    NodeApis.details(this.$route.params.id)
      .then((response) => {
        this.node = response.data.payload
      });
  },
  handleScroll (event) {
    console.log("+++++++ on scrolled");
  },
  calculateStickyMargins () {
    console.log("Head 1 ref", this.$refs.head1);

    this.col2Left = this.$refs.head1.clientWidth
    this.col3Left = this.$refs.head1.clientWidth + this.$refs.head2.clientWidth
    this.col4Left = this.$refs.head1.clientWidth + this.$refs.head2.clientWidth + this.$refs.head3.clientWidth
    this.col5Left = this.$refs.head1.clientWidth + this.$refs.head2.clientWidth + this.$refs.head3.clientWidth + this.$refs.head4.clientWidth
    console.log("Col 1 left", this.col2Left);
    console.log("Col 2 left", this.col3Left);
    console.log("Col 3 left", this.col4Left);
  },
  fetchList: function () {
    console.log("node id is ",this.$route.params.id)
    this.isLoading = true
    UserApis.getSupplierTrend(this.$route.params.id)
      .then((response) => {
        this.isLoading = false
        let data = response.data.payload;
      
        console.log("stocknorms data",this.result)        

        let dates = [];
        for(let index = 0; index < data[0].stock.length; ++index) {
          dates.push(data[0].stock[index].date);
        }
        this.dates = dates;

        // for(let i = 0; i < data.length; i++) {
        //   data[i].stock = {};
          // for(let dateIndex = 0; dateIndex < this.dates.length; ++dateIndex) {
          //   data[i].stock[this.dates[dateIndex]] = Math.floor(Math.random() * data[i].skumaster.stock_norm);
          //   // console.log("percentage ", data[i].stock[this.dates[dateIndex]] / data[i].skumaster.stock_norm );
          // }
          


        // } //for loop closed
        this.result = data;
        this.$nextTick(() => {
          this.calculateStickyMargins()
        });
      }) /// response closed
    }, // fetchlist closed

    dateSelected () {
      //this.date = this.date
        console.log("date",this.date)
    }, //dataseleccted closed
    onLocationSelect: function(value) {
      console.log("On select value ", value.target.value);
        for(let index = 0; index < this.locationList.length; ++index) {
          if(this.locationList[index].value == value.target.value) {
            this.selectedLocations.push(this.locationList[index]);
            console.log("+++++ selected locations update", this.selectedLocations);
            
          }
        }
        console.log("New locations length ", this.selectedLocations.length + 1);
        this.fetchLocations();
        this.fetchList();
    },
    fetchLocations: function() {
      UserApis.getLocations(this.selectedLocations.length + 1)
        .then((response) => {
          this.locationList = response.data.payload;
          console.log("Location list ", this.locationList);
        });
    },
    onLocationTabClick: function(index) {
      if(index == -1) {
        this.selectedLocations = [];
        
      }
      if(index < this.selectedLocations.length - 1) {
        this.selectedLocations.slice(index);
        
      }

      this.fetchLocations();
      this.fetchList();
    },
    addDistributionGroup (group) {
      let id =group.selectedObject._id

      // console.log("group is ",group.selectedObject._id)
      this.group = group
      // access the autocomplete component methods from the parent
      this.$refs.autocomplete.clear()
      this.$router.push(
            {path:`/admin/nodestocknorm/${id}`,props: true })
    },
    distributionGroupsEndpoint (input) {
      //console.log("input is +++",input)
      return  BASE_URL + '/api/user/me/search/' + input

    },
    formattedDisplay (result) {
      return result.name
    // + ' [' + result.groupId + ']'
    },
fetchComments () {
      CommentApis.fetchListByIds(this.selectedItem.child._id, this.selectedItem.skumaster.sku._id)
        .then((response) => {
          this.comments = response.data.payload;
      });
    },
    showComments (item) {
      this.selectedItem = item;
      this.modalComment = true;
      this.fetchComments();
    },
    addTempComment () {
      this.tempComment = {
        comment: this.newComment,
        nodesku: {
          stock_norm: this.selectedItem.skumaster.stock_norm,
          actual_stock: this.selectedItem.actual_stock,
          availability_zone: this.selectedItem.availability_zone,
        },
        createdAt: new Date().toISOString(),
        temp: true
      };
      this.newComment = null;
    },
    postComment () {
      this.modalComment = false;
      console.log("On comment post ", this.newComment);
      let comment = this.tempComment.comment.trim();
      let id = this.id;
      CommentApis.addByIds(this.selectedItem.child._id, this.selectedItem.skumaster.sku._id,
        {comment : comment}).then((response) => {
          if(response.data.status.status_code === 0) {
            this.newComment = null;
            this.tempComment = null;
            this.selectedItem.comment_count += 1;
            this.fetchComments();
          } else {
            this.error = response.data.status.message
          }
        }
      );
      
    },
    cancelModal () {
      this.newComment = null;
      this.tempComment = null;
      this.modalComment = false;
    },
    deletComment () {
      this.tempComment = null;
    }


 },

  }  // export default closed
</script>


<style scoped>
.headblue {
    background-color: blue;
    color: white;
  }
  

  .btn {
    width: 55px!important;
  }
  .blackbtn {
    background-color: #696969;

  }
  .redbtn {
    background-color: red;
  }
  .yellowbtn {
    /*background-color: #FFFF66;*/
    background-color:  #FFD700;

  }
  .greenbtn {
    background-color: #32CD32;
  }
  .bluebtn {
    background-color: #348afc;
  }

  .btntext {
    color: white;
    width: 48px;

    /*font-weight:bold;*/
  }
  .btn {
    line-height: 0.5;
    width:40px;
  }
  
  .dropdown-header-style {
    font-weight: bold;
  }

  .select_location {
    display: inline-block !important;
  }

  .selected_location {
    display: inline-block !important;
    float: left;
    
  }

  .selected_location > span {
    color: #000;
    padding-top: 3px;
    padding-left: 5px;
    position: absolute;
    max-width: 100%;
    overflow-x: hidden;
    cursor: pointer;
  }

  .selected_location:after {
    border-left: 13px solid;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    right: -13px;
  }
  .selected_location {
    width: 100px;
    height: 26px;
    display: inline-block;
    position: relative;
  }

  .selected_location_even {
    color: #afafaf;
    background: #afafaf;
  }
  .selected_location_even:after {
    color: #afafaf;
  }

  .selected_location_odd {
    color: #efefef;
    background: #efefef;
  }
  .selected_location_odd:after {
    color: #efefef;
  }

  .select_location {
    margin-left: 30px;
  }

  tbody > tr > th {
    width: 100px;
  }

  th:nth-child(-n+5)
  {
    position:sticky;
    left:0px;
    background-color:white;
  }




  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

  .date_col {
    width: 150px;
  }

  th {
    padding-right: 20px;
  }

  .title_span {
    color: white; 
  }

  td > button {
    margin-right: 20px;
  }

  .table_label {
    font-weight: 100;
  }
  </style> 





