<template>
  <CContainer class="d-flex align-items-center min-vh-100">
    <CRow class="justify-content-center w-100">
      <CCol md="6">
        <CCardGroup>
          <CCard class="p-4">
            <CCardBody>
              <CForm>
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>

                <CCol md="12">
                  <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>
                </CCol>
                <CInput
                  placeholder="Email"
                  autocomplete="username email"
                  v-model="email"
                >
                  <template #prepend-content><CIcon name="cil-user"/></template>
                </CInput>
                <CInput
                  placeholder="Password"
                  type="password"
                  autocomplete="curent-password"
                  v-model="password"
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <CRow>
                  <CCol col="6">
                    <CButton
                      color="info"
                      class="px-4"
                      @click="doLogin">
                        Login
                      </CButton>
                  </CCol>
                </CRow>
              </CForm>
            </CCardBody>
          </CCard>
        </CCardGroup>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
import Vue from '../utils/sessionManager'
import * as apis from '../utils/api/admin'

export default {
  name: 'Login',
  data () {
    return {
      email: "",
      password: "",
      error: null,
      isLoading: false
    }
  },
  methods: {
    doLogin() {
      const vue = new Vue();
      this.isLoading = true
      const email = this.email.trim()
      const password = this.password.trim()

      if(email.length === 0) {
        this.error = "Email address is empty"
        return
      }

      if(password.length === 0) {
        this.error = "Password is empty"
        return
      }

      apis.login(email, password)
        .then((response) => {
          this.isLoading = false
          if(response.data.status.status_code === 0) {
            vue.setToken(response.data.payload.token)
            vue.setUser(response.data.payload.user)
            if(response.data.payload.user.role === "super_admin"){
              console.log("Login Successful !")
              this.$router.push('/admin/dashboard')
            } else {
              console.log("Role is Different !");
              this.$router.push('/user/dashboard')
            }
          } else {
            this.error = response.data.status.message
            console.log("Error");
          }

        }).catch((err) => {
          this.isLoading = false
          if(err) {
            this.error = "Server error. Please try again"
          }
        })


    },
  }
}
</script>
