<template>
  <div class="app">
    <CRow>
      <CCol class="heading-bar-distance">
        <div class="heading-style heading-bar-distance"> Stock Status </div>
      </CCol>

    
      <CCol> 
        <span  @click="toggleExpand">
          <CIcon v-if="!expanded" name="cil-cursor-move" width="18" class="float-right expand_icon" />
          <CIcon v-else name="cil-compress" width="18" class="float-right expand_icon" />
        </span>
         

        
        <div  class="breadcrumb float-right " >
        <ul>
            <li
           style="display: inline-block;"
            v-for= "(data,idx) in items"
            :key= "idx"
            @click ="breadcrumbClick(data._id,idx)"
           >
           <span >
           {{data.text}}{{"/"}}</span>
            </li>
          </ul>

        </div>
      </CCol>

     
       </CRow>

       
       <CRow >
        <CCol md="12">
    <div id="chart barchart-margin" >
        <apexchart type="bar" height="180" 
        :options="chartOptions"
        :series="series" @click="nodeChange"
        class="barchart-position">
         </apexchart>
       </div>
    </CCol>
     </CRow>
`   </div>
 </template>




 <script> 
   import * as apis from '@/utils/api/locations'
   import VueApexCharts from 'vue-apexcharts'

export default {
  name: 'Barchart',
  components: {
    apexchart: VueApexCharts,
  },
props:['barchartdata'],
  
  
data: function() {
      return {
       BarData : this.$route.params.barchartdata, 
        dashboardBarChartData :[],
        expanded: false,
        items: [
        {
          text: 'India',
          id:null
        }, 
        
      ],
            error : null,
            responseData :this.barchartdata,
            flag:false,
            //list : [], 
            cities : [], 
            nodes :[] ,
            parentid : null ,
            cityid :null ,
            xaxisvalue :[],
            
            series : [{
              name :'BLACK',
              data:[]
            },{
              name:"RED",
              data : []
            },
            {
              name:"YELLOW",
              data : []
            },
            {
              name:"GREEN",
              data : []
            },
            {
              name:"BLUE",
              data : []
            }
            ],
         

          chartOptions: {
            colors : ['#727272','#fd4a1e','#feba2c','#7cc925',
                      '#348afc'],
             //'#727272',==black
             //'#fd4a1e',==red
             //'#feba2c',== yellow
            //'#7cc925',==green
            //'#348afc' ==blue
            grid :{
              show:false
            },
            dataLabels: {
                        enabled: false,
                       },
           
             chart: {
               id: 'vuechart-example',
              type: 'bar',
               //height: 350,
                //width:300,
              stacked: true,
              toolbar: {
                show:false
              },
              zoom: {
                enabled: true
              },

              
         },
            responsive: [{
              breakpoint: 480,
              options: {
                legend: {
                  show :false,
                  position: 'bottom',
                  offsetX: -10,
                  offsetY: 0
                }
              }
            }],
            plotOptions: {
              bar: {
                horizontal:true,
                //columnWidth: '40%',
                //barHeight: '80%',     //reduce thickness of bar 
                // columnWidth: '1%',
               dataLabels: {
                enabled:false,
                
              },
                
              },
          
            },
            xaxis: {
              categories:[],
              labels: {
                 show:false,
                    },
                    lines:{
                        show:false,
                    } ,
              },
            legend: {
              show:false,
              position: 'bottom', // for labels shown at bottom
              
            },
            fill: {
              opacity: 1
            }
          },
        }
        
        },     //data function closed
        mounted () {
         
        },
       
     watch : {
      barchartdata:function(){
         console.log("data is----------",this.barchartdata)
    
        this.chartdata()
      },
     },
    
   

  methods : {
    

    breadcrumbClick :function (items,idx)  {
     
     
       // console.log("after breadcrumb clicked item is",items)
       // console.log("after breadcrumb clicked idx is",idx)

      if(idx>=0){
      let newArray=this.items.slice(0,idx+1);
      this.items = newArray;
    }
      this.parentid = items;
       this.$emit('fetchList',this.parentid);
       
      
    },
    chartdata : function() {
      
      this.dashboardBarChartData = this.barchartdata.slice(0,4)
      // console.log(" this.dashboardBarChartData is++++", 
      //   this.dashboardBarChartData)
        let list = []; 
        let chartOptions =  {
            colors : ['#727272','#fd4a1e','#feba2c','#7cc925',
                      '#348afc'],
             //'#727272',==black
             //'#fd4a1e',==red
             //'#feba2c',== yellow
            //'#7cc925',==green
            //'#348afc' ==blue
            
           grid :{
              show:false
            },
             chart: {
               id: 'vuechart-example',
              type: 'bar',
               height: 250,
              // width:1000,
              stacked: true,
              toolbar: {
                show:false
              },
              zoom: {
                enabled: true
              },
            },
            responsive: [{
              breakpoint: 480,
              options: {
                legend: {
                  show :false,
                  position: 'bottom',
                  offsetX: -10,
                  offsetY: 0
                }
              }
            }],
            plotOptions: {
              bar: {
                horizontal:true,
                //columnWidth: '40%',
                barHeight:'50%',     //reduce thickness of bar 
                // columnWidth: '1%',
                
              },
          
            },
            xaxis: {
              categories:[],
              labels: {
                 show:false,
                    }, 
                    lines:{
                        show:false,
                    } ,
              },
              yaxis:{
                   lines:{
                        show:false,
                    } ,
                
            },

              // y axis start
            //   yaxis:{
            //     tickAmount: 4,
            //      min:3,
            //     // max:2,
            //     axisTicks: {
            //     show: true,
            // },
            // axisBorder: {
            //   show: true,
            //   color: 'green'
            // },
            // title: {
            //   text: "sku data",
            //   style: {
            //     color: '#008FFB',
            //   }
            // },
            // },   // y axis end

            
            legend: {
              show:false,
              position: 'bottom', // for labels shown at bottom
              
            },
            fill: {
              opacity: 1
            }
          }

        
     
      this.barchartdata.map(item =>{
            
         
        //  if data is recived from 

            if(item.consumer) 
            {
              //this.chartOptions.plotOptions.barHeight= '20%';
              if(this.flag.value==true) {
                // this.items.push({text:item.consumer.name,href :'#',id:item._id})
                chartOptions.xaxis.categories.push(item.consumer.name)
            
            list.push({ black:item.consumer.black_price,
                          red:item.consumer.red_price,
                          yellow:item.consumer.yellow_price,
                          green:item.consumer.green_price,
                          blue:item.consumer.blue_price})
              }   //inner if clsoed
              else {
                //this.chartOptions.plotOptions.barHeight= '20%';
                
                 chartOptions.xaxis.categories.push(item.consumer.name)
            
            list.push({ black:item.consumer.black,
                          red:item.consumer.red,
                          yellow:item.consumer.yellow,
                          green:item.consumer.green,
                          blue:item.consumer.blue})

              }     //inner else closed
            
              }    // if clsoed
             else 
             {
              //this.chartOptions.plotOptions.barHeight= '40%';
                console.log("data recived from location");
                
                if(this.flag.value==true) {
                    // this.items.push({text:item.name,href :'#',id:item._id})
                   chartOptions.xaxis.categories.push(item.name)
               list.push({ black:item.black_price,red:item.          red_price,yellow:item.yellow_price,green          :item.green_price,blue:item.blue_price})
                }       //innner if closed
                else {
                  //this.chartOptions.plotOptions.barHeight= '40%'
                   
                   chartOptions.xaxis.categories.push(item.name)
               list.push({ black:item.black,red:item.red,yellow:item.yellow,green:item.green,blue:item.blue})
                }
               
              }  //else closed
         }) //map closed
        
      this.chartOptions = chartOptions;
      this.list = list;   
      
         

           let series = [{data: []}, {data: []}, {data: []}, 
                         {data: []},{data: []}];  

        for(let i=0;i<this.list.length;i++) {
        if(this.list[i].black==undefined)
          { this.list[i].black = 0;}
        if(this.list[i].red==undefined)
          {this.list[i].red = 0;}
        if(this.list[i].yellow==undefined)
          {this.list[i].yellow = 0;}
        if(this.list[i].green==undefined)
          {this.list[i].green = 0;}
        if(this.list[i].blue==undefined)
          {this.list[i].blue = 0;}

        series[0].data.push(this.list[i].black)
        series[1].data.push(this.list[i].red)
        series[2].data.push(this.list[i].yellow)
        series[3].data.push(this.list[i].green)
        series[4].data.push(this.list[i].blue)
                } // for closed

               this.series = series; 
      
        } ,  // barchart function  closed   
    

     toggleBarChart:function(flag) {
        console.log("print when clicked",flag.value)
              this.flag = flag;
              this.chartdata();
              
              //this.barchartdata.map();
           // watch:this.barchartdata();
      },

         nodeChange :function (event,chartContext,config) {
        
        
          this.list = [];
          this.series[0].data = [];
          this.series[1].data = [] ;
          this.series[2].data = [];
          this.series[3].data = [];
          this.series[4].data = [];
          this.chartOptions.xaxis.categories = [];

           let state=event.srcElement.textContent;
            console.log("state",state)

           


              for(let j=0;j<this.barchartdata.length;j++) 
              {
                  if(this.barchartdata[j].name==state) 
                  {
                      this.parentid = this.barchartdata[j]._id
                       this.items.push({text:state,id:this.parentid})
                  }  //if closed
              }       // for cloesd
            
              //console.log("items in barchart is ",this.items) 
             console.log("before $emit",this.parentid)
             this.$emit('fetchList',this.parentid)
          
          },   // nodeChange function closed

           toggleExpand: function() {
    console.log("toggling");
    this.expanded = !this.expanded
    this.$emit("onExpand")
  }


}    // method closed

}      // export defalut closed
 
</script> 
  <style scoped>
  .heading-bar-distance {
    margin-bottom: 0px;
  }
 
 .heading-style {
   font-weight: bold;
   /*font-size: 18px;*/
   font-size: 12px;
   text-align: center;
   font-family: 'Rubik', sans-serif;
    margin-top: 2px;
   margin-left: 20px;
   margin-bottom: 0px;
 }

.barchart-margin {
  /*margin-top: -24px;*/
  /*width: 100%;*/

}
.barchart-position {
   /*margin-top: -24px;*/
   cursor: pointer;
   /*position: fixed;*/
}
.breadcrumb {
  cursor: pointer;
  border-bottom: none;
  margin-bottom: 0px !important;
  position: absolute;
  margin-top: -10px;

}


.expand_icon {
  /*margin: 16px;*/
  margin-top: 3px;
    margin-right: 7px;
}
 
</style>
 
 

