 <template>
  <div class="app">
    <div class="d-flex justify-content-around linechart-heading">
      <div>
        <p class="heading-font-style">Monthly Overall Status For  Current</p>
      </div>
      <!-- <div> -->
       
       <!-- <CSwitch @change="toggleClick" class="mx-4" color="primary" variant="3d" shape="square" checked v-bind="label"/> -->

       <!-- <toggle-button 
        @change="onChangeEventHandler"
        :labels="{checked: 'Quantity', unchecked: 'Price'}"
        :width = 70
        :color = "{checked: 'blue', unchecked: 'blue'}"
        :switch-color ="{checked: 'white', unchecked:'white'}"
       /> -->

        
      <!-- </div> -->

      <div>
        <button  
        class=" btn btn-sm btn-text" 
        v-bind:class="{ dayButton: one  }" 
        @click="fetchDaysData"> 
        Day
        </button>
        <button  
        class="btn btn-sm btn-text"  
        v-bind:class="{ weekButton: two }"
        @click="fetchWeekData"> 
        Week
        </button>
        <button  
        class="btn btn-sm btn-text "  
        v-bind:class="{monthButton: three}" 
        @click="fetchMonthData"> Month
        </button>

      </div>
    </div>

    <div id="chart">  
         <apexchart type="line" height="200" :options="chartOptions" :series="series" class="linechartpadding"></apexchart>
    </div>

  </div>
</template>

<script >
  //import * as apis from '@/utils/api/linecharts'
//import * as stockNorm from '@/utils/api/stocknorms'
import * as apis from '@/utils/api/node_location_aggrigate'
import VueApexCharts from 'vue-apexcharts'
import { ToggleButton } from 'vue-js-toggle-button'


export default {
  name: 'Linechart',
  components: {
    apexchart: VueApexCharts,
    ToggleButton
   
  },
  //props :['linechartdata'],

  data: function () {
	return {
        flag:false,
        one:true,
        two:false,
        three:false,
        parentid :null,
        days :[],
        weeks :[],
        months :[],
        day : 'day',
        week :'week',
        month : 'month',
  	    series :[
              {
                name : "",
                data :[]
              },
              {
               name : "",
                data :[]
             },
             {
                 name : "",
                 data :[]
             },
             {
                name : "",
                data :[]
             },
             {
                name : "",
                data :[]
             }
             ],
          chartOptions: {
            chart: {
              height: 250,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            
            colors :['#727272','#fd4a1e','#feba2c','#7cc925','#348afc'],
            //'#727272',==black
             //'#fd4a1e',==red
             //'#feba2c',== yellow
            //'#7cc925',==green
            //'#348afc' ==blue  
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              //text: 'Average High & Low Temperature',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories :[],
               
              title: {
               // text: 'days'
              },
              labels: {
                show: true,
                formatter: this.lineChartLabelFormatter
              },
              axisTicks: {
                show: true
              }
            },
            yaxis: {
              title: {
                text: ''
              },
                //min: 0,
                 //tickAmount: 20,
               // max: 100
            },
            legend: {
              position: 'top',
              horizontalAlign: 'center',
              floating: true,
              // offsetY: -25,
              // offsetX: -5
            }
          },    //chartoptions closed
          
        
        }
        },   // data fucnction closed.

     mounted: function () {
    this.fetchDaysData()
    
  },
  methods :{
    dotclick () {
       console.log(" line chart dot clicked")
    },

   toggleButtonChange:function(flag) {
    // console.log(" i am called from toggle button with no parentid",flag)
    this.flag = flag;
    
     this.fetchDaysData();

    },     // toggleButtonChange method closed
     
      onParentChange : function(parentid) {
        this.parentid = parentid;
           // console.log("parentid in linechart after click on bar",parentid)
        this.fetchDaysData()
        this.one =true;
        this.two=false;
        this.three=false;
        
      },
      fetchDaysData: function () {
        //console.log("flag vlaue is",this.flag)
        this.three = false;
          this.two = false;
          this.one = true;
        
     
      //console.log("parentid in linechart is",parentId)
      apis.fetchDayWiseData(this.parentid) 
          .then((response) =>{
            let daydata = response.data.payload ;
            // console.log("days data after click on india is",daydata)
            
           let  chartOptions= {
            chart: {
              height: 250,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            
            colors :['#727272','#fd4a1e','#feba2c','#7cc925','#348afc'],
            //'#727272',==black
             //'#fd4a1e',==red
             //'#feba2c',== yellow
            //'#7cc925',==green
            //'#348afc' ==blue  
            dataLabels: {
              enabled: true,
            },
            stroke: {
              show: true,
              curve: 'smooth',
              lineCap: 'butt',
              colors: undefined,
            width: 2,
            dashArray: 0  
            },
            title: {
              //text: 'Average High & Low Temperature',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories :[],
               
              title: {
                //text: 'days'
              },
              labels: {
                show: true,
                formatter: this.lineChartLabelFormatter
              },
              axisTicks: {
                show: true
              }
            },
            yaxis: {
              title: {
                text: ''
              },
               // min: 0,
               // max: 5
            },
            legend: {
              position: 'bottom',
              horizontalAlign: 'center',
              floating: true,
              offsetY:7,
              offsetX: 0,
              bottom:0,
               markers: {
          width: 12,
          height: 12,
          strokeWidth: 0,
          strokeColor: '#fff',
          fillColors: undefined,
          radius: 12,
          customHTML: undefined,
          onClick: undefined,
          offsetX: 0,
          offsetY: 0
      },
       onItemClick: {
          //toggleDataSeries: true
          
      },

            }   //  legend closed
          }    //    chartOption closed
            //console.log("day data",daydata)
            let days =[];
           
            daydata.map(item=>{
              if(this.flag.value==true) {
              
              let date =new Date(item.date)
              let newdate = date.toISOString().substring(0, 10);
              
              chartOptions.xaxis.categories.push(newdate)
              days.push({black:item.black_price,red:item.red_price,
                       yellow:item.yellow_price,green:item.green_price,
                       blue:item.blue_price
                       })
            }  else{
               let date =new Date(item.date)
              let newdate = date.toISOString().substring(0, 10);
              
              chartOptions.xaxis.categories.push(newdate)
              days.push({black:item.black,red:item.red,
                       yellow:item.yellow,green:item.green,
                       blue:item.blue
                       })

            }        //else closed
   
            })    //map function closed
            //this.days = days;
            //this.chartOptions = chartOptions;
            
           // console.log("after days",this.days)
            let series = [
            {
              name:"",
              "data":[]
            },
            {
              name:"",
              "data":[]
            },
            {
              name:"",
              "data":[]
            },
            {
              name:"",
              "data":[]
            },
            {
               name:"",
              "data":[]
            }
            ]
              
      for(let i=0;i<days.length;i++) {
        if(days[i].black==undefined){ days[i].black = 0;}
        if(days[i].red==undefined){days[i].red = 0;}
        if(days[i].yellow==undefined){days[i].yellow = 0;}
        if(days[i].green==undefined){days[i].green = 0;}
        if(days[i].blue==undefined){days[i].blue = 0;}
               
        series[0].data.push(days[i].black)
        series[1].data.push(days[i].red)
        series[2].data.push(days[i].yellow)
        series[3].data.push(days[i].green)
        series[4].data.push(days[i].blue)
        }
        this.series = series;
        this.chartOptions =chartOptions;
        //console.log("days series data is",this.series) 
        })
         
        }, ///fetchDaysdata function   close
        

    

         fetchWeekData: function () {
          
          this.two=true;
          this.three=false;
          this.one=false;
         this.isLoading = true 
         //this.week
        apis.fetchWeekWiseData(this.parentid) 
          .then((response) =>{
            this.isLoading = false
          let weekdata = response.data.payload 
           let  chartOptions= {
            chart: {
              height: 250,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            
            colors :['#727272','#fd4a1e','#feba2c','#7cc925','#348afc'],
            //'#727272',==black
             //'#fd4a1e',==red
             //'#feba2c',== yellow
            //'#7cc925',==green
            //'#348afc' ==blue  
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              //text: 'Average High & Low Temperature',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories :[],
               
              title: {
                //text: 'days'
              },
              labels: {
                show: true,
                formatter: this.lineChartLabelFormatter
              },
              axisTicks: {
                show: true
              }
            },
            yaxis: {
              title: {
                text: ''
              },
              // min: 0,
              // max: 10
            },
            legend: {
              position: 'bottom',
              horizontalAlign: 'center',
              floating: true,
              offsetY: 7,
              offsetX: 0
            }
          }
          let  weeks= [];

               weekdata.map(item=>{
                 if(this.flag.value==true) {
              let date =new Date(item.date)
              let newdate = date.toISOString().substring(0, 10);
              
              chartOptions.xaxis.categories.push(newdate)
              weeks.push({black:item.black_price,
                          red:item.red_price,
                          yellow:item.yellow_price,green:item.green_price,blue:item.blue_price})
                } else {

                  let date =new Date(item.date)
                  let newdate = date.toISOString().substring(0, 10);
              
              chartOptions.xaxis.categories.push(newdate)
              weeks.push({black:item.black,red:item.red,
                      yellow:item.yellow,green:item.green,blue:item.blue})
                }      //else closed
            })  //map function closd
               this.chartOptions = chartOptions;
                let series = [
            {
              
              "data":[]
            },
            {

              "data":[]
            },
            {
              "data":[]
            },
            {
              "data":[]
            },
            {
              "data":[]
            }
            ]
              
             for(let i=0;i<weeks.length;i++) {
             if(weeks[i].black==undefined){ weeks[i].black = 0;}
              if(weeks[i].red==undefined){weeks[i].red = 0;}
              if(weeks[i].yellow==undefined){weeks[i].yellow = 0;}
              if(weeks[i].green==undefined){weeks[i].green = 0;}
              if(weeks[i].blue==undefined){weeks[i].blue = 0;}
        series[0].data.push(weeks[i].black)
        series[1].data.push(weeks[i].red)
        series[2].data.push(weeks[i].yellow)
        series[3].data.push(weeks[i].green)
        series[4].data.push(weeks[i].blue)
        }
        this.series = series;
        this.chartOptions= chartOptions;
        //console.log("week series data is",this.series) 
        })   //response clsoed
            
            

              
        },   // fetchweekdata method closed

        fetchMonthData: function () {
          this.three = true;
          this.two = false;
          this.one = false;
          
        this.isLoading = true 
        // this.month
        apis.fetchMonthWiseData(this.parentid) 
          .then((response) =>{
           this.isLoading = false
            
          let monthdata = response.data.payload
         let  chartOptions= {
            chart: {
              height: 250,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            
            colors :['#727272','#fd4a1e','#feba2c','#7cc925','#348afc'],
            //'#727272',==black
             //'#fd4a1e',==red
             //'#feba2c',== yellow
            //'#7cc925',==green
            //'#348afc' ==blue  
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              //text: 'Average High & Low Temperature',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories :[],
               
              title: {
               // text: 'days'
              },
              labels: {
                show: true,
                formatter: this.lineChartLabelFormatter
              },
              axisTicks: {
                show: true
              }
            },
            yaxis: {
              title: {
                text: ''
              },
              // min: 0,
              // max: 10
            },
            legend: {
              position: 'bottom',
              horizontalAlign: 'center',
              floating: true,
              offsetY: 7,
              offsetX: 0
            }
          }
          let  months= [];
          
            monthdata.map(item => {
               if(this.flag.value==true) {
              let date =new Date(item.date)
              let newdate = date.toISOString().substring(0, 10);
            
            let month = new Date(newdate).toLocaleString('default',         { month: 'short' });
              
            chartOptions.xaxis.categories.push(month)
             months.push({black:item.black_price,
                          red:item.red_price,
                      yellow:item.yellow_price,green:item.green_price,blue:item.blue_price})
           } else {
            let date =new Date(item.date)
            let newdate = date.toISOString().substring(0, 10);
            let month = new Date(newdate).toLocaleString('default',         { month: 'long' });;
              
            chartOptions.xaxis.categories.push(month)
             months.push({black:item.black,red:item.red,
                      yellow:item.yellow,green:item.green,blue:item.blue})

           }     //else closed
        })     // map function closed
             
                let series = [
            {
              
              "data":[]
            },
            {

              "data":[]
            },
            {
              "data":[]
            },
            {
              "data":[]
            },
            {
              "data":[]
            }
            ]
              
            for(let i=0;i<months.length;i++) {
            if(months[i].black==undefined){ months[i].black = 0;}
            if(months[i].red==undefined){months[i].red = 0;}
            if(months[i].yellow==undefined){months[i].yellow = 0;}
            if(months[i].green==undefined){months[i].green = 0;}
            if(months[i].blue==undefined){months[i].blue = 0;}
        series[0].data.push(months[i].black)
        series[1].data.push(months[i].red)
        series[2].data.push(months[i].yellow)
        series[3].data.push(months[i].green)
        series[4].data.push(months[i].blue)
        }
        this.series = series;
         this.chartOptions = chartOptions;
       // console.log("month series data is",this.series) 
        
           


          })   // responce clsoed
        },// fetchmonthdata method closed



},  ///methods end 


    }  //export closed



</script>



<style scoped>
.linechart-heading {
  margin-top: 4px;
}

 .heading-font-style {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  /*font-size:18px;*/
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 0px;
 }
 
 
 .dayButton{
 background-color: #348afc;
  color:white;
 }
 .weekButton{
 background-color: #348afc;
  color:white;
 }
 .monthButton{
  background-color: #348afc;
  color:white;
 }
 .btn-text {
  font-size: 10px;
 }
 
.linechartpadding {

}
</style>










 