  <template>
  <div class="app row">
    <div class="col-md-12">
    <!-- <p class="ml-5 mt-2 heading-font-style">Total SKUs</p> -->
   	<div id="chart" class="piechart-margin pichart-height mt-2">
      <!-- <p>pie chart props is{{piechartdata}}</p> -->
      <apexchart type="donut" width="220" 
      :options="chartOptions" 
      :series="series" >
        </apexchart>
    </div>
  </div> 
  </div>
</template>

<script>


import VueApexCharts from 'vue-apexcharts'
//import * as apis from '@/utils/api/nodeskus';
import * as apis from '@/utils/api/locations';

export default {
  name: 'Piechart',
  components: {
    apexchart: VueApexCharts,
  },

props:['piechartdata'],
 
data: function () {
	return {
        
        //responseData :this.piechartdata,
        pieChartData :this.piechartdata,
        //series : [],
          series: [],
          flag:false,
          
            
          chartOptions: {
            colors : ['#727272','#fd4a1e','#feba2c',
            '#7cc925','#348afc'],

            //'#727272',==black
             //'#fd4a1e',==red
             //'#feba2c',== yellow
            //'#7cc925',==green
            //'#348afc' ==blue
            chart: {
                //width: 380,
              type: 'pie',
            },
            labels: ['BLACK', 'RED', 'YELLOW', 'GREEN','BLUE'],
            offset: 0,
            //offsetY:0,

            minAngleToShowLabel: 10,

              dataLabels: {
                offset:30,
                enabled: false,
                enabledOnSeries: undefined,
                offsetX: -1,
                minAngleToShowLabel: 0,
                offsetY:-1,
                  textAnchor: 'start',
                              
                },     /// hiding % value on dount section
             
            plotOptions: {
                         
               pie: {
                                
                      // customScale: 1,
                      donut: {
                        offsetX:0,
                        size: '80%',     // thickness of chart
                        expandOnClick: false,

                      labels: {
                          //offset:0,
                          show: true,
                          name: {
                          //   show :true, 
                          //    formatter: function (val) {
                          //   return val
                          // }
                          },
                    value: {
          
                            },
          total : {
            show:true,
            label: 'Total SKUs', 
             // fontSize: '22px',
            fontFamily: 'Rubik, sans-serif', ///total number addtion
          }   ,
          style :{
               fontFamily: 'Rubik, sans-serif',
          }  ,   
        }                         // lebels closed
      }                         // dount closed
    }                            //pie closed
  
                        },    //plotoption closed
                    
            responsive: [{
              breakpoint: 480,
              options: {
                 
                chart: {
                  width: 200
                },
                legend: {
                  position: 'left',
                  
                }
              }
            }],
            legend: {
                 show:false,
                 position: 'bottom',
                 offset:-10, 
                 

            } // inserted for labels posstion at bottom
          },
          
          
        }	
        
        } ,     //data function closed
        
        watch : {
      piechartdata:function(){
        this.displaypiechartdata()
      },
     },   // watch closed

     methods : {
      togglePieChart : function(flag) {

        this.flag = flag;
        this.displaypiechartdata();

      },
        displaypiechartdata : function() {
           
           let list = [];
         this.piechartdata.map(item =>{ 
              if(item.consumer) {
                if(this.flag.value==true) {
                  list.push({black:item.consumer.black_price,
                         red:item.consumer.red_price,
                         yellow:item.consumer.yellow_price,
                         green:item.consumer.green_price,
                         blue:item.consumer.blue_price})
                }   //innner if closed
                else{
                  list.push({black:item.consumer.black,
                         red:item.consumer.red,
                         yellow:item.consumer.yellow,
                         green:item.consumer.green,
                         blue:item.consumer.blue})
                }    //innner else closed
              
              }    // outer if closd
              else {
                 if(this.flag.value==true){
                  list.push({black:item.black_price,red:item.red_price,
                      yellow:item.yellow_price,green:item.green_price,
                      blue:item.blue_price}) 
                }    // inner if closed
                else{
                  list.push({black:item.black,red:item.red,
                      yellow:item.yellow,green:item.green,
                      blue:item.blue}) 
                }  //innner else closed
                 

              }  //   outerelse closed

         }) // map function closed

          this.list = list;
          let series = [];

           let blackcnt=0; let redcnt=0 ;let yellowcnt=0;
           let greencnt=0;let bluecnt=0;
           
          for(let i=0;i<this.list.length;i++) {
          if(this.list[i].black==undefined){ this.list[i].black = 0;}
        if(this.list[i].red==undefined){this.list[i].red = 0;}
        if(this.list[i].yellow==undefined){this.list[i].yellow = 0;}
        if(this.list[i].green==undefined){this.list[i].green = 0;}
        if(this.list[i].blue==undefined){this.list[i].blue = 0;}
              blackcnt = blackcnt + this.list[i].black;
              redcnt = redcnt + this.list[i].red;
              yellowcnt = yellowcnt + this.list[i].yellow;
              greencnt = greencnt+this.list[i].green;
              bluecnt = bluecnt+this.list[i].blue;

            } // for closed
         series.push(blackcnt,redcnt,yellowcnt,greencnt,bluecnt)

      this.series = series;
      // console.log("series data",this.series)



        }   // piechartdata
     } ,//method closed

     
     
     // watch : {
     //  piechartdata: function () {
        // console.log("pie chart data is",this.piechartdata);

      //   let list = [];
      //    this.piechartdata.map(item =>{ 
      //         if(item.consumer) {
      //         list.push({black:item.consumer.black,
      //                    red:item.consumer.red,
      //                    yellow:item.consumer.yellow,
      //                    green:item.consumer.green,
      //                    blue:item.consumer.blue})
      //         } 
      //         else {
      //           list.push({black:item.black,red:item.red,
      //                 yellow:item.yellow,green:item.green,
      //                 blue:item.blue
      //     })  

      //         }  //  else closed

      //    }) // map function closed

      //     this.list = list;
      //     let series = [];

      //      let blackcnt=0; let redcnt=0 ;let yellowcnt=0;
      //      let greencnt=0;let bluecnt=0;
           
      //     for(let i=0;i<this.list.length;i++) {
      //     if(this.list[i].black==undefined){ this.list[i].black = 0;}
      //   if(this.list[i].red==undefined){this.list[i].red = 0;}
      //   if(this.list[i].yellow==undefined){this.list[i].yellow = 0;}
      //   if(this.list[i].green==undefined){this.list[i].green = 0;}
      //   if(this.list[i].blue==undefined){this.list[i].blue = 0;}
      //         blackcnt = blackcnt + this.list[i].black;
      //         redcnt = redcnt + this.list[i].red;
      //         yellowcnt = yellowcnt + this.list[i].yellow;
      //         greencnt = greencnt+this.list[i].green;
      //         bluecnt = bluecnt+this.list[i].blue;

      //       } // for closed
      //    series.push(blackcnt,redcnt,yellowcnt,greencnt,bluecnt)

      // this.series = series;
      // // console.log("series data",this.series)



       // }  //piechartdata function closed
  
        
     //}   // watch closed
    }    // export default closed
   

  


  </script>
<style scoped>
#chart{
  /*display: inline-block;*/
}

.heading-font-style {
  font-family: 'Rubik', sans-serif;
  /*font-size: 18px;*/
  font-size: 16px;
  font-weight: bold;
  margin-left: 25px;
}


 .piechart-margin {
/*margin-left: 17px;*/
/*text-align: center;*/
  
 }
/* @media (min-width: 992px) {
  .piechart-margin {
    margin-left: 0px;
  }
} */

 /*.pichart-height {
  height: 30px;
 }*/

</style>


