<template>
	<div>
   
		 <div id="chart " class="sidebar-margin"  >
		    <apexchart type="bar" width="250" :height= "height"
        :options="chartOptions" :series="series">
        </apexchart>
        <!-- height="620" height="681px"  -->

         <p class="para-style">Total<br> SKUs:<br>{{total}}</p>
      </div>	
  </div>

</template>


<script>

import VueApexCharts from 'vue-apexcharts'

export default {
	name:'Sidebar',
	components: {
    apexchart: VueApexCharts,
  },

  props :['sidebardata'],

  data :function() {
  	return {
      height : 0,
      flag:false,
  		 error : null,
  		 list :[],
  		 total:null,
       percentage :[],
  		 
  		    series : [{
                      name :'BLACK',
                      data:[]
            },{
                      name:"RED",
                      data : []
            },
            {
                      name:"YELLOW",
                      data : []
            },
            {
                      name:"GREEN",
                      data : []
            },
            {
                      name:"BLUE",
                      data : []
            }
            ],
         
          chartOptions: {
            colors : ['#727272','#fd4a1e','#feba2c','#7cc925',
                      '#348afc'],
             
            dataLabels :{
              formatter: function (val, opt) {
                 //console.log("percentage value is",opt);
                return opt.w.globals.labels[opt.seriesIndex] 
                 +"% " + "" + "(" + val + ")" 
                            }
                      },
        //+ "" + "(" + val + ")"  +"" +    document.write("\n")+
           grid :{
            	show:false
            },   			// hide background line of chart

             chart: {
               id: 'vuechart-example',
              type: 'bar',
               
              stacked: true,
              toolbar: {
                show:false
              },
              zoom: {
                enabled: true
              },
            },
            responsive: [{
              breakpoint: 480,
              options: {
                legend: {
                  show :false,
                  position: 'bottom',
                  offsetX: -10,
                  offsetY: 0
                }
              }
            }],
            plotOptions: {
              bar: {
              	 
                horizontal:false,
                 columnWidth: '30%',
                 barHeight: '100%',
                //columnWidth:30,
                //startingShape: 'rounded',
          		 //endingShape: 'rounded',
               // barHeight: '70%',
                 
              },
                dataLabels: {
               position: 'bottom',
                },
            },
            xaxis: {
              categories:[],

              labels: {
                 show:false,
                    },         // hiding xaxis number 
              
            },
            yaxis:{

                tickAmount: 2,
                min:0.1,
            	show:false   
            },                  //  y-axis  hidding
	          
	            legend: {
	              show:false,
	              position: 'bottom', // for labels shown at bottom
	             
	            },
            
          
        }		//chartoption closed

  	}			//return closeds
  }	,			//data closed

 watch : {
      sidebardata:function(){
        this.displayVerticalBardata()
      },
     },     // watch closed


  mounted() {
      let x =  screen.height;
       let h = window.innerHeight;
       var he = window.outerHeight;
      // let h = document.height();
      // console.log("actual height is", h)
      // console.log("screen hegit is",x)
      // console.log("ouetr height is",he)
      
       let barHeight  = h -87;
      this.height =barHeight;
    
  },

  methods :{
    toggleVerticalBarChart :function(flag) {
          this.flag = flag;
          this.displayVerticalBardata();
    },
    displayVerticalBardata :function () {
      let list = []; 
         let chartOptions =  {
            colors : ['#727272','#fd4a1e','#feba2c','#7cc925',
                      '#348afc'],
             
            dataLabels :{
              formatter: function (val, opt) {
                 //console.log("percentage value is",opt);
                return opt.w.globals.labels[opt.seriesIndex] 
                 +"% " + "" + "(" + val + ")" 
                            }
                      },
        //+ "" + "(" + val + ")"  +"" +    document.write("\n")+
           grid :{
              show:false
            },        // hide background line of chart

             chart: {
               id: 'vuechart-example',
              type: 'bar',
               
              stacked: true,
              toolbar: {
                show:false
              },
              zoom: {
                enabled: true
              },
            },
            responsive: [{
              breakpoint: 480,
              options: {
                legend: {
                  show :false,
                  position: 'bottom',
                  offsetX: -10,
                  offsetY: 0
                }
              }
            }],
            plotOptions: {
              bar: {
                 
                horizontal:false,
                 columnWidth: '30%',
                 barHeight: '100%',
                //columnWidth:30,
                //startingShape: 'rounded',
               //endingShape: 'rounded',
               // barHeight: '70%',
                 
              },
                dataLabels: {
               position: 'bottom',
                },
            },
            xaxis: {
              categories:[],

              labels: {
                 show:false,
                    },         // hiding xaxis number 
              
            },
            yaxis:{

                tickAmount: 2,
                min:0.1,
              show:false   
            },                  //  y-axis  hidding
            
              legend: {
                show:false,
                position: 'bottom', // for labels shown at bottom
               
              },
            
          
        }   //chartoption closed

     

              this.sidebardata.map(item =>{
                if(item.consumer){
                  if(this.flag.value==true){
                    list.push({black:item.consumer.black_price,
                                 red:item.consumer.red_price,
                                 yellow:item.consumer.yellow_price,
                                 green:item.consumer.green_price, blue:item.consumer.blue_price}) 
                  }     //inner if closed
                  else{
                     list.push({black:item.consumer.black,
                                 red:item.consumer.red,
                                 yellow:item.consumer.yellow,
                                 green:item.consumer.green,        
                                 blue:item.consumer.blue}) 
                   }      /// inner else closed
                     
                    }   //if closed
                    else {
                      if(this.flag.value==true){
                         list.push({black:item.black_price,red:item.red_price,
                                 yellow:item.yellow_price,green:item.green_price,blue:item.blue_price}) 
                       }    /// inner if closed
                       else {
                         list.push({black:item.black,red:item.red,
                                 yellow:item.yellow,green:item.green,blue:item.blue})
                       }     //else closed
                      
                    }       //outer else closed
                  })      //map function closed

              this.list = list; 
          let series =[{data: []},{data: []},{data: []},{data: []},
                      {data: []}];

          let blackcnt=0; let redcnt=0 ;let yellowcnt=0;
          let greencnt=0;let bluecnt=0; 

        for(let i=0;i<this.list.length;i++) {
      if(this.list[i].black==undefined){ this.list[i].black = 0;}
      if(this.list[i].red==undefined){this.list[i].red = 0;}
      if(this.list[i].yellow==undefined){this.list[i].yellow = 0;}
      if(this.list[i].green==undefined){this.list[i].green = 0;}
      if(this.list[i].blue==undefined){this.list[i].blue = 0;}

              blackcnt = blackcnt + this.list[i].black;
              redcnt = redcnt + this.list[i].red;
              yellowcnt = yellowcnt + this.list[i].yellow;
              greencnt = greencnt+this.list[i].green;
              bluecnt = bluecnt+this.list[i].blue;

            }    // for clsoed
            series[0].data.push(blackcnt);
            series[1].data.push(redcnt);
            series[2].data.push(yellowcnt);
            series[3].data.push(greencnt);
            series[4].data.push(bluecnt);
           // series[0].data.push(0)        // for color single bar 

      this.series = series;
      this.total = blackcnt + redcnt + yellowcnt +
                   greencnt + bluecnt;

        let blackper=0,redper=0,yellowper=0,greenper=0,blueper=0;

        blackper  =((blackcnt/this.total*100)).toFixed(0);
        redper    =((redcnt/this.total)*100).toFixed(0);
        yellowper =((yellowcnt/this.total)*100).toFixed(0);
        greenper  =((greencnt/this.total)*100).toFixed(0);
        blueper   =((bluecnt/this.total)*100).toFixed(0);

        
           //let percentage =[];
           // this.percentage.push(blackper,redper,
           //   yellowper,greenper,blueper)
           // console.log("percentage is ",this.percentage)
       
          
          //let chartOptions = this.chartOptions;
         chartOptions.xaxis.categories.push(blackper,redper,
            yellowper,greenper,blueper);
         
           
          this.chartOptions = chartOptions;
          //console.log("data",this.chartOptions.xaxis.categories)
     
       }      // sidebardata function is closed
     },       // methods closed

  


}           	//export default closed
	


</script>

<style scoped>
.sidebar-margin {
	
  /*position: absolute;*/
  margin-left:-111px;
	margin-top: -30px;
  position: fixed;
  
    
}


.para-style {
	/*font-size: 16px;*/
  font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	margin-left:104px;
  margin-top: -13px;
	font-family: 'Rubik', sans-serif;	
  /*position: fixed;*/
}



@media  (max-width: 767px) {
.sidebar-margin[data-v-b2931b52]{
  margin:0;
  
}

}



</style>




