<template>
	<div v-if="hidetable" class="mt-3">
		
			
			<CTabs variant="tabs" class=" ml-4 tab-style">
			<!--  -->
			 	<div class="d-flex justify-content-around">
			 <div @click="nodecountClicked">
              <CTab title ="Node Count"  class="tabs1 first-tab-padding   mt-3">
              </CTab><!-- ml-1 mt-3 -->
              </div>
        
             	<div @click="daysSeenClicked">
              <CTab  title="Days Seen Last Changed" class=" tabs1 second-tab-padding mt-3 "></CTab><!-- mt-3 ml-2 -->
              </div>
              </div>
        
          </CTabs>
   
		
	<p class="ml-3  headingfont"> Max {{colorWord}} SKUs</p>
	<table class="table table-margin">
		<template v-if="tabClick">
		<tr >
			<th class="table-header mt-2 ">SKU Name</th>
			<th class="table-header ">Node Count</th>
			<th class="table-header "></th>
			</tr>
			</template>
			<template v-else>
			<tr >
			<th class="table-header ">SKU Name</th>
			<th class="table-header ">Days In {{colorWord}}</th>
			<th class="table-header "></th>
			</tr>
			</template>

  <template v-if= "tabClicked"> 
	<tr class="data-font"  v-for="(item,index) in colorlist.slice(0,4)" :key="index">
		<td  class="right-padding" @click="nodeSkuClicked(item._id)">{{item.sku.name}}</td>

		<td class="right-padding" v-if="availability_zone == 0"  >
		<button v-bind:class="{blackcolor:btncolor}"class="btn btn-color btn-sm btn-size">
			{{item.black}}
			</button></td>
		<td class="right-padding" v-if="availability_zone == 1"  >
		<button v-bind:class="{redcolor:btncolor}"class="btn btn-color btn-sm btn-size">
			{{item.red}}
			</button></td>
		<td class="right-padding" v-if="availability_zone == 2"  >
		<button v-bind:class="{yellowcolor:btncolor}"class="btn btn-color btn-sm btn-size">
			{{item.yellow}}
			</button></td>
		<td class="right-padding" v-if="availability_zone == 3"   >
		<button v-bind:class="{greencolor:btncolor}"class="btn btn-color btn-sm btn-size">
			{{item.green}}
			</button></td>
		<td class="right-padding"v-if="availability_zone == 4"   >
		<button v-bind:class="{bluecolor:btncolor}"class="btn btn-color btn-sm btn-size">
			{{item.blue}}
			</button></td>
			
			<td class="right-padding" >
				<img   @click="commentClicked(item)" src="@/assets/message-outline.png" class="icon-align2  ">
				 <span v-if="item.comment_count>0 " class="badge badge-light num2">{{item.comment_count}}</span>
				  </td>
		
	    </tr>
	</template>

 <template v-else> 
	<tr class="data-font"  v-for="(item,index) in daysincolorlist.slice(0,4)" :key="index">
		<td  class="right-padding" @click="nodeSkuClicked(item._id)">{{item.sku.name}}</td>

		<td class="right-padding" v-if="availability_zone == 0"  >
		<button v-bind:class="{blackcolor:btncolor}"class="btn btn-color btn-sm btn-size">
			{{item.days_in_black}}
			</button></td>
		<td class="right-padding" v-if="availability_zone == 1"  >
		<button v-bind:class="{redcolor:btncolor}"class="btn btn-color btn-sm btn-size">
			{{item.days_in_red}}
			</button></td>
		<td class="right-padding" v-if="availability_zone == 2"  >
		<button v-bind:class="{yellowcolor:btncolor}"class="btn btn-color btn-sm btn-size">
			{{item.days_in_yellow}}
			</button></td>
		<td class="right-padding" v-if="availability_zone == 3"   >
		<button v-bind:class="{greencolor:btncolor}"class="btn btn-color btn-sm btn-size">
			{{item.days_in_green}}
			</button></td>
		<td class="right-padding"v-if="availability_zone == 4"   >
		<button v-bind:class="{bluecolor:btncolor}"class="btn btn-color btn-sm btn-size">
			{{item.days_in_blue}}
			</button></td>
			
			<td class="right-padding">
				<img   @click="commentClicked(item)" src="@/assets/message-outline.png" class="icon-align2  ">
				 <span v-if="item.comment_count>0 " class="badge badge-light num2">{{item.comment_count}}</span>
				  </td>
		
	    </tr>
	</template>




    
       
		
  </table>
  <!--  <p class="table-arrow"><i @click="arrowClick"class="fa fa-arrow-circle-down " aria-hidden="true"></i></p> -->
<div class="d-flex justify-content-around">
    <div class="color-dot">
    	
<span class="dot blackdot2" @click="blackDotClicked"></span>
<span class="dot reddot2" @click="redDotClicked"></span>
<span class="dot yellowdot2" @click="yellowDotClicked"></span>
<span class="dot greendot2" @click="greenDotClicked"></span>
<span class="dot bluedot2" @click="blueDotClicked"></span>
  </div>
  <div class="more-button-style1"> 
 	<a  @click ="arrowClick">more..</a></div>
</div>  <!-- flex end -->

  </div>
  <div v-else-if="result.length==0" class="commentPanel overflow-comment">
		<i @click="backToTable" class="fa fa-arrow-left back-arrow" aria-hidden="true"></i>
	 	<p class="comment-heading">  {{skuname}} </p>
	 	<CInput
	 	class="comment-text-input"
       @keyup.enter="postComment"
        placeholder="Add New Comment Here"
        v-model="comment"
        />
		<p class="no-comment">No Comment yet...</p>
		
	</div>

  <div v-else class="commentPanel overflow-comment">
	 	<i @click="backToTable" class="fa fa-arrow-left back-arrow" aria-hidden="true"></i>
	 	<p class="comment-heading"> {{nodename}} / {{skuname}} </p>


	 	<CInput
	 	class="comment-text-input"
         @keyup.enter="postComment"
        placeholder="Add New Comment Here"
        v-model="comment"
        />
         
    
        <!--  <button class="button first-button pillbutton">45/90</button>
         <p class="comment-date">02 sep  20 18.32</p>
     	<div style="clear:both;"></div>
         <p class="comment1 comment-border">this is first comment on SKU</p> -->
         <div v-for="data in result" >
    	<!-- <template v-if="data.nodesku.availability_zone==0">
         <button class="button blackbtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button></template>
         <template v-if="data.nodesku.availability_zone==1">
         <button class="button redbtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button></template>
         <template v-if="data.nodesku.availability_zone==2">
         <button class="button yellowbtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button></template>
         <template v-if="data.nodesku.availability_zone==3">
         <button class="button greenbtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button></template>
         <template v-if="data.nodesku.availability_zone==4">
         <button class="button bluebtn first-button pillbutton">{{data.nodesku.actual_stock}} / {{data.nodesku.stock_norm}}</button></template> -->


         <p class="comment-date">{{ data.createdAt | moment(" MMM DD YY, h:mm")  }}</p>
     	<div style="clear:both;"></div>
         <p class="comment comment-border">{{data.comment}}
         	<i  @click="deletecomment(data._id)"class="fa fa-trash trash-icon" aria-hidden="true"></i>
         </p>
         </div>


        
       
	 	
	 </div>
</template>

<script>
	import * as skuavailability from '@/utils/api/skuavailability'
	import * as apis from '@/utils/api/skumasters'
	import * as Comment from '@/utils/api/sku_comment'
	export default {
		name: "DashboardSecondTable",
		data () {
			return {
				flag :true,
				colorName : "green",
				daysInColor :"days_in_green",
				tabClick :true,
				tabClicked :true,
				btncolor :true,
				colorWord :"Green",
				availability_zone :3,
				modalVisible: false,
				result :[],
				skuResult : [],
				_id : null,
				message:null,
				commentNumber : 5,
				hidetable:true,
				comment : null,
				nodename:null,
				skuname:null,
				actual_stock:null,
				stock_norm : null,
				colorlist : [],
				daysincolorlist : [],

				posts : [],	
				page: 1,
			    perPage: 5	,
			    pages: [],	
			    //displayedPosts:[]
				
			}
		},
		mounted: function () {
    this.fetchList();
    //this.postComment();
    
  },
		 methods: {
		 	// onTableChange : function(parentid) {
		 		
    //     this.parentid = parentid;
    //     //console.log("parentid in tabel",this.parentid)
    //     this.fetchList();
         
        
    //   },

		 	nodecountClicked () {
		 		this.flag = true;
		 		this.tabClick = true;
		 		this.tabClicked = true;

		 		this.fetchList()
		 			
		 	},
		 	daysSeenClicked :function () {
		 		this.flag = false;
		 		this.tabClick = false;
		 		this.tabClicked = false;
		 		this.fetchListByDayInColor()
		 	},
		 	fetchListByDayInColor :function() {

		 		skuavailability.fetchListByDaysInColor(this.daysInColor)
		 		.then((response) => {
		 			this.isLoading = false
		 			
		 			this.daysincolorlist = response.data.payload
		 			// this.colorlist = mylist
		 			//console.log("mylist is ",this.colorlist)
		 		})
		 	},
		 	nodeSkuClicked(id) {
				this.$router.push(
					{path:`/admin/nodesku/nodeskus/${id}`,props: true })

			},
		 	arrowClick () {
		 		this.$router.push({path:`/admin/nodesku/nodeskus`})
		 	},
		 	blackDotClicked :function() {
		 		this.daysInColor = "days_in_black";
		 		this.colorName ="black";
				this.availability_zone = 0 ;
				this.colorWord = "Black" ;
				if(this.flag == true) {
					this.fetchList();
				}
				else {
					this.fetchListByDayInColor()
				}
				},
			redDotClicked :function() {
				this.daysInColor = "days_in_red";
				this.colorName ="red";
				this.availability_zone = 1 ;
				this.colorWord = "Red" ;
				
				if(this.flag == true) {
					this.fetchList();
				}
				else {
					this.fetchListByDayInColor()
				}
			},
			yellowDotClicked :function() {
				this.daysInColor = "days_in_yellow";
				this.colorName ="yellow";
				this.availability_zone = 2 ;
				this.colorWord = "Yellow" ;
				if(this.flag == true) {
					this.fetchList();
				}
				else {
					this.fetchListByDayInColor()
				}
			},
			greenDotClicked :function() {
				this.daysInColor = "days_in_green";
				this.colorName ="green";
				this.availability_zone = 3 ;
				this.colorWord = "Green" ;
				if(this.flag == true) {
					this.fetchList();
				}
				else {
					this.fetchListByDayInColor()
				}
			},
			blueDotClicked :function() {
				this.daysInColor = "days_in_blue";
				this.colorName ="blue";
				this.availability_zone = 4 ;
				this.colorWord = "Blue" ;
				if(this.flag == true) {
					this.fetchList();
				}
				else {
					this.fetchListByDayInColor()
				}
			},
		 	deletecomment (id) {
				console.log("comment id is",id)
			Comment.deleteSkuComment(id).then((response) => {
				if(response.data.status.status_code === 0) {
					Comment.fetchList(this.id)
							.then((response) => {
								this.isLoading = false
								if(response.data.status.status_code === 0) {
									this.result = response.data.payload
									
								}
							})
				} else {
					this.error = response.data.status.message
				}
			})
				
			},
		 	postComment() {
				let comment = this.comment.trim();
				let id = this.id;
				Comment.add(id,
					{comment : comment}).then((response) => {
						if(response.data.status.status_code === 0)
						{
							// apis.details(id)
							// .then((response) => {
							// 	this.isLoading = false
							// 	if(response.data.status.status_code === 0) {
							// 		this.skuResult = response.data.payload
							// 		console.log("comments is",this.skuResult)
							// 	}
							// })
							this.$emit("reload")
							this.comment = null;
							Comment.fetchList(id)
							.then((response) => {
								this.isLoading = false
								if(response.data.status.status_code === 0) {
									this.result = response.data.payload
									// console.log("comments is",this.result)
								}
							})
						} else {
							this.error = response.data.status.message
						}
					})
				},
		 	commentClicked :function(item)
		 	 {
		 	 		console.log("item is",item)
		 	 		 this.hidetable = false;
		 	 		 this.skuname = item.sku.name;
		 	 		// this.nodename = item.node.name;
		 	 		// this.actual_stock = item.actual_stock;
		 	 		// this.stock_norm = item.stock_norm;
		 	 		 this.id = item.sku._id;
		 			Comment.fetchList(this.id)
		 			.then((response) => {
		 			this.isLoading = false
		 			if(response.data.status.status_code === 0) {
		 			this.result = response.data.payload;

		 		}
		 	})


		 	 },
		 	 backToTable : function() {
		 	 	this.hidetable = true;
		 	 	this.fetchList();
		 	 },
		 	fetchList: function () {
		 		let mylist = [];
		 		this.isLoading = true
		 		skuavailability.fetchListByColor(this.colorName)
		 		.then((response) => {
		 			this.isLoading = false
		 			
		 			this.colorlist = response.data.payload
		 			// this.colorlist = mylist
		 			//console.log("mylist is ",this.colorlist)
		 		})
		 	},
    // getPosts () {   
     
    //   for(let i = 0; i < 17; i++){
    //     this.posts.push({first: 'John',
    //            last:'Doe', 
    //            suffix:'#' + i});
    //   }  
       // },
        setPages () {
            let numberOfPages = Math.ceil(this.list.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate (list) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return  list.slice(from, to);
        }
    },
    computed: {
        displayedPosts () {
            return this.paginate(this.list);
        }
    },
    watch: {
       list () {
            this.setPages();
        }
    },
    // created(){
    //     this.getPosts();
    // },
    filters: {
        trimWords(value){
            return value.split(" ").splice(0,20).join(" ") + '...';
        }
    }
}
		
	
</script>

<style scoped>


.headblue {
		background-color: blue;
		color: white;
}

.data-font {
		font-size: 10px;
		font-family: 'Rubik', sans-serif; 
}
.table-header {
		/*font-size:14px;*/
		padding-bottom: 2px;
		border-top:none;
		text-align: center;
		font-size: 10px;
		font-family: 'Rubik', sans-serif;
}


.headingfont {
	font-weight: bold;
	/*font-size: 17px;*/
	font-size: 12px;
	   margin-bottom: 6px;
	/*padding-top: 13px;*/
	font-family: 'Rubik', sans-serif;
}
.btn-size {
	
	width: 40px;
	padding: 1px;
	font-size: 10px;
}
/*.btn-size {
		font-size: 9px;
		font-weight: bold;
		height: 8px;
		text-align: center;
		padding-bottom: 11px;
		margin-bottom: 1px;
		line-height: 5px;
}*/

.right-padding {
	margin-top: 5px;
		width: 40px;
		padding: 1px;
	border-top-color:  #f5f5f5;
	text-align: center;
}

.btn-color {
	background-color:#feba2c ;
	color: white;
}

.blackbtn {
  background-color: #696969;

}
.redbtn {
  background-color: red;
}
.yellowbtn {
   background-color:  #FFD700;

}
.greenbtn {
  background-color: #32CD32;
}
.bluebtn {
	background-color:#348afc;
}

/*.table th {
	padding: 1px;
	border-top:none;
	text-align:center;
	
	/*padding-left: 11px;*/
	 
/*}*/

/*.table td {
	 	border-top-color: #f5f5f5;
	 	text-align: center;
	 	padding-left:15px;

}*/

button.page-link {
	display: inline-block;
}

.btn-margin {
	 margin-left: 6px;
}

.table-margin {
 margin-top :-10px;
}


.table-arrow {
	margin-top: -9px;
	text-align: center;
	font-size: 20px;
}
.num2 {
	position: absolute;
	/*right: 34px;*/
	margin-left: -29px;


}
.icon-align2 {

padding-right: 25px;
}

.commentPanel {
	/*border:1px solid grey;*/
	margin-top: 17px;
	 height: 270px;
  width: 228px;
}
.comment-heading {
	text-align: center;
	padding-top: 10px;
	margin-left: 30px;
	display: inline-block;
}
.comment-text-input {
	width: 213px;
    margin-left: 5px;

}
.pillbutton {
 /* background-color: grey;*/
 font-size: 11px;
  border: none;
  color: black;
 /* padding: 3px 3px;*/
 /*padding:2px 2px;*/
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
 /* margin: 14px 8px;*/
 margin-left: 8px;
  cursor: pointer;
  border-radius: 13px;
  /*width: 70px;*/
  color: white;

}
.comment-date {
	/*text-align: left;
	margin-left:80px;*/
	margin-top: 3px;
	font-size: 11px;
    color: #cccccc;
	display: inline-block;
	float: right;
    margin-right: 10px;
}
.trash-icon {
	float: right;
	margin-right: 8px;
	color: red;
	font-size: 13px;
}
.comment {
	font-size: 11px;
	margin-left: 10px;
	margin-top: 0px;
	clear: both;

}
.comment-border {
	border-bottom: 1px solid  #f5f5f5;
	clear: both;	
	/*margin-left: 0px;*/
}
.back-arrow {
	display: inline-block;
	margin-left: 10px;
}
.first-button {
	background-color:#feba2c;
}
.second-button {
	background-color: #7cc925;
}
.blackbtn {
  background-color: #696969;

}
.redbtn {
  background-color: red;
}
.yellowbtn {
   background-color:  #FFD700;

}
.greenbtn {
  background-color: #32CD32;
}
.bluebtn {
	background-color:#348afc;
}
.overflow-comment {
	overflow: auto;
}
.more-button-style1 {
	margin-top: -8px;
	cursor: pointer;
	border-bottom-color: blue;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}	
.color-dot {
	text-align: center;
	margin-top: -8px;
}
.blackdot2{
	background-color:#696969;
}
.reddot2 {
	background-color:red;
}
.yellowdot2 {
	background-color:#FFD700;
}
.greendot2 {
	background-color:#32CD32;
}
.bluedot2 {
	background-color:#348afc;

}
.blackcolor {
	background-color:#696969;
	color:white;
}
.redcolor {
	background-color:red;
	color:white;
}
.yellowcolor {
	background-color:#FFD700;
	color:white;
}

.greencolor {
	background-color:#7cc925;
	color:white;
}
.bluecolor {
	background-color:#348afc;
	color:white;
}

 

.tabs1{
 font-size:10px;
 margin-right: -1px;
 color: black !important;
/*background-color: #348afc!important;*/
 /*font-weight: bold;*/
   
}
.nav-tabs .nav-link.active{
    color: black;
    background-color: #ebedef;
    border-color: #c4c9d0 #c4c9d0 #ebedef;
}
.a {
    text-decoration: none;
    background-color: transparent;
    /* color: #321fdb; */
    color: black;
}

/*.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: blue !important;
    background-color: red !important;
    border-color: #c4c9d0 #c4c9d0 #ebedef !important;
}

.tab-style {
	 color: blue !important;
    background-color: red !important
    border-color: #c4c9d0 #c4c9d0 #ebedef !important;
}
.first-tab-padding {
	background-color: red !important;
}*/
</style>





 

 