<template lang="html">
  <CModal
    title="Add New SKUAttribute"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="Title"
      placeholder="Enter title"
      v-model="title"
    />
    

 <div>
  <label>Values</label>
    <vue-tags-input
      v-model="tag"
      :tags="tags"
      @tags-changed="newTags => tags = newTags"
    />
  </div>
 

<template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="add" color="success" >Add</CButton>
    </template>
  </CModal>
</template>

<script>

import Multiselect from 'vue-multiselect'
import VueTagsInput from '@johmun/vue-tags-input';

import * as apis from '@/utils/api/skuattributes'

export default {
  name:"add",
  components :{Multiselect,VueTagsInput},
  data () {
    return {
      modalVisible: false,
      title :null,
      error: null,
      tag: '',
      tags: [],

    }
  },

  
  methods: {
   
  
    show: function() {
      this.modalVisible = true
    },
    add: function() {
     let title  =null;
     let values  = [] ;
     title = this.title;
     for(let i=0;i<this.tags.length;i++){
      values.push(this.tags[i].text)
     }
     console.log("this is tags all vlaues",values)
    

  

     
    
    
      apis.add({
      title :title,
      values :values
        

     
       
      }).then((response) => {
        if(response.data.status.status_code === 0) {
         
          this.title = null
         
          //console.log("hello somnath from api add")
        
           this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
