<template lang="html">
  <CModal
    title="Add New SKUMasters"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="Name"
      placeholder="Enter Name of the SKU"
      v-model="name"
    />
    <CInput
      label="SKU Code"
      placeholder="Enter SKU Code"
      v-model="skucode"
    />
    <CInput
      label="SKU Price"
      placeholder="Enter SKU Price"
      v-model="skuprice"
    />
  
    <CSelect
        label="Select SKU Meta"
        custom
        @update:value="changeskumeta"
        :options="skumeta"
        placeholder="Please select"
      />
    
    <template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="add" color="success" >Add</CButton>
    </template>
  </CModal>
</template>

<script>
import * as apis from '@/utils/api/skumasters'
import * as skumeta from '@/utils/api/skumetas'

export default {
  data () {
    return {
      error: null,
      name: null,
      skucode:null,
      skuprice:null,
      modalVisible: false,
      list : [],
      skumeta : [],
      skumetaid :null
    }
  },
   mounted: function () {
    this.fetchList()
  },
  methods: {
    show: function() {
      this.modalVisible = true
    },
    fetchList: function () {
      this.isLoading = true
      skumeta.fetchList()
        .then((response) => {
          this.isLoading = false
          if(response.data.status.status_code === 0) {
            this.list = response.data.payload
            if(this.list.length>0){
            this.list.map(item=>this.skumeta.push({value:item._id,label:item.name}));
          
          }else{ 
           this.error  = "Please select SKUmeta!";
          }
          }
        })
    },     //fetchList closed.

     changeskumeta:function(value){
        //let skumetaid = null;
            this.skumetaid = value;
            
    },
    add: function() {
      let name = this.name.trim();
      let skucode = this.skucode.trim();
      let price = this.skuprice.trim();
      let skumeta_id = this.skumetaid;
    
      apis.add({
        name: name,
        skucode: skucode,
        price:price,
        meta : skumeta_id

      }).then((response) => {
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.name = null,
          this.skucode = null,
          this.skuprice = null,
          this.skumetaid = null,
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
