<template lang="html">
  <CModal
    title="Edit Skumasters"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="Name"
      placeholder="Edit Name Of The sku"
      v-model="name"
    />
    <CInput
      label="SKU Code"
      placeholder="Edit SKU Code"
      v-model="skucode"
    />
    <CInput
      label="SKU Price"
      placeholder="Edit SKU Price"
      v-model="skuprice"
    />

        <label>Select SKUMeta</label><br>
    <select v-model="skumeta" class="form-select custom-select" >
      <option v-for="(item , index) in skumetas"
        :key="item.id" :value="item.value"
        :selected="item.value == skuMasterEditData._id" 
       @update="changeMeta"
      >
        {{item.label}}/{{skuMasterEditData.name}}
        <!--  @update="changeMeta"  -->
        <!-- {{item.value }}/{{skuMasterEditData._id}} -->
      </option>
    </select>
  
    
    <template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="edit" color="success" >Edit</CButton>
    </template>
  </CModal>
</template>
<script>
import * as apis from '@/utils/api/skumasters'
import * as skumeta from '@/utils/api/skumetas'

export default {
  data () {
    return {
      skumeta : null,
      error: null,
      id:null,
      name: null,
      skucode: null ,
      skuprice : null ,
      modalVisible: false,
      list : [],
      skumetas : [],
      skuMasterEditData :[]
    }
  },
  mounted () {
    this.fetchList();
  },
  methods: {
    fetchList: function () {
      this.isLoading = true
      skumeta.fetchList()
        .then((response) => {
          this.isLoading = false
          if(response.data.status.status_code === 0) {
            this.list = response.data.payload
            if(this.list.length>0){

            this.list.map(item=>
              this.skumetas.push({
                value:item._id,
                label:item.name
              }));
            //console.log("skumeta is---- ",this.skumeta)
          
          }
          else{ 
           this.error  = "Please select SKUmeta!";
          }
          }
        })
    },

    changeMeta :function(value) {
      this.skumeta = value;
    },


    show: function(item) {
      this.skuMasterEditData = item.meta;
      console.log("skumaster item is ",this.skuMasterEditData)
      this.modalVisible = true
      this.id = item._id;
      this.name = item.name;
      this.skucode = item.skucode;
      this.skuprice = item.price;
    },
    edit: function() {
        let name = this.name.trim();
        let skucode = this.skucode.trim();
        let skuprice = this.skuprice.trim();
        let id = this.id;



      apis.update(id,{name:name,skucode:skucode,price:skuprice}).then((response) => {
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.name = null,
          this.skucode = null,
          this.skuprice = null,
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
