<template lang="html">
  <CModal
    title="Add New Department"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="Name"
      placeholder="Enter Name of the departments"
      v-model="name"
    />
    
    <template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="add" color="success" >Add</CButton>
    </template>
  </CModal>
</template>

<script>
import * as apis from '@/utils/api/departments'

export default {
  data () {
    return {
      error: null,
      name: null,
      modalVisible: false
    }
  },
  methods: {
    show: function() {
      this.modalVisible = true
    },
    add: function() {
      let name = this.name.trim()
    
      apis.add({
        name: name
      }).then((response) => {
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.name = null
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
