<template lang="html">
  <CModal
    title="Add New Node"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="Name"
      placeholder="Enter Name of the Node"
      v-model="name"
    />
    <CSelect
        label="Select Location Name"
        custom
        @update:value="changeLocation"
        :options="options"
        placeholder="Please select"
      />
      <CSelect
        label="Select Department Name"
        custom
        @update:value="changeDepartment"
        :options="options1"
        placeholder="Please select"
      />
    
    <template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="add" color="success" >Add<CSpinner color="black" size="sm" v-if="isLoading" style="margin:0px 2px"/></CButton>
    </template>
  </CModal>
</template>

<script>
import * as apis from '@/utils/api/nodes'
import * as location_api from '@/utils/api/locations'
import * as department_api from '@/utils/api/departments'

export default {
  data () {
    return {
      isLoading:false,
      error: null,
      name: null,
      options: [],
      options1 : [] ,
      locationid : null,
      modalVisible : false
    }
  },

   mounted(){
     location_api.allLocationList()
        .then(response=>{
          let data = response.data.payload;
          console.log("locations",data);
            data.map(item=>this.options.push({value:item._id,label:item.name}));

           
          })
        
        department_api.fetchList()
        .then(response=>{
          let data = response.data.payload;
          if(data.length>0){
            data.map(item=>this.options1.push({value:item._id,label:item.name}));

           
          }else{ 
           this.error  = "Please Select Department!";
          }
        })
        .catch(err=>{
          this.error = err.message
        })
        
        },
  methods: {
    show: function() {
      this.modalVisible = true
    },

     changeLocation:function(value){
            let locationid = null;
            this.locationid=value;
},

 changeDepartment:function(value){
            let deparmentid = null;
            this.deparmentid=value;
},

    add: function() {
      this.isLoading = true
      let name = this.name.trim()
      let location_id = this.locationid
      let department_id = this.deparmentid
    
      apis.add({
        name : name,
        location_id : location_id,
        department_id :department_id 
      }).then((response) => {
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.name = null
          this.isLoading = true
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
