<template lang="html">
  <CModal
    title="Delete Node"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    Are you sure you want to delete <strong v-if="node != null"> {{ node.name }}</strong>?

    <template #footer>
      <CButton @click="modalVisible = false" color="default">Cancel</CButton>
      <CButton @click="deleteItem" color="danger" >Delete</CButton>
    </template>
  </CModal>
</template>

<script>
import * as apis from '@/utils/api/nodes'

export default {
  data () {
    return {
      error: null,
      node: null,
      modalVisible: false
    }
  },
  methods: {
    show: function(item) {
      this.node = item
      this.modalVisible = true

    },
    deleteItem: function() {

      apis.deleteNode(this.node._id).then((response) => {
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style>
</style>
