<template lang="html">
  <CModal
    title="Supplier / Consumer Node"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <div>
    
      <CCol >
        <CCard>
          <CCardBody>
            <h3 v-model="name">{{name}}</h3>
           
            <CTabs variant="pills">
              
              <CTab title="Suppliers" active @click="fetchSupplier" >
            <table class="table table-stripped">
             
                <tr>
              <th>Supplier Node Name</th>
              <th>SKU Name</th>
            </tr>
             <tr v-for="(data,index) in consumer">
              <td>{{data.child.name}}</td>
              <td>{{data.skumaster.sku.name}}</td>


              <td class="text-right"></td>
            </tr>
              </table>
                
              </CTab>
              <CTab title="Consumers" @click="fetchConsumer">
                
                <table class="table table-stripped">
                <tr >
              <th>Consumer Node Name</th>
              <th>SKU Name</th>
            </tr>
             <tr v-for="(data,index) in supplier">
              <td>{{data.supplier.name }}</td>
              <td>{{data.skumaster.sku.name }}</td>
              <td class="text-right"></td></tr>
              </table>
                </CTab>
                 
              </CTabs>
             
          </CCardBody>
        </CCard>
      </CCol>
    </div>
     
     <template #footer>
      <CButton @click="modalVisible = false" color="default">Cancel</CButton>
      </template>
  </CModal>
</template>

<script>
import * as apis from '@/utils/api/nodemaps'

export default {
  data () {
    return {
      error: null,
      list : [],
      supplier : [] ,
      consumer : [] ,
      id:null,
      name:null,
      modalVisible: false,
      isLoading : true
    }
  },
  mounted: function () {
   // this.fetchList()
    
  },
  methods: {
    show: function(item) {
      console.log(item)
      this.id = item._id;
      this.name = item.name;
      this.modalVisible = true;
      this.fetchSupplier()
    this.fetchConsumer()

    },

   

      fetchSupplier : function () {
        this.isLoading = true 
        apis.fetchSupplierList(this.id) 
          .then((response) =>{

           this.isLoading = false
            if(response.data.status.status_code === 0){
              this.supplier = response.data.payload 
              console.log(this.supplier)
            }

          })
        },

          fetchConsumer : function () {
        this.isLoading = true 
        apis.fetchConsumerList(this.id) 
          .then((response) =>{
            this.isLoading = false
            if(response.data.status.status_code === 0){
              this.consumer = response.data.payload 
            }
          
        })
        }
      

   }
}
</script>

<style>
</style>
