<template>
<div class="col-md-12 col-xs-12">
	<div style="background-color: white">
	<p class="ml-3 pt-3">SEARCH<br>SKU:</p>	
		 <p class="first-searchbox"> <i class="fa fa-search icon-color pb-3 "></i>
	 <input type="text" 
        placeholder="Search"class=" ml-2"></p> 

<div class="second-searchbox">
       <p class=""> SEARCH <br>dropdown :
       </p>
       <p class="first-searchbox"> <i class="fa fa-search icon-color pb-3 "></i>
       	<!-- <div>
  <label class="typo__label">Select with search</label>
  <multiselect v-model="value" :options="options" :custom-label="nameWithLang" placeholder="Select one" label="name" track-by="name"></multiselect>
  <pre class="language-json"><code>{{ value  }}</code></pre>
</div> -->
	 <input type="text" 
        placeholder="Search"class=" ml-2"></p>
         </div>

          

        
          

      </div>
	<table class="table  mt-3" style="background-color: white">
		<tr>
			<th class="text-center">SKU <br>Code</th>
			<th class="text-center">SKU  Description</th>
			<th class="text-center">Node 1 <br>Required <br>Quantity</th>
			<th class="text-center">Node 2 <br>Required<br> Quantity</th>
			<th class="text-center">Node 3 <br>Required<br> Quantity</th>
			<th class="text-center">Node 4 <br>Required<br> Quantity</th>
			<th class="text-center">Node 5 <br>Required<br> Quantity</th>
			<th class="text-center">Total <br>Required<br> Quantity<br>(All Nodes)</th>
			<th class="text-center">Total<br>Available<br> Quantity</th>
			<th class="text-center">Zone<br>(selfnode)</th>
			<th class="text-center">Available Qty.Less <br>Than<br> Reuired.Qty</th>
			<th class="text-center">Re- <br>Allocation<br> Succesful(Y/N)</th>
			<th class="text-center">Priority</th>
			</tr>

			<tr>
				<td class="text-center">A 001</td>
				<td class="text-center">P1</td>
				<td class="text-center">50(15)</td>
				<td class="text-center">15</td>
				<td class="text-center">21</td>
				<td class="text-center">20</td>
				<td class="text-center">21</td>
				<td class="text-center">127</td>
				<td class="text-center">200</td>
				<td class="text-center">
					<button  class="btn greenbtn btntext  btnsize" >
					</button>
				</td>
				<td class="text-center">
					<button class="btn bluebtn btntext btnsize">+73</button>
					<td></td>
					<td></td>

				</td> 
			</tr>

			<tr>
				<td class="text-center">A 002</td>
				<td class="text-center">P2</td>
				<td class="text-center">20(3)</td>
				<td class="text-center">12</td>
				<td class="text-center">5</td>
				<td class="text-center">18</td>
				<td class="text-center">5</td>
				<td class="text-center">60</td>
				<td class="text-center">250</td>
				<td class="text-center">
					<button  class="btn greenbtn btntext  btnsize" >
					</button>
				</td>
				<td class="text-center">
					<button class="btn bluebtn btntext btnsize">+190</button>
					<td class="text-center">Y</td>
					<td></td>
					
				</td> 
			</tr>


			<tr>
				<td class="text-center">A 003</td>
				<td class="text-center">P3</td>
				<td class="text-center">10</td>
				<td class="text-center">10</td>
				<td class="text-center">30</td>
				<td class="text-center">30</td>
				<td class="text-center">10</td>
				<td class="text-center">90</td>
				<td class="text-center">60</td>
				<td class="text-center">
					<button  class="btn yellowbtn btntext  btnsize" >
					</button>
				</td>
				<td class="text-center">
					<button class="btn bluebtn btntext btnsize">-30</button>
					<td></td>
					<td></td>
					
				</td> 
			</tr>

			<tr>
				<td class="text-center">A 004</td>
				<td class="text-center">P4</td>
				<td class="text-center">100</td>
				<td class="text-center">10</td>
				<td class="text-center">90</td>
				<td class="text-center">10</td>
				<td class="text-center">45</td>
				<td class="text-center">255</td>
				<td class="text-center">600</td>
				<td class="text-center">
					<button  class="btn redbtn btntext  btnsize" >
					</button>
				</td>
				<td class="text-center">
					<button class="btn blackbtn btntext btnsize">+345</button>
					<td class="text-center">N</td>
					<td></td>
					
				</td> 
			</tr>
		
	</table>
</div>	

</template>

<script type="text/javascript">
import Multiselect from 'vue-multiselect'
	export default {
		name : 'DispatchReport',
		 components: {
             Multiselect
           },
		data () {
			return {

			}     // return closed
		}		// data closed
	}			// export default closed.
	

</script>

<style type="text/css">

.blackbtn {
	background-color:#727272;
} 
.redbtn {
	background-color:#fd4a1e;
}
.yellowbtn {
	background-color:#feba2c;
}
.greenbtn {
	background-color:#7cc925;
}
.bluebtn {
	background-color:#348afc;
}
.btntext {
	color: white;
}
.btnsize {
	width: 80px;
	height: 30px;
}
.first-searchbox {
    margin-left: 87px;
    margin-top: -48px;
}
.second-searchbox{
	margin-left: 313px;
    margin-top: -65px;
	} 
 .table td {
 	border-top-color: #f5f5f5;
 	padding: 0.0rem;
 	}  

</style>