
 <template>


  <div  class="container-fluid">
    <div class="vld-parent">
        <loading 
          :active.sync="isLoading"
          :can-cancel="true"
          :is-full-page="fullPage"></loading></div>

    <div v-show="expandedView">
      <ExpandedBarChart
        :barchartdata="barChartData"
        @fetchList="fetchList"
        @onExpand="onExpand"
      />
        <!-- expandedView = !expandedView -->
    </div>


     <!--  :on-cancel="onCancel" -->

    <div  v-show="!expandedView"  class="row" >
      <div v-show="!expandedView" class="col-lg-1 col-xs-12  sidebar-color" >
       <!--for vartical bar(1st section) -->
       <Sidebar
       :sidebardata="chartData"
       ref="verticalBarChart"
       />
      </div>
      <div :class="{'col-lg-8': !expandedView, 'col-lg-12': expandedView} ">
        <!-- for middle section-->

        <div class="row" v-show="!expandedView" >
          <div class="col-12 col-md-4">
            <div class="header-card card-size">
              <span class="header-text-first-card">Sales</span>

               <FirstCardChart
               ref="firstCardChart"
                class="card-chart-margin" />
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="header-card card-size">
              <span class="header-text-first-card">Deposite</span>
                <!-- <div class="sub-text2">$5769878.90</div> -->
                <SecondCardChart
                ref = "secondCardChart"
                class="card-chart-margin"/>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="header-card card-size">
              <div class="header-text pt-3">Deposite</div>
              <div class="sub-text3">$5769878.90</div>
            </div>
          </div>
        </div>
        <!--middle section card row clsoed-->

        <div class="row mt-3">
<!-- -->
          <div v-show="!expandedView" class="col-md-4 " >

            <div class="middlechart-style rounded-card">
                <Pie
                ref="pieChart"
                :piechartdata="chartData"
                />
            </div>

          </div>

         <!--  <div :class="{'col-12': true, 'col-md-8': !expandedView, 'col-md-12': expandedView}"> -->
         <div class="col-md-8">
              <div class="middlechart-style barchart-style rounded-card">
              <Chart
              :barchartdata="barChartData"
              @fetchList="fetchList"
              ref="horizontalBarChart"
              @onExpand="onExpand"
              />
              <!--@onExpand="expandedView = !expandedView"  -->
              <!-- </div> -->
          </div>
          </div>


        </div>
        <!--middlesection pie,bar chart row end -->

        <div  v-show="!expandedView" class="row mt-3 ">
          <div class="col-12 col-md-12">
            <div class="linechart-style rounded-card">
              <!-- <div class="card-body"> -->

                <LineChart
                  ref="bottomLinechart"
                  :linechartData="linechartData"
                 />

                 <!-- <tree/> -->

              <!-- </div> -->
            </div>
          </div>
        </div>

      </div>
       <!--column closed-->

       <!--table section (last section)-->

       <div v-show="!expandedView"  class="col-lg-3 col-12">
           <!--table section (last section)-->
         <div class="input-group  ">

           <!-- http://localhost:3000/api/nodeskus/search/ -->

       <!-- <autocomplete
        source="http://localhost:3000/api/nodeskus/search/"
        results-property="payload"
        results-display = "nodes.name"
        >
       </autocomplete> -->

    <autocomplete
      ref="autocomplete"
      @selected="addDistributionGroup"
      placeholder="Search Node And SKU"
      :source="distributionGroupsEndpoint"
      input-class="form-control"
      results-property="payload"
      :results-display="formattedDisplay"
      :request-headers="authHeaders">
    </autocomplete>
    <!--  -->

       <!-- :source = "onSerachBarClick"
            :results-property = "nodes"
            :results-display = "name"
        -->

     </div>
        <div class="toggle-button-container">
          <toggle-button

          class="mt-2 ml-2 toggle-button"
          @change="onToggleClick"
          :labels="{checked: 'Price', unchecked: 'Quantity'}"
          :width = 80
          :height=30
          :color = "{checked: '#348afc', unchecked: '#348afc'}"
          :switch-color ="{checked: 'white', unchecked:'white'}"
        />

        </div>
         <div class="firstTableHeight rounded-card">
            <SKUGreenTable
            :parentid="parentid"
            class="tabelstyle firsttable rounded-card"/>
         </div>
        <div class="secondTableHeight rounded-card">
           <skuInYellowTable
           ref="skuInYellowTable"
           class="tabelstyle secondtable"/>
        </div>
      </div>                  <!--table section closed-->


    </div>
  </div>
   </template>

<script>
  import Vue from '../../utils/sessionManager';
  const vue = new Vue();
  import tree from './dashboard/treechart.vue';
  import Chart from './dashboard/Barchart.vue';
  import Pie from './dashboard/Piechart.vue';
  import LineChart from './dashboard/Linechart.vue';
  import Sidebar from './dashboard/Sidebar.vue';
  import SKUGreenTable from './dashboard/skusInGreen.vue';
  import skuInYellowTable from './dashboard/skuInYellowTable.vue'
  import FirstCardChart from './dashboard/FirstCardChart.vue';
  import SecondCardChart from './dashboard/SecondCardChart.vue';
  import ExpandedBarChart from './dashboard/ExpandedBarChart'
  import {BASE_URL} from '@/utils/urlConstants.js'

  import { ToggleButton } from 'vue-js-toggle-button'
  import * as apis from '@/utils/api/locations';
  import * as UserApis from '@/utils/api/users';
  import * as nodesku from  '@/utils/api/nodeskus'

  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';

  import { AutoCompletePlugin } from '@syncfusion/ej2-vue-dropdowns';
  import Autocomplete from 'vuejs-auto-complete'
  import VueSuggestion from 'vue-suggestion'
  import Suggestions from 'v-suggestions'
  import 'v-suggestions/dist/v-suggestions.css'




export default {
  name: 'Dashboard',
  components: {
    Chart,
    Pie,
    SKUGreenTable,
    skuInYellowTable,
    LineChart,
    Sidebar,
    ToggleButton,
    FirstCardChart,
    SecondCardChart,
    Loading,
    Autocomplete,
    VueSuggestion,
    Suggestions,
    ExpandedBarChart,
    tree
  //AutoCompletePlugin
},
  data () {

    return {
      lastChartData  : [],
      linechartData: [],
      serachBoxCharacter : "",
      nodeSKUSearchResult  : null,
      parentid : null ,
      chartData : [] ,
      barChartData :[],
      newData : [],
      flag:false,
      isLoading: false,
      fullPage: true,
      expandedView: false
    }
  },
  mounted: function () {
    // this.loading = true
    this.fetchList(null, 1);
  },

  methods: {

    onExpand :function(parentid) {
      console.log("onexpand clicked")
      this.expandedView = !this.expandedView




          //else closed.
  },



    // for serch box on dashboard
  distributionGroupsEndpoint (input) {
      //console.log("input is +++",input)
      return  BASE_URL + '/api/user/me/search/' + input

  },
  addDistributionGroup (group) {
    let id =group.selectedObject._id

    // console.log("group is ",group.selectedObject._id)
    this.group = group
    // access the autocomplete component methods from the parent
    this.$refs.autocomplete.clear()
    this.$router.push(
          {path:`/admin/nodestocknorm/${id}`,props: true })
  },

  formattedDisplay (result) {
      return result.name
    // + ' [' + result.groupId + ']'
  },

  onSerachBarClick (event) {
     //this.serachBoxCharacter


    nodesku.searchNodeSKUName(event)
    .then((response) => {

      let ansArray;
      this.nodeSKUSearchResult = response.data.payload
      console.log("return data is",this.nodeSKUSearchResult)
       //return this.nodeSKUSearchResult
      })
},
    displayNodeSKUName (result){
     return result.name
    },

// if toggle button clicked
   onToggleClick :function(flag) {
    this.flag = true;

    //true or !flag

      this.$refs.bottomLinechart.toggleButtonChange(flag)
      this.$refs.horizontalBarChart.toggleBarChart(flag)
      this.$refs.pieChart.togglePieChart(flag)
      this.$refs.verticalBarChart.toggleVerticalBarChart(flag)
      this.$refs.firstCardChart.toggleFirstCardChart(flag);
      this.$refs.secondCardChart.toggleSecondCardChart(flag);


    },

    fetchList:function (parentid, level) {
      //this.isLoading = true
      //console.log("parentid is",parentid)
      //this.parentid = parentid;

      UserApis.getDashboardData(parentid, level, "12/05/2020")
        .then((response) => {
          console.log("@@@@@@@@ dashbaord response", response.data);
          this.barChartData = response.data.payload.stock;
          this.chartData = response.data.payload.summary[0];
          this.linechartData = response.data.payload.history;
        });

        return;
  //     apis.fetchList()
  //     .then((response)=> {
  //        //console.log("payload is",response.data.payload)
  //       if(response.data.payload.length!=0){

  //        this.chartData = response.data.payload;
  //        console.log("dashboard data is",this.chartData)
  //         let barChartid  = this.chartData[0]._id
  //         //console.log("currentData is +++",this.chartData[0]._id)
  //         this.isLoading = false
  //        if(parentid==undefined){
  //         apis.fetchList(barChartid)
  //         .then((response)=>{
  //           this.barChartData = response.data.payload;
  //           this.lastChartData = this.barChartData


  //         })
  //       }    ///if closed.
  //       else{
  //         for(let i=0;i<this.lastChartData.length ;i++){
  //           if(this.lastChartData[i]._id==parentid){
  //             this.chartData = this.lastChartData[i]
  //           }
  //         }
  //         apis.fetchList(parentid)
  //         .then((response)=>{
  //           this.barChartData = response.data.payload;

  //         })
  //       }   //innner eles closed
  // }
  //       else {
            // alert("Node Not Found");
  //           window.location.reload();

  //       }

  //        }) // response closed


      if(parentid==undefined) {
        apis.fetchList()
        .then((response)=>{
          if(response.data.payload.length!=0){
             this.chartData = response.data.payload;
             console.log('this.chartData',this.chartData)
          console.log("dashboard data is",this.chartData)
           let barChartid  = this.chartData[0]._id;
            this.isLoading = false;
             apis.fetchList(barChartid)
           .then((response)=>{
             this.barChartData = response.data.payload;
             this.lastChartData = this.barChartData
           })
          }     //innner if closed
          else{
             // alert("Node Not Found");
             window.location.reload();
          }       //inner else closed
        })       // resonce clsoed

      }      //outer if closed.
      else {
        console.log("else excued")

          for(let i=0;i<this.lastChartData.length; i++){
            if(this.lastChartData.length == 0) {
               // alert("Node Not Found")
              window.location.reload();
            }
            if(this.lastChartData[i]._id==parentid){
              this.chartData = [];
              this.chartData.push(this.lastChartData[i])
              console.log("this.chartData",this.chartData)
            }
          } //for closed.

             apis.fetchList(parentid)
           .then((response)=>{
            if (response.data.payload.length!=0) {
              this.barChartData = response.data.payload;
            }
            else{
               // alert("Node Not Found");
             window.location.reload();
            }



         })
      }     //else closed.





    }    // fetchList closed








  },      // method clsoed
  computed: {
    authHeaders () {
      return {
        'Authorization': 'Bearer ' + vue.getToken()
      }
    },
  },
}        // export default closed
</script>

<style>
  /*@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
  @import "../../node_modules/@syncfusion/ej2-vue-dropdowns/styles/material.css";*/


  .sub-text1 {
    color :#7cc925;
    margin-left: 20px;
    /*font-size: 24px;*/
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
  }
  .sub-text2 {
    color: #feba2c;
    margin-left: 20px;
    /*font-size: 24px;*/
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
  }
  .sub-text3 {
    color: #348afc;
    margin-left: 20px;
    /*font-size: 24px;*/
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    /*font-size: 24px;*/

  }

  .card-size {

    height:80px;
    border-radius: 7px;
    }

  .rounded-card {
    border-radius: 7px;
  }  

  .header-text-first-card {
    margin-left: 20px;

  }
  .header-text {
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-size: 16px;
  }
  .header-card {
    background-color: #ffffff;

  }
  .linechart-style {
    background-color: #ffffff;
    border :1px solid white;
    height: 325px;
  }
  .middlechart-style {
    background-color: #ffffff;
    border :1px solid white;
    height: 200px;
  }

  .firstTableHeight {
    height: 200px;
    width: 228px;
    background-color: white;
    margin-top: 15px;
  }
  .secondTableHeight{
    /*height: 290px;*/
    height: 285px;
    /*width: 228px;*/
    width: 230px;
    background-color: white;
  }
  .card-chart-margin {
    margin-top: -26px;
  }
  .sidebar-color {
    height: 500px;
  }

  .search-button-background-color {
    background-color: #074395;
  }
  .search-icon-color
  {
    color: white;
  }

  .input-group {
    width: 222px;
  }


  @media  (max-width: 767px) {
    .header-card{
      margin-top:15px;

    }

    .barchart-style {
      margin-top: 15px;
    }

    .toggle-button-container {
      padding-top: 10px;
    }

    .toggle-button {
      margin-left: 95px;

    }

    .firstTableHeight {
      margin-top: 0px;
      margin-left: 32px;
    }
    .secondTableHeight {
      margin-top: 0px;
      margin-left: 32px;
    }
  }
</style>
