<template>
	<div class="container">
		<CCard>
		<CCardBody>
			<table class="table ">
				<tr >
				  <th class="table-header">SKU Code</th>
				  <th class="table-header ">SKU Name</th>
				 
				  <th class="table-header">Stock Norm</th>
          <template v-for="date in Dates">
          <th class="table-header">{{date}}</th></template>
				 <!--  <th class="table-header">1st July</th>
				  <th class="table-header">2nd July</th>
				  <th class="table-header">3rd July</th>
				  <th class="table-header">4th July</th>
				  <th class="table-header">5th July</th>
				  <th class="table-header">6th July</th>
				  <th class="table-header">7th July</th> -->
				</tr>

	 <tr  @click = "rowwisedata(item,key)" :class="key === selectedRow ? 'custom-highlight-row' : ''" class="data-font" 
       v-for="(item,key) in result" :key="key">

       <td class="">{{item.sku.skucode}}</td>
       <td  class="name-align ">{{item.sku.name}}</td>
       
       <td>{{item.stock_norm}}</td>
       
<template v-for="(data,index) in item.stock">

  <td v-if="data.availability_zone==0">
    <button  class="btn blackbtn btntext" >
      {{data.stock}}/{{data.stock_norm}} </button>

  <td v-else-if="data.availability_zone==1 ">
   <button class="btn redbtn btntext">
    {{data.stock}}/{{data.stock_norm}} </button>

   <td v-else-if="data.availability_zone==2 ">
     <button class="btn yellowbtn btntext">
        {{data.stock}}/{{data.stock_norm}} </button>

     <td v-else="item.availability_zone==3 ">
        <button class="btn greenbtn btntext">
       	   {{data.stock}}/{{data.stock_norm}} </button>

</td>
</template>
       

</tr> 
				
	</table>
	</CCardBody>
	</CCard>

<!-- chart  -->

<CCard v-if='stockdata.length!=0'>
	<CCardBody>
    <!-- v-for="(item,index) in list" -->
    <div class="d-flex justify-content-between" >
      <div>Supplier Name:{{supplierName}}</div>
    
    <div> Instances In Black In<br>the selected period:{{instancesInBlack}}</div>
      <div>Instances In Red In<br>the selected period:{{instancesInRed}}</div>
      <div>Percetage Days in each <br>Zone (Bu/G/Y/R/BK/0/05/20/30/0</div>
      
    </div>
		<div id="chart" > 
      <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
    </div>
	</CCardBody>
</CCard>
</div>
</template>


<script>

import VueApexCharts from 'vue-apexcharts'
import * as stocktrend from "@/utils/api/stocktrend"

export default {
    name:"stocktrend",
    components: {
       apexchart: VueApexCharts
    },

    data () {
    	return {
        Dates : ['25oct','26oct','27oct','28oct','29oct','30oct','31oct '],
        supplierName : null,
        instancesInBlack: 0,
        instancesInRed :0,
        selectedRow: null,
        result : [],
    		stockdata :[],

    		 //for bar chart 
        series :[
            {
            data:[]
            }
        ],
        chartOptions: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            
            //colors :['#595959','#ff0000','#ffff00','#008000'],  
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Daily SNS Report',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: [],
                
                colors: ['#7cc925','#feba2c','#fd4a1e'],
              //'#595959',==black
             //'#ff0000',==red
             //'#ffff00',== yellow
            //'#008000',==green
            //'#0000ff' ==blue
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories :[],
               
              title: {
                text: 'dates'
              },
              labels: {
              //   show: true,
              //   formatter: this.lineChartLabelFormatter
               },
              axisTicks: {
                show: true
              }
            },
            yaxis: {
              title: {
                text: ''
              },
              // beginAtZero: true,
              tickAmount :3,
                                min: 0,
                                // steps:4 ,
                                // stepValue: 33,
                                //max: 60
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          }  //chart option closed


    	} // return in data closed
    } ,   // data  varible closed

    mounted: function () {
    	this.fetchList() ;

    } , //mounted closed

    methods : {
    	lineChartLabelFormatter : function(value) {
    //console.log("formatter value ", value);
    return this.chartOptions.xaxis.categories[value];
  },
     

     // fetchList for table data

      fetchList: function () {
    this.isLoading = true
    stocktrend.fetchList()
      .then((response) => {
      this.isLoading = false
      this.result = response.data.payload  

      // console.log("dailysns result",this.result)
  })  //reponse closed
 
  } , // fetchList Closed


  // function for linechart data

        rowwisedata:function(item,idx) {
           // console.dir(idx)
           console.log("item is",item)
           this.supplierName = item.node.name;
           this.selectedRow = idx;
            this.one = true;

        	//console.log("stock norm on click",item.stock_norm)
          this.stockdata =[];
           this.chartOptions.xaxis.categories =[];
           this.chartOptions.yaxis.max= item.stock_norm;

           this.isLoading = true
          stocktrend.fetchList(item.sku.id)
          .then((response) => {
          this.isLoading = false
          this.dailysnsresult = response.data.payload
          // console.log("dailysnsresult",this.dailysnsresult)
         

             
             let chartOptions = this.chartOptions;
             this.dailysnsresult.map(item=>{
              item.stock.map(data=>{
                //console.log("year is",new Date(data.date).getUTCFullYear())
                let daymonth="";
                let day = new Date(data.date);
                let actualday= day.getUTCDate();
                let month = new Date(data.date).toLocaleString('default',{ month: 'short' })
                let ans = daymonth.concat(actualday,month)
              // console.log("daymonth is ",daymonth.concat(actualday,month))
                chartOptions.xaxis.categories.push(ans)
                //chartOptions.xaxis.categories.push(data.date)
                this.stockdata.push({stock:data.stock})

              })
             })


            
      let seriesData = [
            {
              name:"stock",
              "data":[]
            }
            ]
            this.instancesInBlack = null;
             this.instancesInRed = null;
            for(let i=0;i<this.stockdata.length;i++) {
              if(this.stockdata[i].stock==0 ){
                
                this.instancesInBlack++
              }
              if(this.stockdata[i].stock>0 && this.stockdata[i].stock<30 ){

                this.instancesInRed++
              }
        seriesData[0].data.push(this.stockdata[i].stock)
        
        }
        this.series = seriesData;
          // console.log("series data ",this.series)
        //console.log("x axis is", this.chartOptions.xaxis.categories)

      
    })  // response closed
       
        },  //rowwisedata function closed




    }  //methods closed

    }   /// export closed


	
</script>

<style scoped="">


.btn {
  width: 74px!important;
}
	
	.table-header {
    font-size:11px;
    padding: 5px
  }

  .table th, .table td {
  padding: 1px;
  text-align: center;
   }

   .table td {
    border-top-color: #f5f5f5;
    text-align: center!important;
    vertical-align: top;
    width: 10px;
   }

   .table tr {
    line-height: 1.5em;
   }


.blackbtn {
  background-color: #696969;

}
.redbtn {
  /*background-color: red;*/
  /*background-color: #ff1919;*/
  background-color: #ff1a1a;
}
.yellowbtn {
   /*background-color: #FFFF66;*/
   /*background-color: #FFFF00;*/
   background-color: 	#FFD700;

}
.greenbtn {
  background-color: #32CD32;
}
.txtcolor {
  color: white;
}

.btntext {
  color: white;
/*  width: 10px;
*/  /*font-weight:bold;*/
}
.btn {
  line-height: 0.5;
  /*font-weight: 100;*/
  width:70px;
}

.name-align {
text-align: left !important;

}
.clickedRow {
  background-color: blue;
}

.custom-highlight-row{
  background-color:#1E90FF
}


</style>