<template lang="html">
  <CModal
    title="Add Node-Map"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

     <label ><input type="checkbox" v-model="checked" style="margin-right:5px"> Import Raw Material</label>

    <CInput v-if="checked"
      label="SupplierSKUCode"
      placeholder="SupplierSKUCode"
      v-model="supplier_sku_code"

    />
    <CInput v-if="checked"
      label="ChildSKUCode"
      placeholder="ChildSKUCode"
      v-model="child_sku_code"
    />
     <!-- @change:value= "fetchSkuByNodeList" -->

    <CSelect 
        label="Select Consumer Node"
        custom
        @update:value="changechildnode"
       :options="options"
        placeholder="Please Select"
      />


    <CSelect
        label="Select SKU Name"
        custom
        @update:value="changeskuname"
        :options="skulist"
        placeholder="Please Select"
      />
      <CSelect 
        label="Select Supplier Node"
        custom
        @update:value="changesuppliernode"
      :options="options"
        placeholder="Please Select"
      />

      <CInput 
      label="Supply Quantity [Percentage]"
      placeholder="Enter Supply Quantity "
      v-model="supplyquantity"

    />
      
    
    
    <template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="add" color="success" >Add</CButton>
    </template>
  </CModal>
</template>

<script>
import * as apis from '@/utils/api/nodemaps'
//import * as skumaster_api from '@/utils/api/skumasters'
import * as node_api from '@/utils/api/nodes'
import * as node_sku from '@/utils/api/nodeskus'


export default {
  
  data () {
    return {
      error : null,
      skumasterid : null,
      suppliernodeid : null,
      childnodeid : null,
      name : null,
      skucode : null,
      supplier_sku_code : null,
      child_sku_code : null,
      supplyquantity : null,
      modalVisible : false,
      id : null,
      skulist : [],
      skuname :[],
      options : [],
      checked : false
    }
  },
  
  mounted(){
     
      node_api.fetchList()
        .then(response=>{
          let data = response.data.payload;
         
          if(data.length>0){
            data.map(item=>this.options.push({value:item._id,label:item.name}));
          
          }else{ 
           this.error  = "Please select nodename!";
          }
        })
        .catch(err=>{
          this.error = err.message
        })

        },
  
  methods: {

       changeskuname:function(value){
              let skumasterid=null;
                this.skumasterid=value;
                console.log("sku"+this.skumasterid)
},

     changesuppliernode:function(value){
          let suppliernodeid = null;
          this.suppliernodeid = value;
    //console.log("suppliernode"+this.suppliernodeid)
      
    },
      changechildnode:function(value){
        let childnodeid = null ;
        this.childnodeid = value;

      console.log("childnode"+this.childnodeid)

        // node_sku.fetchSKUByNodeList(this.childnodeid) 
        //   .then((response) =>{
        //    this.isLoading = false
        //     if(response.data.status.status_code === 0){
        //     let skuname = response.data.payload

        //   if(skuname.length>0){
        //     skuname.map(item=>this.skulist.push({value:item._id,label:item.sku.name}));
          
        //   }else{ 
        //    this.error  = "Please select skuname!";
        //   }
        //     }

        //   })



         node_sku.fetchSKUByNodeList(this.childnodeid) 
          .then((response) =>{
           this.isLoading = false
            if(response.data.status.status_code === 0){
              //let skuname =[];
           this.skuname = response.data.payload
            console.log("skuname",this.skuname)
            //this.skulist = [],
            this.skuname.map(item=>this.skulist.push({value:item._id,label:item.sku.name}));
          
          }

          })
        },

        show: function() {
      this.modalVisible = true;
    
    },

 add: function() {

      let supplyquantity = this.supplyquantity ;
        let supplier_sku_code = this.supplier_sku_code;
        let child_sku_code = this.child_sku_code;
        let childnode_id = this.childnodeid;
        let skumaster_id = this.skumasterid;
        let suppliernode_id =  this.suppliernodeid ;
        console.log(childnode_id);
        console.log(skumaster_id);
        console.log(suppliernode_id);
      
      apis.add({
        supply_quantity : supplyquantity ,
         supplier_sku_code : supplier_sku_code,
         child_sku_code : child_sku_code,
         childnode_id : childnode_id,
         skumaster_id : skumaster_id,
         suppliernode_id : suppliernode_id 
         

        }).then((response) => {
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.supply_quantity = null
          this.supplier_sku_code = null
          this.child_sku_code = null
          this.skumasterid = null
          this.childnodeid = null
          this.suppliernodeid = null
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}

</script>

<style lang="css" scoped>
</style>





 
