<template lang="html">
  <CModal
    title="Edit nodemap"
    :show.sync="modalVisible">

    <CAlert show color="danger" v-show="error != null && error != ''">{{ error }}</CAlert>

    <CInput
      label="SupplierSKUCode"
      placeholder="Enter Name Of The SupplierSKUCode"
      v-model="supplier_sku_code"
    />
    <CInput
      label="ChildSKUCode"
      placeholder="Enter Name Of The ChildSKUCode"
      v-model="child_sku_code"
    />
    
    <template #footer>
      <CButton @click="modalVisible = false" color="danger">Discard</CButton>
      <CButton @click="edit" color="success" >Edit</CButton>
    </template>
  </CModal>
</template>
<script>
import * as apis from '@/utils/api/nodemaps'

export default {
  data () {
    return {
      error: null,
      id:null,
      supplier_sku_code: null,
      child_sku_code:null,
      modalVisible: false
    }
  },
  methods: {
    show: function(item) {
      this.modalVisible = true
      this.id = item._id;
      this.supplier_sku_code = item.supplier_sku_code;
      this.child_sku_code = item.child_sku_code;
    },
    edit: function() {
        let supplier_sku_code =this.supplier_sku_code;
        let child_sku_code = this.child_sku_code.trim()
        let id = this.id;


      apis.update(id,
      {supplier_sku_code:supplier_sku_code,child_sku_code:child_sku_code})
        .then((response) => {
        if(response.data.status.status_code === 0) {
          this.$emit("reload")
          this.supplier_sku_code= null;
          this.child_sku_code = null
          this.modalVisible = false
        } else {
          this.error = response.data.status.message
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
