<template lang="html">
  <div>
    <CCard>

      <CCardHeader>
        <strong>NodeMaps</strong>
        <div class="card-header-actions">
          <CButton class="btn btn-info btn-sm" @click="showAdd">
            Add New
          </CButton>
        </div>
      </CCardHeader>
      <CCardBody>
        <CRow>

          <table class="table table-stripped" v-if="null != list && list.length > 0">
            <tr>
             <th>Supplier</th>
              <th>Consumer</th></th>
              <th>Supply Quantity</th>
              <th></th>
             </tr>

            <tr v-for="(item, index) in list" :key="index">
             <td>{{ item.supplier.name}}</td>
              <td>{{ item.child.name}}</td>
              <td>{{item.supply_quantity}}</td>
              <!--   <td>{{ item.supplier_sku_code}}</td>
              <td>{{ item.child_sku_code}}</td>
              <td>{{item.supply_quantity}}</td> -->
 
                <td class="text-right">
                <CButton
                  size="sm"
                  class="btn btn-warning btn-sm"
                  style="margin-right: 5px;"
                   @click="editItem(item)"
                  title="Edit">
                  <CIcon :height="12" :content="$options.freeSet.cilPencil" class="text-white"/>
                </CButton>
                <CButton
                  size="sm"
                  class="btn btn-danger btn-sm"
                  @click="deleteItem(item)"
                  title="Delete">
                  <CIcon :height="12" :content="$options.freeSet.cilTrash" class="text-white"/>
                </CButton>
              </td>
            </tr>
          </table>
          <CAlert class="w-100 text-center alert-warning" v-if="null != list && list.length == 0">No records found</CAlert>
        </CRow>
      </CCardBody>
    </CCard>
    <AddModal ref="addModal"  @reload="fetchList" />
    <EditModal ref="editModal" @reload="fetchList" />
    <DeleteModal ref="deleteModal" @reload="fetchList" />
  </div>
</template>

<script>
import { freeSet } from '@coreui/icons'
import AddModal from './Add'
import DeleteModal from './Delete'
import EditModal from './Edit'

import * as apis from '@/utils/api/nodemaps'

export default {
  name: "nodemaps",
  freeSet,
  components: {AddModal, DeleteModal,EditModal},
  data () {
    return {
      list: [],
      name :null,
      isLoading: false,
      supplier_sku_code : null ,
      child_sku_code : null,
      supply_quantity : null,

    }
  },
  mounted: function () {
    this.fetchList()
  },
  methods: {
    showAdd: function() {
      this.$refs.addModal.show()
    },
    deleteItem: function(item) {
      this.$refs.deleteModal.show(item)
      //console.log(item)
    },
     editItem: function(item) {
      this.$refs.editModal.show(item)
      //console.log(item)
    },
    fetchList: function () {
      this.isLoading = true
      apis.fetchList()
        .then((response) => {
          this.isLoading = false
          if(response.data.status.status_code === 0) {
            //console.log(response.data.payload)
            this.list = response.data.payload
            // console.log(this.list)
           

          }
        })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
